{% load widget_tweaks %}

{% if lista_reservaciones|length > 0 %}
<ul class="list-group">
	{% for reservacion in lista_reservaciones  %}
	<a href="#" class="list-group-item" data-toggle="modal" data-target="#modal-reservacion-{{ reservacion.objeto.pk }}">
		<span class="label label-info">
			{{ LABEL_PACIENTE }}
			{{ reservacion.objeto.intervencion_quirurgica.paciente }}
		</span>
		<span class="pull-right">
			<small>
				<strong>
					{{reservacion.objeto.fecha_reservacion}}
				</strong>
			</small>
		</span>
	</a>
	<div class="modal fade" id="modal-reservacion-{{ reservacion.objeto.pk }}" tabindex="-1" role="dialog" aria-labelledby="titulo-detalles-solicitud" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="titulo-detalles-solicitud">
						Detalles de Solicitud - Paciente
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="formulario-solicitud-quirofano-{{ reservacion.objeto.pk }}" role="form" action="#" method="POST" novalidate>
						{% csrf_token %}
						<input type="hidden" name="reservacion-pk" value="{{reservacion.objeto.pk}}" />
						<div id="datos-paciente-{{ reservacion.objeto.pk }}">
							<div class="form-group" id="nombre-apellido-paciente-form-group">
								<label class="col-lg-2 control-label" for="nombre-paciente">
									{{ LABEL_NOMBRE }}
								</label>
								<div class="col-lg-4">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.nombre_paciente class="form-control" id="nombre-paciente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="nombre-paciente-error-help">{{ reservacion.formulario.nombre_paciente.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.nombre_paciente class="form-control" id="nombre-paciente" disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.nombre_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresNombrePaciente();
								});
								</script>
								{% endif %}
								<label class="col-lg-2 control-label" for="apellido-paciente">
									{{ LABEL_APELLIDO }}
								</label>
								<div class="col-lg-4">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.apellido_paciente class="form-control" id="apellido-paciente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="apellido-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="apellido-paciente-error-help">{{ reservacion.formulario.apellido_paciente.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.apellido_paciente class="form-control" id="apellido-paciente" disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.apellido_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresApellidoPaciente();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="cedula-genero-paciente-form-group">
								<label class="col-lg-2 control-label" for="cedula-paciente">
									{{ LABEL_CEDULA }}
								</label>
								<div class="col-lg-4">
									<div class="input-group">
										{% if tipo == "pendiente" %}
										<div class="input-group-btn">
											<button class="btn btn-default dropdown-toggle" id="cedula-paciente-nacionalidad-{{ reservacion.objeto.pk }}" type="button" data-toggle="dropdown">
												<span id="cedula-paciente-nacionalidad-texto-{{ reservacion.objeto.pk }}"></span>
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a id="cedula-paciente-nacionalidad-cambiar-{{ reservacion.objeto.pk }}" href="#" onclick="cambiarNacionalidadCedulaPaciente({{ reservacion.objeto.pk }})">E-</a></li>
											</ul>
										</div>
										{% render_field reservacion.formulario.nacionalidad_paciente id="cedula-paciente-nacionalidad-input-" id+=reservacion.objeto.pk %}
										{% render_field reservacion.formulario.cedula_paciente class="form-control" id="cedula-paciente-" id+=reservacion.objeto.pk %}
										<script type="text/javascript">
										$(function() {
											inicializarNacionalidadCedulaPaciente({{ reservacion.objeto.pk }});
										});
										</script>
										{% else %}
										<input class="form-control" id="cedula-paciente" type="text" value="{{ reservacion.objeto.intervencion_quirurgica.paciente.cedula }}" disabled>
										{% endif %}
									</div>
									{% if tipo == "pendiente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="cedula-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="cedula-paciente-error-help">{{ reservacion.formulario.cedula_paciente.errors }}</span>
									<span class="help-block hidden" id="cedula-paciente-nacionalidad-error-help">{{ reservacion.formulario.nacionalidad_paciente.errors }}</span>
									{% endif %}
								</div>
								{% if reservacion.formulario.nacionalidad_paciente.errors %}
								<script type="text/javascript">
								$(function(){
									mostrarErroresNacionalidadCedulaPaciente();
								});
								</script>
								{% endif %}
								{% if reservacion.formulario.cedula_paciente.errors %}
								<script type="text/javascript">
								$(function(){
									mostrarErroresCedulaPaciente();
								});
								</script>
								{% endif %}
								<label class="col-lg-2 control-label">
									{{ LABEL_GENERO }}
								</label>
								<div class="col-lg-4" id="radios-genero-paciente">
									{% for radio in reservacion.formulario.genero_paciente %}
									<label class="radio-inline">
										{% if tipo == "pendiente" %}
										{% render_field radio %}
										{% else %}
										{% render_field radio %}
										{% endif %}
									</label>
									{% endfor %}
									{% if tipo == "pendiente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="genero-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="genero-paciente-error-help">{{ reservacion.formulario.genero_paciente.errors }}</span>
									{% endif %}
								</div>
								{% if reservacion.formulario.genero_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresGeneroPaciente();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="fecha-nacimiento-telefono-paciente-form-group">
								<label class="col-lg-2 control-label" for="fecha-nacimiento-paciente">
									{{ LABEL_FECHA_NACIMIENTO }}
								</label>
								<div class="col-lg-3">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.fecha_nacimiento_paciente class="form-control" id="fecha-nacimiento-paciente" type="date" %}
									<span class="help-block hidden" id="fecha-nacimiento-paciente-error-help">{{ reservacion.formulario.fecha_nacimiento_paciente.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.fecha_nacimiento_paciente class="form-control" id="fecha-nacimiento-paciente" type="date" disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.fecha_nacimiento_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresFechaNacimientoPaciente();
								});
								</script>
								{% endif %}
								<label class="col-lg-2 control-label" for="codigo-telefono-paciente">
									{{ LABEL_TELEFONO }}
								</label>
								<div class="col-lg-2">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.codigo_telefono_paciente class="form-control" id="codigo-telefono-paciente" placeholder=LABEL_CODIGO_TELEFONO %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="codigo-telefono-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="codigo-telefono-paciente-error-help">{{ reservacion.formulario.codigo_telefono_paciente.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.codigo_telefono_paciente class="form-control" id="codigo-telefono-paciente" placeholder=LABEL_CODIGO_TELEFONO disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.codigo_telefono_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresCodigoTelefonoPaciente();
								});
								</script>
								{% endif %}
								<div class="col-lg-3">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.numero_telefono_paciente class="form-control" id="numero-telefono-paciente" placeholder=LABEL_NUMERO_TELEFONO %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="numero-telefono-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="numero-telefono-paciente-error-help">{{ reservacion.formulario.numero_telefono_paciente.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.numero_telefono_paciente class="form-control" id="numero-telefono-paciente" placeholder=LABEL_NUMERO_TELEFONO disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.numero_telefono_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresNumeroTelefonoPaciente();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="diagnostico-ingreso-paciente-form-group">
								<label class="col-lg-2 control-label" for="diagnostico-ingreso-paciente">
									{{ LABEL_DIAGNOSTICO }}
								</label>
								<div class="col-lg-10">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.diagnostico_ingreso_paciente class="form-control" id="diagnostico-ingreso-paciente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="diagnostico-ingreso-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="diagnostico-ingreso-paciente-error-help">{{ reservacion.formulario.diagnostico_ingreso_paciente.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.diagnostico_ingreso_paciente class="form-control" id="diagnostico-ingreso-paciente" disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.diagnostico_ingreso_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresDiagnosticoIngresoPaciente();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="servicios-operatorios-paciente-form-group">
								<label class="col-lg-2 control-label" for="servicios_operatorios_paciente">
									{{ LABEL_SERVICIOS_OPERATORIOS }}
								</label>
								<div class="col-lg-10" id="checkboxes-servicios-operatorios-paciente">
									<div class="row">
										{% for checkbox in reservacion.formulario.servicios_operatorios_paciente %}
										{% if forloop.first %}
										<div class="col-lg-2">
											{% endif %}
											<div class="checkbox">
												{% if tipo == "pendiente" %}
												{% render_field checkbox %}
												{% else %}
												{% render_field checkbox %}
												{% endif %}
											</div>
											{% if forloop.counter|divisibleby:1 and not forloop.last %}
										</div>
										<div class="col-lg-2">
											{% elif forloop.last %}
										</div>
										{% endif %}
										{% endfor %}
									</div>
									{% if tipo == "pendiente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="servicios-operatorios-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="servicios-operatorios-paciente-error-help">{{ reservacion.formulario.servicios_operatorios_paciente.errors }}</span>
									{% endif %}
								</div>
								{% if reservacion.formulario.servicios_operatorios_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresServiciosOperatoriosPaciente();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="numero-habitacion-paciente-form-group">
								<label class="col-lg-2 control-label">
									{% if tipo == "paciente" %}
									{% render_field reservacion.formulario.paciente_hospitalizado %}
									{% else %}
									{% render_field reservacion.formulario.paciente_hospitalizado disabled="disabled" %}
									{% endif %}
									{{ LABEL_PACIENTE_HOSPITALIZADO }}
								</label>
								<div class="hidden" id="habitacion-{{ reservacion.objeto.pk }}">
									<label class="col-lg-2 control-label" for="numero-habitacion-paciente">
										{{ LABEL_HABITACION }}
									</label>
									<div class="col-lg-2">
										{% if tipo == "pendiente" %}
										{% render_field reservacion.formulario.numero_habitacion_paciente class="form-control" id="numero-habitacion-paciente" %}
										<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="numero-habitacion-paciente-error-feedback-icon"></span>
										<span class="help-block hidden" id="numero-habitacion-paciente-error-help">{{ reservacion.formulario.numero_habitacion_paciente.errors }}</span>
										<span class="help-block hidden" id="paciente-hospitalizado-error-help">{{ reservacion.formulario.paciente_hospitalizado.errors }}</span>
										{% else %}
										{% render_field reservacion.formulario.numero_habitacion_paciente class="form-control" id="numero-habitacion-paciente" disabled="disabled" %}
										{% endif %}
									</div>
									{% if reservacion.formulario.numero_habitacion_paciente.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresNumeroHabitacionPaciente();
									});
									</script>
									{% endif %}
									{% if reservacion.formulario.paciente_hospitalizado.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresPacienteHospitalizado();
									});
									</script>
									{% endif %}
								</div>
								{% if reservacion.formulario.paciente_hospitalizado.value %}
								<script type="text/javascript">
								$(function() {
									mostrarNumeroHabitacionPaciente({{ reservacion.objeto.pk }});
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="area-ingreso-numero-expediente-form-group">
								<label class="col-lg-2 control-label">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.paciente_con_expediente id="paciente-con-expediente" %}
									{% else %}
									{% render_field reservacion.formulario.paciente_con_expediente id="paciente-con-expediente" disabled="disabled" %}
									{% endif %}
									{{ LABEL_PACIENTE_CON_EXPEDIENTE }}
								</label>
								<div class="hidden" id="area-ingreso-numero-expediente-{{ reservacion.objeto.pk }}">
									<label class="col-lg-2 control-label" for="area-ingreso-paciente">
										{{ LABEL_AREA_INGRESO }}
									</label>
									<div class="col-lg-4">
										{% if tipo == "pendiente" %}
										{% render_field reservacion.formulario.area_ingreso_paciente class="form-control" id="area-ingreso-paciente" %}
										<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="area-ingreso-paciente-error-feedback-icon"></span>
										<span class="help-block hidden" id="area-ingreso-paciente-error-help">{{ reservacion.formulario.area_ingreso_paciente.errors }}</span>
										{% else %}
										{% render_field reservacion.formulario.area_ingreso_paciente class="form-control" id="area-ingreso-paciente" disabled="disabled" %}
										{% endif %}
									</div>
									{% if reservacion.formulario.area_ingreso_paciente.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresAreaIngresoPaciente();
									});
									</script>
									{% endif %}
									<div class="col-lg-3">
										{% if tipo == "pendiente" %}
										{% render_field reservacion.formulario.numero_expediente_paciente class="form-control" id="numero-expediente-paciente" placeholder=LABEL_NUMERO_EXPEDIENTE %}
										<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="numero-expediente-paciente-error-feedback-icon"></span>
										<span class="help-block hidden" id="numero-expediente-paciente-error-help">{{ reservacion.formulario.numero_expediente_paciente.errors }}</span>
										<span class="help-block hidden" id="paciente-con-expediente-error-help">{{ reservacion.formulario.paciente_con_expediente.errors }}</span>
										{% else %}
										{% render_field reservacion.formulario.numero_expediente_paciente class="form-control" id="numero-expediente-paciente" placeholder=LABEL_NUMERO_EXPEDIENTE disabled="disabled" %}
										{% endif %}
									</div>
									{% if reservacion.formulario.numero_expediente_paciente.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresNumeroExpedientePaciente();
									});
									</script>
									{% endif %}
									{% if reservacion.formulario.paciente_con_expediente.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresPacienteConExpediente();
									});
									</script>
									{% endif %}
								</div>
								{% if reservacion.formulario.paciente_con_expediente.value %}
								<script type="text/javascript">
								$(function() {
									mostrarCamposExpedientePaciente({{ reservacion.objeto.pk }});
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="compania-aseguradora-paciente-form-group">
								<label class="col-lg-2 control-label">
									{{ LABEL_FORMA_PAGO }}
								</label>
								<div class="col-lg-4" id="radios-tipo-pago-paciente">
									{% for radio in reservacion.formulario.tipo_pago_paciente %}
									<label class="radio-inline">
										{% if tipo == "pendiente" %}
										{% render_field radio %}
										{% else %}
										{% render_field radio %}
										{% endif %}
									</label>
									{% endfor %}
									{% if tipo == "pendiente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="tipo-pago-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="tipo-pago-paciente-error-help">{{ reservacion.formulario.tipo_pago_paciente.errors }}</span>
									{% endif %}
								</div>
								<div class="hidden" id="seguros-{{ reservacion.objeto.pk }}">
									<label class="col-lg-2 control-label" for="compania-aseguradora-paciente">
										{{ LABEL_ASEGURADORA }}
									</label>
									<div class="col-lg-4">
										{% if tipo == "pendiente" %}
										{% render_field reservacion.formulario.compania_aseguradora_paciente class="form-control" id="compania-aseguradora-paciente" %}
										<span class="help-block hidden" id="compania-aseguradora-paciente-error-help">{{ reservacion.formulario.compania_aseguradora_paciente.errors }}</span>
										{% else %}
										{% render_field reservacion.formulario.compania_aseguradora_paciente class="form-control" id="compania-aseguradora-paciente" disabled="disabled" %}
										{% endif %}
									</div>
									{% if reservacion.formulario.compania_aseguradora_paciente.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresCompaniaAseguradoraPaciente();
									});
									</script>
									{% endif %}
								</div>
								{% if reservacion.formulario.tipo_pago_paciente.value == "S" %}
								<script type="text/javascript">
								$(function() {
									mostrarCompaniaAseguradoraPaciente({{ reservacion.objeto.pk }});
								});
								</script>
								{% endif %}
							</div>
							<hr>
							<div class="form-group">
								<div class="col-lg-offset-10">
									<button class="btn btn-default"
									id="ver-quirofano-{{ reservacion.objeto.pk }}" type="button" onclick="mostrarInfoQuirofano({{ reservacion.objeto.pk }})">{{ QUIROFANO }}
									<span class="glyphicon glyphicon-chevron-right"></span>
								</div>
							</div>
						</div>

						<div class="hidden" id="datos-quirofano-{{ reservacion.objeto.pk }}">
							<div class="form-group">
								<label class="col-lg-2 control-label">
									{{ LABEL_AREA }}
								</label>
								<div class="col-lg-2">
									<input class="form-control" type="text" value="{{ reservacion.area_legible }}" disabled>
								</div>
								<label class="col-lg-2 control-label">
									{{ LABEL_QUIROFANO }}
								</label>
								<div class="col-lg-2">
									<input class="form-control" type="text" value="{{ reservacion.quirofano_legible }}" disabled>
								</div>
								<label class="col-lg-1 control-label">
									{{ LABEL_FECHA }}
								</label>
								<div class="col-lg-2">
									<input class="form-control" type="text" value="{{ reservacion.objeto.intervencion_quirurgica.fecha_intervencion }}" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">
									{{ LABEL_HORA_INICIO }}
								</label>
								<div class="col-lg-2">
									<input class="form-control" type="text" value="{{ reservacion.hora_inicio_legible }}" disabled>
								</div>
								<label class="col-lg-2 control-label">
									{{ LABEL_HORA_FIN }}
								</label>
								<div class="col-lg-2">
									<input class="form-control" type="text" value="{{ reservacion.hora_fin_legible }}" disabled>
								</div>
							</div>
							<div class="form-group" id="preferencia-anestesica-form-group">
								<label class="col-lg-2 control-label" for="preferencia-anestesica">
									{{ LABEL_ANESTESIA }}
								</label>
								<div class="col-lg-10" id="radios-preferencia-anestesica">
									{% for radio in reservacion.formulario.preferencia_anestesica %}
									<label class="radio-inline">
										{% if tipo == "pendiente" %}
										{% render_field radio %}
										{% else %}
										{% render_field radio %}
										{% endif %}
									</label>
									{% endfor %}
									{% if tipo == "pendiente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="preferencia-anestesica-error-feedback-icon"></span>
									<span class="help-block hidden" id="preferencia-anestesica-error-help">{{ reservacion.formulario.preferencia_anestesica.errors }}</span>
									{% endif %}
								</div>
								{% if reservacion.formulario.preferencia_anestesica.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresPreferenciaAnestesica();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="observaciones-form-group">
								<label class="col-lg-2 control-label" for="observaciones">
									{{ LABEL_OBSERVACIONES }}
								</label>
								<div class="col-lg-10">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.observaciones class="form-control" id="observaciones" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="observaciones-error-feedback-icon"></span>
									<span class="help-block hidden" id="observaciones-error-help">{{ reservacion.formulario.observaciones.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.observaciones class="form-control" id="observaciones" disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.observaciones.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresObservaciones();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="riesgo-form-group">
								<label class="col-lg-2 control-label" for="riesgo">
									{{ LABEL_NIVEL_RIESGO }}
								</label>
								<div class="col-lg-10" id="radios-riesgo">
									{% for radio in reservacion.formulario.riesgo %}
									<label class="radio-inline">
										{% if tipo == "pendiente" %}
										{% render_field radio %}
										{% else %}
										{% render_field radio %}
										{% endif %}
									</label>
									{% endfor %}
									{% if tipo == "pendiente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="riesgo-error-feedback-icon"></span>
									<span class="help-block hidden" id="riesgo-error-help">{{ reservacion.formulario.riesgo.errors }}</span>
									{% endif %}
								</div>
								{% if reservacion.formulario.riesgo.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresRiesgo();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group hidden" id="razon-riesgo-{{ reservacion.objeto.pk }}">
								<div class="col-lg-offset-2 col-lg-10">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.razon_riesgo class="form-control" id="razon-riesgo-input" placeholder=LABEL_RAZON_RIESGO %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="razon-riesgo-error-feedback-icon"></span>
									<span class="help-block hidden" id="razon-riesgo-error-help">{{ reservacion.formulario.razon_riesgo.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.razon_riesgo class="form-control" id="razon-riesgo-input" placeholder=LABEL_RAZON_RIESGO disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.razon_riesgo.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresRazonRiesgo();
								});
								</script>
								{% endif %}
							</div>
							{% if reservacion.formulario.riesgo.value == "M" %}
							<script type="text/javascript">
							$(function() {
								mostrarRazonRiesgo();
							});
							</script>
							{% endif %}
							<div class="form-group" id="dias-hospitalizacion-form-group">
								<label class="col-lg-2 control-label" for="dias-hospitalizacion">
									{{ LABEL_DIAS_HOSPITALIZACION }}
								</label>
								<div class="col-lg-2">
									{% if tipo == "pendiente" %}
									{% render_field reservacion.formulario.dias_hospitalizacion class="form-control" id="dias-hospitalizacion" value=reservacion.dias_hospitalizacion %}
									<span class="help-block hidden" id="dias-hospitalizacion-error-help">{{ reservacion.formulario.dias_hospitalizacion.errors }}</span>
									{% else %}
									{% render_field reservacion.formulario.dias_hospitalizacion class="form-control" id="dias-hospitalizacion" value=reservacion.dias_hospitalizacion disabled="disabled" %}
									{% endif %}
								</div>
								{% if reservacion.formulario.dias_hospitalizacion.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresDiasHospitalizacion();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="equipos-especiales-requeridos-form-group">
								<label class="col-lg-2 control-label" for="equipos-especiales-requeridos">
									{{ LABEL_EQUIPOS_ESPECIALES }}
								</label>
								<div class="col-lg-10" id="checkboxes-equipos-especiales-requeridos">
									<div class="row">
										{% for checkbox in reservacion.formulario.equipos_especiales_requeridos %}
										{% if forloop.first %}
										<div class="col-lg-2">
											{% endif %}
											<div class="checkbox">
												{% if tipo == "pendiente" %}
												{% render_field checkbox %}
												{% else %}
												{% render_field checkbox %}
												{% endif %}
											</div>
											{% if forloop.counter|divisibleby:5 and not forloop.last %}
										</div>
										<div class="col-lg-2">
											{% elif forloop.last %}
										</div>
										{% endif %}
										{% endfor %}
									</div>
									{% if tipo == "pendiente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="equipos-especiales-requeridos-error-feedback-icon"></span>
									<span class="help-block hidden" id="equipos-especiales-requeridos-error-help">{{ reservacion.formulario.equipos_especiales_requeridos.errors }}</span>
									{% endif %}
								</div>
								{% if reservacion.formulario.equipos_especiales_requeridos.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresEquiposEspecialesRequeridos();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group" id="materiales-quirurgicos-requeridos-form-group">
								<label class="col-lg-2 control-label" for="materiales-quirurgicos-requeridos">
									{{ LABEL_MATERIAL_QUIRURGICO }}
								</label>
								<div class="col-lg-10" id="checkboxes-materiales-quirurgicos-requeridos">
									<div class="row">
										{% for checkbox in reservacion.formulario.materiales_quirurgicos_requeridos %}
										{% if forloop.first %}
										<div class="col-lg-2">
											{% endif %}
											<div class="checkbox">
												{% if tipo == "pendiente" %}
												{% render_field checkbox %}
												{% else %}
												{% render_field checkbox %}
												{% endif %}
											</div>
											{% if forloop.counter|divisibleby:1 and not forloop.last %}
										</div>
										<div class="col-lg-2">
											{% elif forloop.last %}
										</div>
										{% endif %}
										{% endfor %}
									</div>
									{% if tipo == "pendiente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="materiales-quirurgicos-requeridos-error-feedback-icon"></span>
									<span class="help-block hidden" id="materiales-quirurgicos-requeridos-error-help">{{ reservacion.formulario.materiales_quirurgicos_requeridos.errors }}</span>
									{% endif %}
								</div>
								{% if reservacion.formulario.materiales_quirurgicos_requeridos.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresMaterialesQuirurgicosRequeridos();
								});
								</script>
								{% endif %}
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">{{ LABEL_PROCEDIMIENTOS_QUIRURGICOS }}</label>
							</div>
							<div class="form-group">
								{% for procedimiento_quirurgico in reservacion.objeto.intervencion_quirurgica.procedimientoquirurgico_set.all %}
								{% if forloop.first %}
								<div class="col-lg-offset-2 col-lg-8 row">
									{% endif %}
									<div class="col-lg-3 well well-sm well-info">
										<p>
											<strong>{{ LABEL_SISTEMA_CORPORAL }}</strong>
											{{ procedimiento_quirurgico.organo_corporal.sistema_corporal }}
										</p>
										<p>
											<strong>{{ LABEL_ORGANO_CORPORAL }}</strong>
											{{ procedimiento_quirurgico.organo_corporal }}
										</p>
										<p>
											<strong>{{ LABEL_PROCEDIMIENTO }}</strong>
											{{ procedimiento_quirurgico.tipo_procedimiento_quirurgico }}
										</p>
									</div>
									{% if forloop.last %}
								</div>
								{% endif %}
								{% empty %}
								<div class=" col-lg-offset-2 col-lg-8 well well-sm well-warning">
									<p class="text-muted texto-centrado">{{ MENSAJE_NO_HAY_PROCEDIMIENTOS_QUIRURGICOS }}</p>
								</div>
								{% endfor %}
							</div>
							<hr>
							<div class="form-group">
								<div class="col-lg-2">
									<button class="btn btn-default" id="ver-info-paciente-{{ reservacion.objeto.pk }}" type="button" onclick="mostrarInfoPaciente({{ reservacion.objeto.pk }})">
										<span class="glyphicon glyphicon-chevron-left"></span>
										{{ PACIENTE }}
									</button>
								</div>
							</div>
						</div>
					</form><!-- Formulario Solicitud Quirofano -->
				</div>
				{% if tipo == "pendiente" %}
				<div class="modal-footer">
					<a href="{% url 'cancelar_solicitud' reservacion.objeto.pk %}">
					<button type="button" class="btn btn-danger pull-left">
						<span class="glyphicon glyphicon-trash">
						</span>
						Cancelar Solicitud
					</button></a>
					<button type="submit" class="btn btn-primary" data-dismiss="modal">
						Guardar Cambios
					</button>
				</div>
				{% endif %}
			</div>
		</div>
	</div><!-- Modal de Detalles de Solicitud -->
	{% endfor %}
</ul>
{% else %}
<ul class="list-group-item">
	<strong>No posee solicitudes de quirófano {{ tipo }}s.</strong>
</ul>
{% endif %}
