{% load widget_tweaks %}

{% if lista_reservaciones|length > 0 %}
<ul class="list-group">
	{% for reservacion in lista_reservaciones  %}
	<a href="#" class="list-group-item" data-toggle="modal" data-target="#modal-reservacion-{{ reservacion.objeto.pk }}">
		<span class="label label-info">
			{{ LABEL_PACIENTE }}
			{{ reservacion.objeto.intervencion_quirurgica.paciente }}
		</span>
		<span class="pull-right">
			<small>
				<strong>
					{{reservacion.objeto.fecha_reservacion}}
				</strong>
			</small>
		</span>
	</a>
	{% if tipo == "pendiente" %}
	{% include "plan_quirurgico/modal_detalle_intervencion.html" with reservacion=reservacion agregar_boton_cancelar_solicitud=True %}
	{% else %}
	{% include "plan_quirurgico/modal_detalle_intervencion.html" with reservacion=reservacion %}
	{% endif %}
	{% endfor %}

</ul>
{% else %}
<ul class="list-group-item">
	<strong>No posee solicitudes de quirófano {{ tipo }}s.</strong>
</ul>
{% endif %}
