{% extends "medico/contexto.html" %}

{% load staticfiles  %}

{% block title %}{{ block.super }} | Mis Solicitudes{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'medico/js/mis_solicitudes.js' %}">
</script>
<script type="text/javascript" src="{% static 'medico/js/formulario_solicitud_quirofano.js' %}">
</script>	
{% endblock scripts %}

{% block nombre-usuario %}
Cristians González
{% endblock nombre-usuario %}

{% block numero-mensajes %}
7
{% endblock numero-mensajes %}

{% block content %}
<div class="page-header">
	<h1>Mis Solicitudes</h1>
</div>
<div class="row">
	<div class="col-lg-offset-1 col-lg-9">
		<ul class="nav nav-tabs">
			<li>
				<a href="#">
					Aprobadas
					<span class="glyphicon glyphicon-ok">
					</span>
				</a>
			</li>
			<li class="active">
				<a href="#">
					En espera
					<span class="glyphicon glyphicon-question-sign">
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					Rechazadas
					<span class="glyphicon glyphicon-ban-circle">
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-1">
		<button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
			Ver
			<span class="caret">
			</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a href="#">
					Última semana
				</a>
			</li>
			<li>
				<a href="#">
					Último mes
				</a>
			</li>
			<li>
				<a href="#">
					Últimos 3 meses
				</a>
			</li>
			<li class="divider">
			</li>
			<li>
				<a href="#" data-toggle="modal" data-target="#seleccionar-periodo">
					Seleccionar período
				</a>
			</li>
		</ul>
	</div>
</div><!-- Pestañas y Filtro -->

<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<ul class="list-group">
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">
					Paciente: José Castillo
				</span>
				<span class="label label-default">
					<abbr title="Intervención">
						Int.
					</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>
							Fecha de Solicitud: XX-XX-XX
						</strong>
					</small>
				</span>
			</a>
		</ul>
	</div>
</div><!-- Lista de Solicitudes -->

<!-- Paginacion de Solicitudes -->
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<ul class="pagination">
			<li class="disabled">
				<a href="#">
					&laquo;
				</a>
			</li>
			<li class="active">
				<a href="#">
					1
					<span class="sr-only">
						(current)
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					2
					<span class="sr-only">
						(current)
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					&raquo;
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="modal fade" id="detalles-solicitud" tabindex="-1" role="dialog" aria-labelledby="titulo-detalles-solicitud" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="titulo-detalles-solicitud">
					Detalles de Solicitud - Quirófano
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="formulario-solicitud-quirofano">
					<div class="form-group">
						<label class="col-lg-2 control-label">
							Área:
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="Quirúrgica" disabled>
						</div>
						<label class="col-lg-2 control-label">
							Quirófano:
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="Quirófano 4" disabled>
						</div>
						<label class="col-lg-2 control-label">
							Fecha:
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="14/03/2014" disabled>
						</div>												
					</div>					
					<div class="form-group">
						<label class="col-lg-2 control-label">
							Hora Inicio: 
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="8:30am" disabled>
						</div>
						<label class="col-lg-2 control-label">
							Hora Fin: 
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="10:30am" disabled>
						</div>											
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo-solicitud">
							Tipo:
						</label>
						<div class="col-lg-10">
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo-solicitud" value="emergencia" >
									Emergencia
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo-solicitud" value="electiva" checked>
									Electiva
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo-solicitud" value="paliativa" >
									Paliativa
								</label>
							</div>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo-operacion">
							Operación:
						</label>
						<div class="col-lg-10">
							<select class="form-control" name="tipo-operacion">
								<option>
									Reducción Gastrica
								</option>
								<option>
									Liposucción
								</option>
								<option>
									Intervención Cardíaca
								</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo-anestesia">
							Anestesia:
						</label>
						<div class="col-lg-10">
							<select class="form-control" name="tipo-anestesia">
								<option>
									General
								</option>
								<option>
									Local
								</option>
							</select>
						</div>
					</div>
					<div class="form-group">						
						<label class="col-lg-2 control-label" for="observaciones">
							Observaciones:
						</label>
						<div class="col-lg-10">
							<textarea class="form-control" name="observaciones" rows="3">
							</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="riesgo">
							Nivel de Riesgo:
						</label>
						<div class="col-lg-10">
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="bueno" >
									Bueno
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="regular" checked>
									Regular
								</label>
							</div>	
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="malo">
									Malo
								</label>
							</div>
						</div>					
					</div>
					<div class="form-group hidden" id="razon-riesgo">
						<div class="col-lg-offset-2 col-lg-10">
							<textarea class="form-control" id="razon-riesgo-input" name="razon" rows="3" placeholder="Indique razón del riesgo">
							</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="equipo-especial-requerido">
							Equipos
							<abbr title="Especiales">
								Esp.
							</abbr>:
						</label>
						<div class="col-lg-10">
							<select multiple class="form-control" name="equipo-especial-requerido">
								<option>
									1
								</option>
								<option>
									2
								</option>
								<option>
									3
								</option>
								<option>
									4
								</option>
							</select>
						</div>
					</div>	
					<div class="form-group">
						<label class="col-lg-2 control-label" for="material-quirurgico">
							Material
							<abbr title="Quirúrgico">
								Quir.
							</abbr>:
						</label>
						<div class="col-lg-10">
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico">
								Sutura Especial
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico">
								Protack
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico">
								Malla Polipropileno
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico">
								Malla Dual Mesh
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico">
								Máquina de Autosutura
							</label>
						</div>
					</div>	
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-6">
							<input type="text" class="form-control" name="otro-material-quirurgico" placeholder="Especifique otro" />						
						</div>
					</div>							
					<div class="form-group">
						<div class="col-lg-offset-10">							<a href="javascript:void(0);" class="btn btn-default" id="ver-info-paciente">
							Paciente
							<span class="glyphicon glyphicon-chevron-right">
							</span>
						</a>			
					</div>
				</div>
			</form><!-- Formulario Solicitud Quirofano -->

			<form class="form-horizontal hidden" role="form" id="formulario-solicitud-paciente">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-paciente">
						Nombre:
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="nombre-paciente" value="Enrique">
					</div>
					<label class="col-lg-2 control-label" for="apellido-paciente">
						Apellido:
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="apellido-paciente" value="Mata">
					</div>
				</div><!-- Nombre y Apellido -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="cedula-paciente">
						Cedula:
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="cedula-paciente" value="19803052">
					</div>
					<label class="col-lg-2 control-label" for="fecha-nacimiento-paciente">
						Fecha
						<abbr title="Nacimiento">
							Nac.
						</abbr>:
					</label>
					<div class="col-lg-4">
						<input type="date" class="form-control" name="fecha-nacimiento-paciente">
					</div>
				</div><!-- Cedula y Fecha de Nacimiento -->
				<div clas="form-group">
					<label class="col-lg-2 control-label" for="sexo-paciente">
						Sexo:
					</label>
					<div class="col-lg-10">
						<div class="radio-inline">
							<label>
								<input type="radio" name="sexo-paciente" value="M" checked>
								Masculino
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="sexo-paciente" value="F">
								Femenino
							</label>
						</div>
					</div>
				</div><!-- Sexo -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="telefono-paciente">
						Teléfono:
					</label>
					<div class="col-lg-2">
						<input type="text" class="form-control" value="424">
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="telefono-paciente" value="1587765">
					</div>
				</div><!-- Telefono -->
				<div class="form-group">						
					<label class="col-lg-2 control-label" for="diagnostico-ingreso-paciente">
						Diagnóstico:
					</label>
					<div class="col-lg-10">
						<textarea class="form-control" name="diagnostico-ingreso-paciente" rows="3">Obesidad</textarea>
					</div>
				</div><!-- Diagnostico -->
				<div clas="form-group">
					<label class="col-lg-2 control-label" for="forma-pago">
						Forma de Pago:
					</label>
					<div class="col-lg-10">
						<div class="radio-inline">
							<label>
								<input type="radio" name="forma-pago" value="particular" checked>
								Particular
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="forma-pago" value="seguro">
								Seguro								
							</label>
						</div>
					</div>
				</div><!-- Forma de Pago -->
				<div class="form-group hidden" id="seguros">
					<label class="col-lg-2 control-label" for="compania-aseguradora">
						Aseguradora:
					</label>
					<div class="col-lg-10">
						<select class="form-control" name="compania-aseguradora">
							<option>
								Seguros Altamira
							</option>
							<option>
								Seguros Mercantil
							</option>
						</select>
					</div>
				</div><!-- Seguros -->
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-4">
						<label class="checkbox-inline">
							<input type="checkbox" name="paciente-hospitalizado">
							Paciente Hospitalizado
						</label>
					</div>
					<div class="hidden" id="habitacion">
						<label class="col-lg-2 control-label" for="paciente-hospitalizado-habitacion">
							Habitación:
						</label>
						<div class="col-lg-4">
							<select class="form-control" name="paciente-hospitalizado-habitacion">
								<option>
									hab1
								</option>
								<option>
									hab2
								</option>	
								<option>
									hab3
								</option>
							</select>
						</div>
					</div>
				</div><!-- Paciente Hospitalizado -->
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-4">
						<label class="checkbox-inline control-label">
							<input type="checkbox" name="paciente-impres"> 
							Paciente Suscrito a Impres
						</label>
					</div>
					<div class="col-lg-6 hidden" id="carnet-impres">
						<input type="text" class="form-control" name="carnet-impres" placeholder="Indique carnet impres">
					</div>
				</div><!-- Paciente Impres -->
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-4">
						<label class="checkbox-inline control-label">
							<input type="checkbox" name="paciente-medico"> 
							Paciente Médico
						</label>
					</div>
					<div class="col-lg-6 hidden" id="numero-inscripcion-medico">
						<input type="text" class="form-control" name="numero-inscripcion-medico" placeholder="Indique numero de inscripcion">
					</div>
				</div><!-- Paciente Medico -->
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<label class="checkbox-inline control-label">
							<input type="checkbox" name="paciente-pariente-medico">
							Paciente Pariente de Médico
						</label>
					</div>
				</div><!-- Paciente Pariente Medico -->
				<div class="form-group hidden" id="medico-pariente">
					<label class="col-lg-offset-2 col-lg-2 control-label" for="nombre-medico-pariente">
						Indique Médico:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control input-medico-pariente" name="nombre-medico-pariente" placeholder="Nombre"/>
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control input-medico-pariente" name="apellido-medico-pariente" placeholder="Apellido"/>
					</div>
					<div class="col-lg-2">
						<input type="text" class="form-control input-medico-pariente" name="cedula-medico-pariente" placeholder="Cédula"/>
					</div>
				</div><!-- Paciente Pariente de Medico -->
				<div class="form-group">
					<div class="col-lg-2">
						<a href="javascript:void(0);" class="btn btn-default" id="volver-info-quirofano">
							<span class="glyphicon glyphicon-chevron-left">
							</span>
							Quirófano
						</a>
					</div>
					<div class="col-lg-offset-10">
						<a href="javascript:void(0);" class="btn btn-default" id="ver-info-honorarios">
							Honorarios
							<span class="glyphicon glyphicon-chevron-right">
							</span>
						</a>
					</div>
				</div>
			</form><!-- Formulario Solicitud Paciente -->

			<form class="form-horizontal hidden" role="form" id="formulario-solicitud-honorarios">				
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-anestesiologo">
						Anestesiólogo:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="nombre-anestesiologo" value="Juan" />
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="apellido-anestesiologo" value="Requesens" />
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">
								Bs.
							</span>
							<input type="text" class="form-control" name="honorario-anestesiologo" value="10.000">
						</div>
					</div>
				</div><!-- Anestesiologo -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-ayudante-1">
						Primer Ayudante:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="nombre-ayudante-1" value="Juan" />
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="apellido-ayudante-1" value="Pirela" />
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">
								Bs.
							</span>
							<input type="text" class="form-control" name="honorario-ayudante-1" value="10.000">
						</div>
					</div>
				</div><!-- Primer Ayudante -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-ayudante-2">
						Segundo Ayudante:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="nombre-ayudante-2" value="Juan" />
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="apellido-ayudante-2" value="Ramos" />
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">
								Bs.
							</span>
							<input type="text" class="form-control" name="honorario-ayudante-2" value="10.000">
						</div>
					</div>
				</div><!-- Segundo Ayudante -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-ayudante-3">
						Tercer Ayudante:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="nombre-ayudante-3" value="Armando" />
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="apellido-ayudante-3" value="Casas" />
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">
								Bs.
							</span>
							<input type="text" class="form-control" name="honorario-ayudante-3" value="10.000">
						</div>
					</div>
				</div><!-- Tercer Ayudante -->						
				<div class="form-group">
					<div class="col-lg-2">
						<a href="javascript:void(0);" class="btn btn-default" id="volver-info-paciente">
							<span class="glyphicon glyphicon-chevron-left">
							</span>
							Paciente
						</a>
					</div>
				</div>
			</form><!-- Formulario Solicitud Honorarios -->
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
				<span class="glyphicon glyphicon-trash">
				</span>
				Cancelar Solicitud
			</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal">
				Guardar Cambios
			</button>
		</div>
	</div>
</div>
</div><!-- Modal de Detalles de Solicitud -->

<div class="modal fade" id="seleccionar-periodo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Seleccione Período
				</h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-lg-2 control-label" for="desde">
							Desde:
						</label>
						<div class="col-lg-offset-2 col-lg-8">
							<input type="date" class="form-control" name="desde">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="hasta">
							Hasta:
						</label>
						<div class="col-lg-offset-2 col-lg-8">
							<input type="date" class="form-control" name="hasta">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</div><!-- Modal de Seleccion de Periodo a Mostrar -->
{% endblock content %}