{% extends "medico/contexto.html" %}

{% load staticfiles  %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Mis Solicitudes{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'medico/js/mis_solicitudes.js' %}">
</script>
{% endblock scripts %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}

{% block numero-mensajes %}
7
{% endblock numero-mensajes %}

{% block content %}
<div class="page-header">
	<h1>Mis Solicitudes</h1>
</div>
<div class="row">
	<div class="col-lg-offset-1 col-lg-9">
		<ul class="nav nav-tabs">
			<li class="active" id="li-aprobadas">
				<a href="{% url 'mis_solicitudes' 'aprobadas' %}">
					Aprobadas
					<span class="glyphicon glyphicon-ok">
					</span>
				</a>
			</li>
			<li class="active" id="li-en-espera">
				<a href="{% url 'mis_solicitudes' 'pendientes' %}">
					En espera
					<span class="glyphicon glyphicon-question-sign">
					</span>
				</a>
			</li>
			<li class="active" id="li-rechazadas">
				<a href="{% url 'mis_solicitudes' 'rechazadas' %}">
					Rechazadas
					<span class="glyphicon glyphicon-ban-circle">
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-1">
		<button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
			Ver
			<span class="caret">
			</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a href="{% url 'mis_solicitudes' estado_solicitud 0 %}">
					Última semana
				</a>
			</li>
			<li>
				<a href="{% url 'mis_solicitudes' estado_solicitud 1 %}">
					Último mes
				</a>
			</li>
			<li>
				<a href="{% url 'mis_solicitudes' estado_solicitud 2 %}">
					Últimos 3 meses
				</a>
			</li>
			<li class="divider">
			</li>
			<li>
				<a href="#" data-toggle="modal" data-target="#seleccionar-periodo">
					Seleccionar período
				</a>
			</li>
		</ul>
	</div>
</div><!-- Pestañas y Filtro -->

<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="hidden" id="contenido-pendientes">
				{% include "medico/lista_mis_solicitudes.html" with lista_reservaciones=reservaciones_pendientes tipo="pendiente" %}
			</div><!-- Lista de Solicitudes Pendientes -->
			<div class="hidden" id="contenido-aprobadas">
				{% include "medico/lista_mis_solicitudes.html" with lista_reservaciones=reservaciones_aprobadas tipo="aprobada" %}
			</div><!-- Lista de Solicitudes Aprobadas -->
			<div class="hidden" id="contenido-rechazadas">
				{% include "medico/lista_mis_solicitudes.html" with lista_reservaciones=reservaciones_rechazadas tipo="rechazada" %}
			</div><!-- Lista de Solicitudes Rechazadas -->
		</div><!-- Tab panes -->
	</div>
</div>

<!-- Modal de Seleccion de Periodo a Mostrar -->
<div class="modal fade" id="seleccionar-periodo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Seleccione Período
				</h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal" action="{% url 'mis_solicitudes' estado_solicitud 3 %}" method="POST" novalidate>
					{% csrf_token %}
					<div class="form-group">
						<label class="col-lg-2 control-label" for="desde">
							Desde:
						</label>
						<div class="col-lg-offset-2 col-lg-8">
							{% render_field formulario_intervalo.fecha_inicio class="form-control" id="fecha-inicio" type="date" %}							
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="hasta">
							Hasta:
						</label>
						<div class="col-lg-offset-2 col-lg-8">
							{% render_field formulario_intervalo.fecha_fin class="form-control" id="fecha-fin" type="date" %}
							<span class="help-block hidden" id="fecha-fin-error-help">{{ formulario_intervalo.intervalo_invalido.errors }}</span>
						</div>
					</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" >
							Aceptar
						</button>
					</div>
				</form>
		</div>
	</div>
</div><!-- Modal de Seleccion de Periodo a Mostrar -->


<!-- Paginacion de Solicitudes -->
<div class="row">
	<div class="col-lg-6 col-lg-offset-1">
		<div id="paginacion-pendientes"></div>
		<div id="paginacion-aprobadas"></div>
		<div id="paginacion-rechazadas"></div>
	</div>
</div>
<script type="text/javascript">
{% if estado_solicitud == 'pendientes' %}
inicializarPaginacion({{ reservaciones_pendientes.number }}, {{ reservaciones_pendientes.paginator.num_pages }}, 'pendientes' )
$('#li-en-espera').addClass('active');
$('#li-aprobadas').removeClass('active');
$('#li-rechazadas').removeClass('active');
{% elif estado_solicitud == 'aprobadas' %}
inicializarPaginacion({{ reservaciones_aprobadas.number }}, {{ reservaciones_aprobadas.paginator.num_pages }}, 'aprobadas' );
$('#li-aprobadas').addClass('active');
$('#li-en-espera').removeClass('active');
$('#li-rechazadas').removeClass('active');
{% elif estado_solicitud == 'rechazadas' %}
inicializarPaginacion({{ reservaciones_rechazadas.number }}, {{ reservaciones_rechazadas.paginator.num_pages }}, 'rechazadas' );
$('#li-rechazadas').addClass('active');
$('#li-en-espera').removeClass('active');
$('#li-aprobadas').removeClass('active');
{% endif %}
seleccionarPestana("{{ estado_solicitud }}");
</script>
{% endblock content %}
