{% extends request.session.template_base %}

{% load staticfiles  %}

{% block title %}{{ block.super }} | Próximas Intervenciones{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'medico/js/proximas_intervenciones_quirurgicas.js' %}">
</script>
{% endblock scripts %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}


{% block content %}
<div class="page-header">
	<h1>Próximas Intervenciones Quirúrgicas</h1>
</div>

<!-- Pestanas -->
<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<ul class="nav nav-tabs">
			<li id="tab-semana-actual"><a href="{% url 'proximas_intervenciones' 'semana_actual' %}">
				Semana Actual
			</a></li>
			<li id="tab-mes-actual"><a href="{% url 'proximas_intervenciones' 'mes_actual' %}">
				Mes Actual
			</a></li>
			<li id="tab-ano-actual"><a href="{% url 'proximas_intervenciones' 'ano_actual' %}">
				Año Actual
			</a></li>
		</ul>
	</div>
</div><!-- Pestanas -->

<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="hidden" id="contenido-semana-actual">
				{% include "medico/lista_proximas_intervenciones.html" with lista_participaciones=lista_participaciones_semana_actual %}
			</div><!-- Lista de Participaciones Semana Actual -->
			<div class="hidden" id="contenido-mes-actual">
				{% include "medico/lista_proximas_intervenciones.html" with lista_participaciones=lista_participaciones_mes_actual %}
			</div><!-- Lista de Participaciones Mes Actual -->
			<div class="hidden" id="contenido-ano-actual">
				{% include "medico/lista_proximas_intervenciones.html" with lista_participaciones=lista_participaciones_ano_actual %}
			</div><!-- Lista de Participaciones Ano Actual -->
		</div><!-- Tab panes -->
	</div>
</div>

<!-- Paginacion de Solicitudes -->
<div class="row">
	<div class="col-lg-6 col-lg-offset-1">
		<div id="paginacion-semana-actual"></div>
		<div id="paginacion-mes-actual"></div>
		<div id="paginacion-ano-actual"></div>
	</div>
</div>
<script type="text/javascript">
	{% if periodo == 'semana_actual' %}
		inicializarPaginacion({{ lista_participaciones_semana_actual.number }}, {{ lista_participaciones_semana_actual.paginator.num_pages }}, 'semana-actual' )
	{% elif periodo == 'mes_actual' %}
		inicializarPaginacion({{ lista_participaciones_mes_actual.number }}, {{ lista_participaciones_mes_actual.paginator.num_pages }}, 'mes-actual' );
	{% elif periodo == 'ano_actual' %}
		inicializarPaginacion({{ lista_participaciones_ano_actual.number }}, {{ lista_participaciones_ano_actual.paginator.num_pages }}, 'ano-actual' );
	{% endif %}
	seleccionarPestana("{{ periodo }}");
</script>
{% endblock content %}
