{% extends "medico/contexto.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %} {{block.super}} | Solicitud de Quirófano {% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'medico/js/formulario_solicitud_quirofano.js' %}">
</script>
{% endblock scripts %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}

{% block numero-mensajes %}
4
{% endblock numero-mensajes %}

{% block content %}
<div class="page-header">
	<h1>Solicitud de Quirófano</h1>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<h1 class="panel-title" id="titulo-detalles-solicitud">
						Detalles de Solicitud - Paciente
					</h1>
				</div>
			</div>

			<!-- Formulario Solicitud Quirofano -->
			<form class="form-horizontal" role="form" id="formulario-solicitud-quirofano">
				{% csrf_token %}
				<input type="hidden" name="accion" value="{{ accion }}">
				<div id="datos-paciente">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-paciente">
								{{ LABEL_NOMBRE }}
							</label>
							<div class="col-lg-4">
								{% render_field formulario_solicitud_quirofano.nombre_paciente class="form-control" id="nombre-paciente" %}
							</div>
							<label class="col-lg-2 control-label" for="apellido-paciente">
								{{ LABEL_APELLIDO }}
							</label>
							<div class="col-lg-4">
								{% render_field formulario_solicitud_quirofano.apellido_paciente class="form-control" id="apellido-paciente" %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="cedula-paciente">
								{{ LABEL_CEDULA }}
							</label>
							<div class="col-lg-4">
								{% render_field formulario_solicitud_quirofano.cedula_paciente class="form-control" id="cedula-paciente" %}
							</div>
							<label class="col-lg-2 control-label" for="fecha-nacimiento-paciente">
								{{ LABEL_FECHA_NACIMIENTO }}
							</label>
							<div class="col-lg-4">
								{% render_field formulario_solicitud_quirofano.fecha_nacimiento_paciente class="form-control" id="fecha-nacimiento-paciente" %}
							</div>
						</div>
						<div clas="form-group">
							<label class="col-lg-2 control-label">
								{{ LABEL_GENERO }}
							</label>
							<div class="col-lg-10">
								{% for radio in formulario_solicitud_quirofano.genero_paciente %}
								<label class="radio-inline">
									{% render_field radio %}
								</label>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="codigo-telefono-paciente">
								{{ LABEL_TELEFONO }}
							</label>
							<div class="col-lg-2">
								{% render_field formulario_solicitud_quirofano.codigo_telefono_paciente class="form-control" id="codigo-telefono-paciente" placeholder=LABEL_CODIGO_TELEFONO %}
							</div>
							<div class="col-lg-3">
								{% render_field formulario_solicitud_quirofano.numero_telefono_paciente class="form-control" id="numero-telefono-paciente" placeholder=LABEL_NUMERO_TELEFONO %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="diagnostico-ingreso-paciente">
								{{ LABEL_DIAGNOSTICO }}
							</label>
							<div class="col-lg-10">
								{% render_field formulario_solicitud_quirofano.diagnostico_ingreso_paciente class="form-control" id="diagnostico-ingreso-paciente" %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="forma-pago">
								{{ LABEL_FORMA_PAGO }}
							</label>
							<div class="col-lg-4">
								<div class="radio-inline">
									<label>
										<input type="radio" name="forma-pago" value="particular">
										Particular
									</label>
								</div>
								<div class="radio-inline">
									<label>
										<input type="radio" name="forma-pago" value="seguro">
										Seguro
									</label>
								</div>
							</div>
							<div class="hidden" id="seguros">
								<label class="col-lg-2 control-label" for="compania-aseguradora-paciente">
									{{ LABEL_ASEGURADORA }}
								</label>
								<div class="col-lg-4">
									{% render_field formulario_solicitud_quirofano.compania_aseguradora_paciente class="form-control" id="compania-aseguradora-paciente" %}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-2 checkbox">
								<label>
									<input type="checkbox" name="paciente-hospitalizado">
									{{ LABEL_PACIENTE_HOSPITALIZADO }}
								</label>
							</div>
							<div class="hidden" id="habitacion">
								<label class="col-lg-2 control-label" for="habitacion-paciente">
									{{ LABEL_HABITACION }}
								</label>
								<div class="col-lg-2">
									{% render_field formulario_solicitud_quirofano.numero_habitacion_paciente class="form-control" id="habitacion-paciente" %}
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="form-group">
							<div class="col-lg-offset-10">
								<a href="javascript:void(0);" class="btn btn-default" id="ver-info-quirofano">{{ QUIROFANO }}
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="hidden" id="datos-quirofano">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-lg-2 control-label">
								{{ LABEL_AREA }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ area_legible }}" disabled>
							</div>
							<label class="col-lg-2 control-label">
								{{ LABEL_QUIROFANO }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ quirofano_legible }}" disabled>
							</div>
							<label class="col-lg-2 control-label">
								{{ LABEL_FECHA }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ fecha_intervencion_legible }}" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">
								{{ LABEL_HORA_INICIO }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ hora_inicio_legible }}" disabled>
							</div>
							<label class="col-lg-2 control-label">
								{{ LABEL_HORA_FIN }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ hora_fin_legible }}" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="tipo-anestesia">
								{{ LABEL_ANESTESIA }}
							</label>
							<div class="col-lg-10">
								{% for radio in formulario_solicitud_quirofano.preferencia_anestesica %}
								<label class="radio-inline">
									{% render_field radio %}
								</label>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="observaciones">
								{{ LABEL_OBSERVACIONES }}
							</label>
							<div class="col-lg-10">
								{% render_field formulario_solicitud_quirofano.observaciones class="form-control" id="observaciones" %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="riesgo">
								{{ LABEL_NIVEL_RIESGO }}
							</label>
							<div class="col-lg-10">
								{% for radio in formulario_solicitud_quirofano.riesgo %}
								<label class="radio-inline">
									{% render_field radio %}
								</label>
								{% endfor %}
							</div>
						</div>
						<div class="form-group hidden" id="razon-riesgo">
							<div class="col-lg-offset-2 col-lg-10">
								{% render_field formulario_solicitud_quirofano.razon_riesgo class="form-control" id="razon-riesgo-input" placeholder=LABEL_RAZON_RIESGO %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="equipo-especial-requerido">
								{{ LABEL_EQUIPOS_ESPECIALES }}
							</label>
							<div class="col-lg-10">
								{% render_field formulario_solicitud_quirofano.equipos_especiales_requeridos class="form-control" id="equipo-especial-requerido" %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" for="material-quirurgico">
								{{ LABEL_MATERIAL_QUIRURGICO }}
							</label>
							<div class="col-lg-10">
								{% render_field formulario_solicitud_quirofano.materiales_quirurgicos_requeridos class="form-control" id="material-quirurgico-requerido" %}
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="form-group">
							<div class="col-lg-2">
								<a href="javascript:void(0);" class="btn btn-default" id="ver-info-paciente">
									<span class="glyphicon glyphicon-chevron-left"></span> {{ PACIENTE }}
								</a>
							</div>
							<div class="col-lg-offset-10">
								<button type="submit" class="btn btn-primary btn-lg">{{ ENVIAR }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="hidden" id="datos-procedimiento-quirurgico">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-anestesiologo">
								Anestesiólogo:
							</label>
							<div class="col-lg-3">
								<input type="text" class="form-control" name="nombre-anestesiologo" placeholder="Nombre" />
							</div>
							<div class="col-lg-3">
								<input type="text" class="form-control" name="apellido-anestesiologo" placeholder="Apellido" />
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon">
										Bs.
									</span>
									<input type="text" class="form-control" name="honorario-anestesiologo" placeholder="Monto honorarios">
								</div>
							</div>
						</div><!-- Anestesiologo -->
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-ayudante-1">
								Primer Ayudante:
							</label>
							<div class="col-lg-3">
								<input type="text" class="form-control" name="nombre-ayudante-1" placeholder="Nombre" />
							</div>
							<div class="col-lg-3">
								<input type="text" class="form-control" name="apellido-ayudante-1" placeholder="Apellido" />
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon">
										Bs.
									</span>
									<input type="text" class="form-control" name="honorario-ayudante-1" placeholder="Monto honorarios">
								</div>
							</div>
						</div><!-- Primer Ayudante -->
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-ayudante-2">
								Segundo Ayudante:
							</label>
							<div class="col-lg-3">
								<input type="text" class="form-control" name="nombre-ayudante-2" placeholder="Nombre" />
							</div>
							<div class="col-lg-3">
								<input type="text" class="form-control" name="apellido-ayudante-2" placeholder="Apellido" />
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon">
										Bs.
									</span>
									<input type="text" class="form-control" name="honorario-ayudante-2" placeholder="Monto honorarios">
								</div>
							</div>
						</div><!-- Segundo Ayudante -->
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-ayudante-3">
								Tercer Ayudante:
							</label>
							<div class="col-lg-3">
								<input type="text" class="form-control" name="nombre-ayudante-3" placeholder="Nombre" />
							</div>
							<div class="col-lg-3">
								<input type="text" class="form-control" name="apellido-ayudante-3" placeholder="Apellido" />
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon">
										Bs.
									</span>
									<input type="text" class="form-control" name="honorario-ayudante-3" placeholder="Monto honorarios">
								</div>
							</div>
						</div><!-- Tercer Ayudante -->
					</div>
					<div class="panel-footer">
						<div class="form-group">
							<div class="col-lg-2">
								<a href="javascript:void(0);" class="btn btn-default" id="volver-info-paciente">
									<span class="glyphicon glyphicon-chevron-left"></span>
									Paciente
								</a>
							</div>
							<div class="col-lg-offset-10">
								<a href="#" class="btn btn-primary btn-lg">Enviar
								</a>
							</div>
						</div>
					</div>
				</div>
			</form><!-- Formulario Solicitud Quirofano -->
		</div>
	</div>
</div>
{% endblock content %}
