{% extends request.session.template_base %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %} {{block.super}} | Solicitud de Quirófano {% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'medico/js/solicitud_quirofano.js' %}">
</script>
{% endblock scripts %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}

{% block numero-mensajes %}
4
{% endblock numero-mensajes %}

{% block content %}
<div class="page-header">
	<h1>Solicitud de Quirófano</h1>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<h1 class="panel-title" id="titulo-detalles-solicitud">
						Detalles de Solicitud - Paciente
					</h1>
				</div>
			</div>

			<!--<script type="text/javascript">
			$(function() {
				sistemasCorporales = {{ json_sistemas_corporales|safe }};
			});
			</script>-->
			<!-- Formulario Solicitud Quirofano -->
			<form class="form-horizontal" id="formulario-solicitud-quirofano" role="form" action="{% url 'solicitud_quirofano' ano mes dia id_quirofano hora_inicio duracion_en_medias_horas %}" method="POST" novalidate>
				{% csrf_token %}
				{% if agregando_procedimiento %}
				<script type="text/javascript">
				$(function() {
					mostrarModalAgregarProcedimientoQuirurgico();
				});
				</script>
				{% endif %}
				{% if not errores_primera_pagina %}
				<script type="text/javascript">
				$(function() {
					mostrarInfoQuirofano();
				});
				</script>
				{% endif %}
				<input type="hidden" name="accion" id="accion-formulario" value="{{ accion }}">
				<div id="datos-paciente">
					<div class="panel-body">
						<div class="form-group" id="nombre-apellido-paciente-form-group">
							<label class="col-lg-2 control-label" for="nombre-paciente">
								{{ LABEL_NOMBRE }}
							</label>
							<div class="col-lg-4">
								{% render_field formulario_solicitud_quirofano.nombre_paciente class="form-control" id="nombre-paciente" %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-paciente-error-feedback-icon"></span>
								<span class="help-block hidden" id="nombre-paciente-error-help">{{ formulario_solicitud_quirofano.nombre_paciente.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.nombre_paciente.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresNombrePaciente();
							});
							</script>
							{% endif %}
							<label class="col-lg-2 control-label" for="apellido-paciente">
								{{ LABEL_APELLIDO }}
							</label>
							<div class="col-lg-4">
								{% render_field formulario_solicitud_quirofano.apellido_paciente class="form-control" id="apellido-paciente" %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="apellido-paciente-error-feedback-icon"></span>
								<span class="help-block hidden" id="apellido-paciente-error-help">{{ formulario_solicitud_quirofano.apellido_paciente.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and not procedimiento_agregado and formulario_solicitud_quirofano.apellido_paciente.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresApellidoPaciente();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group" id="cedula-genero-paciente-form-group">
							<label class="col-lg-2 control-label" for="cedula-paciente">
								{{ LABEL_CEDULA }}
							</label>
							<div class="col-lg-4">
								<div class="input-group">
									<div class="input-group-btn">
										<button class="btn btn-default dropdown-toggle" id="cedula-paciente-nacionalidad" type="button" data-toggle="dropdown">
											<span id="cedula-paciente-nacionalidad-texto"></span>
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a id="cedula-paciente-nacionalidad-cambiar" href="javascript:void(0);">E-</a></li>
										</ul>
									</div>
									{% render_field formulario_solicitud_quirofano.nacionalidad_paciente id="cedula-paciente-nacionalidad-input" %}
									{% render_field formulario_solicitud_quirofano.cedula_paciente class="form-control" id="cedula-paciente" %}
									<script type="text/javascript">
									$(function() {
										inicializarNacionalidadCedulaPaciente();
									});
									</script>
								</div>
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="cedula-paciente-error-feedback-icon"></span>
								<span class="help-block hidden" id="cedula-paciente-error-help">{{ formulario_solicitud_quirofano.cedula_paciente.errors }}</span>
								<span class="help-block hidden" id="cedula-paciente-nacionalidad-error-help">{{ formulario_solicitud_quirofano.nacionalidad_paciente.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and not procedimiento_agregado and formulario_solicitud_quirofano.nacionalidad_paciente.errors %}
							<script type="text/javascript">
							$(function(){
								mostrarErroresNacionalidadCedulaPaciente();
							});
							</script>
							{% endif %}
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and not procedimiento_agregado and formulario_solicitud_quirofano.cedula_paciente.errors %}
							<script type="text/javascript">
							$(function(){
								mostrarErroresCedulaPaciente();
							});
							</script>
							{% endif %}
							<label class="col-lg-2 control-label">
								{{ LABEL_GENERO }}
							</label>
							<div class="col-lg-4" id="radios-genero-paciente">
								{% for radio in formulario_solicitud_quirofano.genero_paciente %}
								<label class="radio-inline">
									{% render_field radio %}
								</label>
								{% endfor %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="genero-paciente-error-feedback-icon"></span>
								<span class="help-block hidden" id="genero-paciente-error-help">{{ formulario_solicitud_quirofano.genero_paciente.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.genero_paciente.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresGeneroPaciente();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group" id="fecha-nacimiento-telefono-paciente-form-group">
							<label class="col-lg-2 control-label" for="fecha-nacimiento-paciente">
								{{ LABEL_FECHA_NACIMIENTO }}
							</label>
							<div class="col-lg-3">
								{% render_field formulario_solicitud_quirofano.fecha_nacimiento_paciente class="form-control" id="fecha-nacimiento-paciente" type="date" %}
								<span class="help-block hidden" id="fecha-nacimiento-paciente-error-help">{{ formulario_solicitud_quirofano.fecha_nacimiento_paciente.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.fecha_nacimiento_paciente.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresFechaNacimientoPaciente();
							});
							</script>
							{% endif %}
							<label class="col-lg-2 control-label" for="codigo-telefono-paciente">
								{{ LABEL_TELEFONO }}
							</label>
							<div class="col-lg-2">
								{% render_field formulario_solicitud_quirofano.codigo_telefono_paciente class="form-control" id="codigo-telefono-paciente" placeholder=LABEL_CODIGO_TELEFONO %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="codigo-telefono-paciente-error-feedback-icon"></span>
								<span class="help-block hidden" id="codigo-telefono-paciente-error-help">{{ formulario_solicitud_quirofano.codigo_telefono_paciente.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.codigo_telefono_paciente.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresCodigoTelefonoPaciente();
							});
							</script>
							{% endif %}
							<div class="col-lg-3">
								{% render_field formulario_solicitud_quirofano.numero_telefono_paciente class="form-control" id="numero-telefono-paciente" placeholder=LABEL_NUMERO_TELEFONO %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="numero-telefono-paciente-error-feedback-icon"></span>
								<span class="help-block hidden" id="numero-telefono-paciente-error-help">{{ formulario_solicitud_quirofano.numero_telefono_paciente.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.numero_telefono_paciente.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresNumeroTelefonoPaciente();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group" id="numero-habitacion-paciente-form-group">
							<label class="col-lg-2 control-label">
								{% render_field formulario_solicitud_quirofano.paciente_hospitalizado %}
								{{ LABEL_PACIENTE_HOSPITALIZADO }}
							</label>
							<div class="hidden" id="habitacion">
								<label class="col-lg-2 control-label" for="numero-habitacion-paciente">
									{{ LABEL_HABITACION }}
								</label>
								<div class="col-lg-2">
									{% render_field formulario_solicitud_quirofano.numero_habitacion_paciente class="form-control" id="numero-habitacion-paciente" %}
									<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="numero-habitacion-paciente-error-feedback-icon"></span>
									<span class="help-block hidden" id="numero-habitacion-paciente-error-help">{{ formulario_solicitud_quirofano.numero_habitacion_paciente.errors }}</span>
									<span class="help-block hidden" id="paciente-hospitalizado-error-help">{{ formulario_solicitud_quirofano.paciente_hospitalizado.errors }}</span>
								</div>
								{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.numero_habitacion_paciente.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresNumeroHabitacionPaciente();
								});
								</script>
								{% endif %}
								{% if formulario_solicitud_quirofano.paciente_hospitalizado.errors %}
								<script type="text/javascript">
								$(function() {
									mostrarErroresPacienteHospitalizado();
								});
								</script>
								{% endif %}
							</div>
							{% if formulario_solicitud_quirofano.paciente_hospitalizado.value %}
							<script type="text/javascript">
							$(function() {
								mostrarNumeroHabitacionPaciente();
							});
							</script>
							{% endif %}
						</div>
					</div>
					<div class="panel-footer">
						<div class="form-group">
							<div class="col-lg-offset-10">
								<button class="btn btn-default" id="ver-info-quirofano" type="button">{{ QUIROFANO }}
									<span class="glyphicon glyphicon-chevron-right"></span>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="hidden" id="datos-quirofano">
					<div class="panel-body">
						{% if not errores_primera_pagina and formulario_solicitud_quirofano.non_field_errors %}
						<div class="alert alert-danger fade in">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{% for error in formulario_solicitud_quirofano.non_field_errors %}
							<strong>{{ error }}</strong>
							{% endfor %}
						</div>
						<script type="text/javascript">
						$(function() {
							mostrarInfoQuirofano();
						});
						</script>
						{% endif %}
						{% if procedimiento_agregado %}
						<div class="alert alert-success fade in">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<strong>{{ MENSAJE_PROCEDIMIENTO_QUIRURGICO_AGREGADO }}</strong>
						</div>
						<script type="text/javascript">
						$(function() {
							mostrarInfoQuirofano();
						});
						</script>
						{% endif %}
						{% if procedimiento_eliminado %}
						<div class="alert alert-warning fade in">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<strong>{{ MENSAJE_PROCEDIMIENTO_QUIRURGICO_ELIMINADO }}</strong>
						</div>
						<script type="text/javascript">
						$(function() {
							mostrarInfoQuirofano();
						});
						</script>
						{% endif %}
						<div class="form-group">
							<label class="col-lg-2 control-label">
								{{ LABEL_AREA }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ area_legible }}" disabled>
							</div>
							<label class="col-lg-2 control-label">
								{{ LABEL_QUIROFANO }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ quirofano_legible }}" disabled>
							</div>
							<label class="col-lg-1 control-label">
								{{ LABEL_FECHA }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ fecha_intervencion_legible }}" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">
								{{ LABEL_HORA_INICIO }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ hora_inicio_legible }}" disabled>
							</div>
							<label class="col-lg-2 control-label">
								{{ LABEL_HORA_FIN }}
							</label>
							<div class="col-lg-2">
								<input class="form-control" type="text" value="{{ hora_fin_legible }}" disabled>
							</div>
						</div>
						{% if es_coordinador %}
						<div class="form-group" id="medico-solicitante-form-group">
							<label class="col-lg-2 control-label" for="medico-solicitante">
								{{ LABEL_MEDICO_SOLICITANTE }}
							</label>
							<div class="col-lg-10">
								{% render_field formulario_solicitud_quirofano.medico_solicitante class="form-control" id="medico-solicitante" %}
								<span class="help-block hidden" id="medico-solicitante-error-help">{{ formulario_solicitud_quirofano.medico_solicitante.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.medico_solicitante.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresMedicoSolicitante();
							});
							</script>
							{% endif %}
						</div>
						{% endif %}
						<div class="form-group" id="preferencia-anestesica-form-group">
							<label class="col-lg-2 control-label" for="preferencia-anestesica">
								{{ LABEL_ANESTESIA }}
							</label>
							<div class="col-lg-10" id="radios-preferencia-anestesica">
								{% for radio in formulario_solicitud_quirofano.preferencia_anestesica %}
								<label class="radio-inline">
									{% render_field radio %}
								</label>
								{% endfor %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="preferencia-anestesica-error-feedback-icon"></span>
								<span class="help-block hidden" id="preferencia-anestesica-error-help">{{ formulario_solicitud_quirofano.preferencia_anestesica.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.preferencia_anestesica.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresPreferenciaAnestesica();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group" id="observaciones-form-group">
							<label class="col-lg-2 control-label" for="observaciones">
								{{ LABEL_OBSERVACIONES }}
							</label>
							<div class="col-lg-10">
								{% render_field formulario_solicitud_quirofano.observaciones class="form-control" id="observaciones" %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="observaciones-error-feedback-icon"></span>
								<span class="help-block hidden" id="observaciones-error-help">{{ formulario_solicitud_quirofano.observaciones.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.observaciones.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresObservaciones();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group" id="riesgo-form-group">
							<label class="col-lg-2 control-label" for="riesgo">
								{{ LABEL_NIVEL_RIESGO }}
							</label>
							<div class="col-lg-10" id="radios-riesgo">
								{% for radio in formulario_solicitud_quirofano.riesgo %}
								<label class="radio-inline">
									{% render_field radio %}
								</label>
								{% endfor %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="riesgo-error-feedback-icon"></span>
								<span class="help-block hidden" id="riesgo-error-help">{{ formulario_solicitud_quirofano.riesgo.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.riesgo.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresRiesgo();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group hidden" id="razon-riesgo">
							<div class="col-lg-offset-2 col-lg-10">
								{% render_field formulario_solicitud_quirofano.razon_riesgo class="form-control" id="razon-riesgo-input" placeholder=LABEL_RAZON_RIESGO %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="razon-riesgo-error-feedback-icon"></span>
								<span class="help-block hidden" id="razon-riesgo-error-help">{{ formulario_solicitud_quirofano.razon_riesgo.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.razon_riesgo.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresRazonRiesgo();
							});
							</script>
							{% endif %}
						</div>
						{% if formulario_solicitud_quirofano.riesgo.value == "M" %}
						<script type="text/javascript">
						$(function() {
							mostrarRazonRiesgo();
						});
						</script>
						{% endif %}
						<div class="form-group" id="dias-hospitalizacion-form-group">
							<label class="col-lg-2 control-label" for="dias-hospitalizacion">
								{{ LABEL_DIAS_HOSPITALIZACION }}
							</label>
							<div class="col-lg-2">
								{% render_field formulario_solicitud_quirofano.dias_hospitalizacion class="form-control" id="dias-hospitalizacion" %}
								<span class="help-block hidden" id="dias-hospitalizacion-error-help">{{ formulario_solicitud_quirofano.dias_hospitalizacion.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.dias_hospitalizacion.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresDiasHospitalizacion();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group" id="equipos-especiales-requeridos-form-group">
							<label class="col-lg-2 control-label" for="equipos-especiales-requeridos">
								{{ LABEL_EQUIPOS_ESPECIALES }}
							</label>
							<div class="col-lg-10" id="checkboxes-equipos-especiales-requeridos">
								<div class="row">
									{% for checkbox in formulario_solicitud_quirofano.equipos_especiales_requeridos %}
									{% if forloop.first %}
									<div class="col-lg-2">
										{% endif %}
										<div class="checkbox">
											{% render_field checkbox %}
										</div>
										{% if forloop.counter|divisibleby:5 and not forloop.last %}
									</div>
									<div class="col-lg-2">
										{% elif forloop.last %}
									</div>
									{% endif %}
									{% endfor %}
								</div>
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="equipos-especiales-requeridos-error-feedback-icon"></span>
								<span class="help-block hidden" id="equipos-especiales-requeridos-error-help">{{ formulario_solicitud_quirofano.equipos_especiales_requeridos.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.equipos_especiales_requeridos.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresEquiposEspecialesRequeridos();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group" id="materiales-quirurgicos-requeridos-form-group">
							<label class="col-lg-2 control-label" for="materiales-quirurgicos-requeridos">
								{{ LABEL_MATERIAL_QUIRURGICO }}
							</label>
							<div class="col-lg-10" id="checkboxes-materiales-quirurgicos-requeridos">
								<div class="row">
									{% for checkbox in formulario_solicitud_quirofano.materiales_quirurgicos_requeridos %}
									{% if forloop.first %}
									<div class="col-lg-2">
										{% endif %}
										<div class="checkbox">
											{% render_field checkbox %}
										</div>
										{% if forloop.counter|divisibleby:1 and not forloop.last %}
									</div>
									<div class="col-lg-2">
										{% elif forloop.last %}
									</div>
									{% endif %}
									{% endfor %}
								</div>
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="materiales-quirurgicos-requeridos-error-feedback-icon"></span>
								<span class="help-block hidden" id="materiales-quirurgicos-requeridos-error-help">{{ formulario_solicitud_quirofano.materiales_quirurgicos_requeridos.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.materiales_quirurgicos_requeridos.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresMaterialesQuirurgicosRequeridos();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group" id="otros-materiales-quirurgicos-form-group">
							<label class="col-lg-offset-2 col-lg-2 control-label" for="otros-materiales-quirurgicos">
								{{ LABEL_OTROS }}
							</label>
							<div class="col-lg-6">
								{% render_field formulario_solicitud_quirofano.otros_materiales_quirurgicos class="form-control" id="otros-materiales-quirurgicos" %}
								<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="otros-materiales-quirurgicos-error-feedback-icon"></span>
								<span class="help-block hidden" id="otros-materiales-quirurgicos-error-help">{{ formulario_solicitud_quirofano.otros_materiales_quirurgicos.errors }}</span>
							</div>
							{% if not agregando_procedimiento and not procedimiento_agregado and not procedimiento_eliminado and formulario_solicitud_quirofano.otros_materiales_quirurgicos.errors %}
							<script type="text/javascript">
							$(function() {
								mostrarErroresOtrosMaterialesQuirurgicos();
							});
							</script>
							{% endif %}
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">{{ LABEL_PROCEDIMIENTOS_QUIRURGICOS }}</label>
						</div>
						<div class="form-group">
							{% render_field formulario_eliminar_procedimiento_quirurgico.id_procedimiento_quirurgico id="id-procedimiento-quirurgico" %}
							{% for procedimiento_quirurgico in procedimientos_quirurgicos %}
							{% if forloop.first %}
							<div class="col-lg-offset-2 col-lg-8 row">
								{% endif %}
								<div class="col-lg-3 well well-sm well-info">
									<input type="hidden" value="{{ procedimiento_quirurgico.id }}">
									<button class="close eliminar-procedimiento-quirurgico" aria-hidden="true">×</button>
									<!--<p>
										<strong>{{ LABEL_SISTEMA_CORPORAL }}</strong>
										{{ procedimiento_quirurgico.organo_corporal.sistema_corporal }}
									</p>
									<p>
										<strong>{{ LABEL_ORGANO_CORPORAL }}</strong>
										{{ procedimiento_quirurgico.organo_corporal }}
									</p>-->
									<p>
										<strong>{{ LABEL_PROCEDIMIENTO }}</strong>
										{{ procedimiento_quirurgico.nombre_procedimiento }}
									</p>
								</div>
								{% if forloop.last %}
							</div>
							{% endif %}
							{% empty %}
							<div class=" col-lg-offset-2 col-lg-8 well well-sm well-warning">
								<p class="text-muted texto-centrado">{{ MENSAJE_NO_HAY_PROCEDIMIENTOS_QUIRURGICOS }}</p>
							</div>
							{% endfor %}
						</div>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-2">
								<button class="btn btn-default btn-xs" id="agregar-procedimiento-quirurgico-btn" data-toggle="modal" data-target="#agregar-procedimiento-quirurgico-modal" type="button">
									<span class="glyphicon glyphicon-plus"></span>
									Agregar Procedimiento Quirúrgico
								</button>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="form-group">
							<div class="col-lg-2">
								<button class="btn btn-default" id="ver-info-paciente" type="button">
									<span class="glyphicon glyphicon-chevron-left"></span>
									{{ PACIENTE }}
								</button>
							</div>
							<div class="col-lg-offset-10">
								<button type="submit" class="btn btn-primary btn-lg">{{ ENVIAR }}</button>
							</div>
						</div>
					</div>
				</div>

				<!-- _Modal Agregar Intervencion Quirurgica -->
				<div class="modal fade" id="agregar-procedimiento-quirurgico-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">
									Agregar Procedimiento Quirúrgico
								</h4>
							</div>
							<div class="modal-body">
								{% if agregando_procedimiento and formulario_procedimiento_quirurgico.non_field_errors %}
								<div class="alert alert-danger fade in">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									{% for error in formulario_procedimiento_quirurgico.non_field_errors %}
									<strong>{{ error }}</strong>
									{% endfor %}
								</div>
								{% endif %}
								<!-- {% render_field formulario_procedimiento_quirurgico.id_organo_corporal id="id-organo-corporal" %}
								{% render_field formulario_procedimiento_quirurgico.id_tipo_procedimiento_quirurgico id="id-tipo-procedimiento-quirurgico" %}
								<div class="form-group">
									<label class="col-lg-2 control-label">{{ LABEL_SISTEMA_CORPORAL }}</label>
									<div class="col-lg-10">
										<select class="form-control" id="sistemas-corporales">
											<script type="text/javascript">
											$(function() {
												mostrarOpcionesSistemasCorporales();
											});
											</script>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">{{ LABEL_ORGANO_CORPORAL }}</label>
									<div class="col-lg-10">
										<select class="form-control" id="organos-corporales">
											<script type="text/javascript">
											$(function() {
												mostrarOpcionesOrganosCorporales(sistemasCorporales[0].id);
											});
											</script>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">
										<abbr title="{{ LABEL_PROCEDIMIENTO }}">{{ LABEL_PROCEDIMIENTO_ABREVIADO }}</abbr>
									</label>
									<div class="col-lg-10">
										<select class="form-control" id="tipos-procedimientos">
											<script type="text/javascript">
											$(function() {
												mostrarOpcionesTiposProcedimientos(sistemasCorporales[0].organos_corporales[0].id);
											});
											</script>
										</select>
									</div>
								</div>
								{% if agregando_procedimiento and not formulario_procedimiento_quirurgico.non_field_errors %}
								<script type="text/javascript">
								$(function() {
									seleccionarSistemaCorporal('{{ id_sistema_corporal_actual }}', '{{ formulario_procedimiento_quirurgico.id_organo_corporal.value }}', '{{ formulario_procedimiento_quirurgico.id_tipo_procedimiento_quirurgico.value }}');
								});
								</script>
								{% endif %} -->
								<div class="form-group" id="nombre-procedimiento-form-group">
									<label class="col-lg-2 control-label">
										<abbr title="{{ LABEL_PROCEDIMIENTO }}">{{ LABEL_PROCEDIMIENTO_ABREVIADO }}</abbr>
									</label>
									<div class="col-lg-10">
										{% render_field formulario_procedimiento_quirurgico.nombre_procedimiento class="form-control" id="nombre-procedimiento" %}
										<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-procedimiento-error-feedback-icon"></span>
										<span class="help-block hidden" id="nombre-procedimiento-error-help">{{ formulario_procedimiento_quirurgico.nombre_procedimiento.errors }}</span>
									</div>
									{% if agregando_procedimiento and formulario_procedimiento_quirurgico.nombre_procedimiento.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresNombreProcedimiento();
									});
									</script>
									{% endif %}
								</div>
								<div class="form-group" id="cirujano-principal-form-group">
									<label class="col-lg-2 control-label" for="nombre-cirujano-principal">
										{{ LABEL_CIRUJANO_PRINCIPAL }}
									</label>
									<div class="col-lg-6">
										{% render_field formulario_procedimiento_quirurgico.cirujano_principal class="form-control" id="cirujano-principal" %}
										<span class="help-block hidden" id="cirujano-principal-error-help">{{ formulario_procedimiento_quirurgico.cirujano_principal.errors }}</span>
									</div>
									{% if agregando_procedimiento and formulario_procedimiento_quirurgico.cirujano_principal.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresCirujanoPrincipal();
									});
									</script>
									{% endif %}
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label" for="anestesiologo">
										<abbr title="{{ LABEL_ANESTESIOLOGO }}">{{ LABEL_ANESTESIOLOGO_ABREVIADO }}</abbr>
									</label>
									<div class="col-lg-6">
										{% render_field formulario_procedimiento_quirurgico.anestesiologo class="form-control" id="anestesiologo" %}
										<span class="help-block hidden" id="anestesiologo-error-help">{{ formulario_procedimiento_quirurgico.anestesiologo.errors }}</span>
									</div>
									{% if agregando_procedimiento and formulario_procedimiento_quirurgico.anestesiologo.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresAnestesiologo();
									});
									</script>
									{% endif %}
								</div>
								<div class="form-group" id="primer-ayudante-form-group">
									<label class="col-lg-2 control-label" for="primer-ayudante">
										{{ LABEL_PRIMER_AYUDANTE }}
									</label>
									<div class="col-lg-6">
										{% render_field formulario_procedimiento_quirurgico.primer_ayudante class="form-control" id="primer-ayudante" %}
										<span class="help-block hidden" id="primer-ayudante-error-help">{{ formulario_procedimiento_quirurgico.primer_ayudante.errors }}</span>
									</div>
									{% if agregando_procedimiento and formulario_procedimiento_quirurgico.primer_ayudante.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresPrimerAyudante();
									});
									</script>
									{% endif %}
								</div>
								<div class="form-group" id="segundo-ayudante-form-group">
									<label class="col-lg-2 control-label" for="segundo-ayudante">
										{{ LABEL_SEGUNDO_AYUDANTE }}
									</label>
									<div class="col-lg-6">
										{% render_field formulario_procedimiento_quirurgico.segundo_ayudante class="form-control" id="segundo-ayudante" %}
										<span class="help-block hidden" id="segundo-ayudante-error-help">{{ formulario_procedimiento_quirurgico.segundo_ayudante.errors }}</span>
									</div>
									{% if agregando_procedimiento and formulario_procedimiento_quirurgico.segundo_ayudante.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresSegundoAyudante();
									});
									</script>
									{% endif %}
								</div>
								<div class="form-group" id="tercer-ayudante-form-group">
									<label class="col-lg-2 control-label" for="tercer-ayudante">
										{{ LABEL_TERCER_AYUDANTE }}
									</label>
									<div class="col-lg-6">
										{% render_field formulario_procedimiento_quirurgico.tercer_ayudante class="form-control" id="tercer-ayudante" %}
										<span class="help-block hidden" id="tercer-ayudante-error-help">{{ formulario_procedimiento_quirurgico.tercer_ayudante.errors }}</span>
									</div>
									{% if agregando_procedimiento and formulario_procedimiento_quirurgico.tercer_ayudante.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresTercerAyudante();
									});
									</script>
									{% endif %}
								</div>
								<div class="form-group" id="diagnostico-ingreso-paciente-form-group">
									<label class="col-lg-2 control-label" for="diagnostico-ingreso-paciente">
										{{ LABEL_DIAGNOSTICO }}
									</label>
									<div class="col-lg-10">
										{% render_field formulario_procedimiento_quirurgico.diagnostico_ingreso_paciente class="form-control" id="diagnostico-ingreso-paciente" %}
										<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="diagnostico-ingreso-paciente-error-feedback-icon"></span>
										<span class="help-block hidden" id="diagnostico-ingreso-paciente-error-help">{{ formulario_procedimiento_quirurgico.diagnostico_ingreso_paciente.errors }}</span>
									</div>
									{% if agregando_procedimiento and formulario_procedimiento_quirurgico.diagnostico_ingreso_paciente.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresDiagnosticoIngresoPaciente();
									});
									</script>
									{% endif %}
								</div>
								<div class="form-group" id="servicios-operatorios-paciente-form-group">
									<label class="col-lg-2 control-label" for="servicios_operatorios_paciente">
										{{ LABEL_SERVICIOS_OPERATORIOS }}
									</label>
									<div class="col-lg-10" id="checkboxes-servicios-operatorios-paciente">
										<div class="row">
											{% for checkbox in formulario_procedimiento_quirurgico.servicios_operatorios_paciente %}
											{% if forloop.first %}
											<div class="col-lg-2">
												{% endif %}
												<div class="checkbox">
													{% render_field checkbox %}
												</div>
												{% if forloop.counter|divisibleby:1 and not forloop.last %}
											</div>
											<div class="col-lg-2">
												{% elif forloop.last %}
											</div>
											{% endif %}
											{% endfor %}
										</div>
										<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="servicios-operatorios-paciente-error-feedback-icon"></span>
										<span class="help-block hidden" id="servicios-operatorios-paciente-error-help">{{ formulario_procedimiento_quirurgico.servicios_operatorios_paciente.errors }}</span>
									</div>
									{% if agregando_procedimiento and formulario_procedimiento_quirurgico.servicios_operatorios_paciente.errors %}
									<script type="text/javascript">
									$(function() {
										mostrarErroresServiciosOperatoriosPaciente();
									});
									</script>
									{% endif %}
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" id="cancelar-agregar-procedimiento-quirurgico" data-dismiss="modal">
									{{ CANCELAR }}
								</button>
								<button type="submit" class="btn btn-primary">
									{{ ACEPTAR }}
								</button>
							</div>
						</form>
					</div>
				</div>
			</div><!-- Modal Agregar Intervencion Quirurgica -->
		</form><!-- Formulario Solicitud Quirofano -->
	</div>
</div>
</div>
{% endblock content %}
