/* referencia de variables
$vinotinto-transparente: rgba(182,79,79,0.5)
$vinotinto-mas-transparente: rgba(182,79,79,0.2)
$vinotinto-claro: rgba(224, 155, 155, 1)
$vinotinto: rgba(172, 66, 66, 1)
$vinotinto-oscuro: rgba(97, 34, 34, 1)
$azul-disponible: #BAD3EB
$azul-disponible-oscuro: #87A1B9
$gris-no-disponible: rgba(196, 196, 196, 0.3)
$gris-no-disponible-oscuro: rgba(196, 196, 196, 1)
$negro-opaco: rgba(0, 0, 0, 0.7)
$rojo-transparente: rgba(255, 0, 0, 0.1)
$amarillo-claro: #FDF6A4 0
$amarillo-mas-claro: #FCFCB6 100%
$azul-celeste: #d9edf7 */

/* body padding top para evadir la superposicion del navbar de bootstrap por encima del contenido */
body
{
	padding-top:100px
}

/* footer */
#footer
{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	background-color:rgba(182,79,79,0.2)
}

/* borde redondeado header */
.navbar-fixed-top
{
	border-radius:10px!important;
	border-width:0 0 3px!important
}

/* colores header */
.navbar-default
{
	border-color:rgba(182,79,79,0.5)!important
}

/* logo header */
.navbar-brand
{
	margin-left:0!important;
	padding:5px
}

/* estilo headers de paginas */
.page-header
{
	margin:40px 20px 20px!important
}

/* estilo texto resaltante */
.lead
{
	color:rgba(172,66,66,1)!important;
	font-weight:700
}

/* estilo links */
a
{
	color:rgba(172,66,66,1)
}

a:hover
{
	color:rgba(97,34,34,1)
}

/* estilo badges */
.badge
{
	background-color:rgba(182,79,79,0.5)!important
}

/* estilo boton primario */
.btn-primary
{
	background-image:linear-gradient(to bottom,rgba(224,155,155,1) 0,rgba(182,79,79,1) 100%)!important;
	border-color:rgba(182,79,79,0.5)!important;
	background-color:rgba(182,79,79,1)!important
}

/* imagenes circulares */
.img-circle:hover
{
	border-color:rgba(182,79,79,0.5)!important;
	border-style:solid!important;
	border-width:3px!important
}

/* estilo popovers */
.popover-title
{
	background-color:rgba(182,79,79,0.2)!important;
	font-weight:700;
	text-align:center
}

/* estilo calendario */
.table>tbody>tr
{
	line-height:120px;
	height:120px;
	min-height:120px
}

.table-bordered
{
	border:none!important
}

.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th
{
	border:none!important
}

.table>thead>tr>th
{
	text-align:center!important
}

.table>thead>tr>td.available,.table>tbody>tr>td.available,.table>tfoot>tr>td.available,.table>thead>tr>th.available,.table>tbody>tr>th.available,.table>tfoot>tr>th.available,.table>thead>tr.available>td,.table>tbody>tr.available>td,.table>tfoot>tr.available>td,.table>thead>tr.available>th,.table>tbody>tr.available>th,.table>tfoot>tr.available>th
{
	background-color:#BAD3EB!important;
	cursor:pointer
}

.table>thead>tr>td.actual,.table>tbody>tr>td.actual,.table>tfoot>tr>td.actual,.table>thead>tr>th.actual,.table>tbody>tr>th.actual,.table>tfoot>tr>th.actual,.table>thead>tr.actual>td,.table>tbody>tr.actual>td,.table>tfoot>tr.actual>td,.table>thead>tr.actual>th,.table>tbody>tr.actual>th,.table>tfoot>tr.actual>th
{
	background-color:rgba(182,79,79,0.5)!important
}

.table>thead>tr>td.unavailable,.table>tbody>tr>td.unavailable,.table>tfoot>tr>td.unavailable,.table>thead>tr>th.unavailable,.table>tbody>tr>th.unavailable,.table>tfoot>tr>th.unavailable,.table>thead>tr.unavailable>td,.table>tbody>tr.unavailable>td,.table>tfoot>tr.unavailable>td,.table>thead>tr.unavailable>th,.table>tbody>tr.unavailable>th,.table>tfoot>tr.unavailable>th
{
	background-color:rgba(196,196,196,0.3)!important;
	cursor:pointer
}

.table-hover>tbody>tr>td.available:hover,.table-hover>tbody>tr>th.available:hover,.table-hover>tbody>tr.available:hover>td,.table-hover>tbody>tr.available:hover>th
{
	background-color:#87A1B9!important;
	cursor:pointer
}

.table-hover>tbody>tr>td.actual:hover,.table-hover>tbody>tr>th.actual:hover,.table-hover>tbody>tr.actual:hover>td,.table-hover>tbody>tr.actual:hover>th
{
	background-color:rgba(172,66,66,1)!important
}

.table-hover>tbody>tr>td.unavailable:hover,.table-hover>tbody>tr>th.unavailable:hover,.table-hover>tbody>tr.unavailable:hover>td,.table-hover>tbody>tr.unavailable:hover>th
{
	background-color:rgba(196,196,196,1)!important
}

/* estilo pastillas */
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus
{
	color:#fff;
	background-color:rgba(182,79,79,0.5)!important
}

/* estilo pestanas */
.nav-tabs
{
	border-bottom:none
}

/* estilo etiquetas */
.label-available
{
	background-color:#BAD3EB
}

.label-unavailable
{
	background-color:rgba(196,196,196,0.3);
	color:#000
}

/* estilo tabla de ayuda */
.table-help>thead>tr>th,.table-help>tbody>tr>th,.table-help>tfoot>tr>th,.table-help>thead>tr>td,.table-help>tbody>tr>td,.table-help>tfoot>tr>td
{
	border:none
}

/* estilo de primera columna del plan quirurgico */
.table-horas > thead > tr > th,.table-horas > tbody > tr > td
{
	background-color:#fff;
	border:none;
	text-align:center;
	font-weight:700;
	padding-left:0;
	padding-right:0
}

/* menos zoom */
.less-zoom
{
	zoom:30%
}

.less-zoom *
{
	font-size:28pt
}

/* scroll de la tabla de plan quirurgico */
.scrollable-plan
{
	overflow:auto
}

.table-plan>thead>tr>td.unavailable,.table-plan>tbody>tr>td.unavailable,.table-plan>tfoot>tr>td.unavailable,.table-plan>thead>tr>th.unavailable,.table-plan>tbody>tr>th.unavailable,.table-plan>tfoot>tr>th.unavailable,.table-plan>thead>tr.unavailable>td,.table-plan>tbody>tr.unavailable>td,.table-plan>tfoot>tr.unavailable>td,.table-plan>thead>tr.unavailable>th,.table-plan>tbody>tr.unavailable>th,.table-plan>tfoot>tr.unavailable>th
{
	outline:solid rgba(172,66,66,1) thin
}

.table-plan>thead>tr>td.unavailable-striped,.table-plan>tbody>tr>td.unavailable-striped,.table-plan>tfoot>tr>td.unavailable-striped,.table-plan>thead>tr>th.unavailable-striped,.table-plan>tbody>tr>th.unavailable-striped,.table-plan>tfoot>tr>th.unavailable-striped,.table-plan>thead>tr.unavailable-striped>td,.table-plan>tbody>tr.unavailable-striped>td,.table-plan>tfoot>tr.unavailable-striped>td,.table-plan>thead>tr.unavailable-striped>th,.table-plan>tbody>tr.unavailable-striped>th,.table-plan>tfoot>tr.unavailable-striped>th
{
	background-color: gray;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.table-plan>tbody>tr>td.unavailable:hover,.table-plan>tbody>tr>th.unavailable:hover,.table-plan>tbody>tr.unavailable:hover>td,.table-plan>tbody>tr.unavailable:hover>th
{
	background-color:rgba(196,196,196,0.3)!important
}

/* estilo de los fondos contextuales */
.bg-warning
{
	padding:15px
}

/* estilo modals */
.modal-footer-danger
{
	background-color:rgba(255,0,0,0.1)
}

/* estilo de las etiquetas de informacion */
.label-info
{
	background-color:rgba(36,83,97,0.77)!important
}

/* estilo alerts */
.alert
{
	text-align:center
}

/* estilo de paginacion */
.pagination ul
{
	padding:0;
	list-style:none
}

.pagination ul>li
{
	float:left
}

.pagination ul>li:last-child>a,.pagination ul>li:last-child>span
{
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px
}

.pagination ul>li:first-child>a,.pagination ul>li:first-child>span
{
	border-left-width:1px;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px
}

.pagination ul>.active>a,.pagination ul>.active>span
{
	cursor:default;
	background-color:rgba(224,155,155,1)!important;
	border-color:rgba(224,155,155,1)!important;
	color:#FFF!important
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span
{
	background-color:#f5f5f5;
	color:rgba(0,0,0,0.7)!important
}

.pagination ul>li>a,.pagination ul>li>span
{
	float:left;
	padding:4px 12px;
	line-height:20px;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
	border-left-width:0
}

/* estilo well de aviso */
.well-warning
{
	background-image:linear-gradient(to bottom,#FDF6A4 0,#FCFCB6 100%)!important
}

/* estilo de well primario */
.well-primary {
	background-image:linear-gradient(to bottom,rgba(235, 199, 199, 1) 0,rgba(235, 199, 199, 1) 100%)!important;
}

/* estilo de well informacion */
.well-info
{
	background-image:linear-gradient(to bottom,#d9edf7 0,#d9edf7 100%)!important;
	margin:5px
}

/* estilo de turnos que pueden ser seleccionados */
.available-select
{
	outline:solid #87A1B9 thin;
	vertical-align:middle!important;
	text-align:center
}

/* texto centrado */
.texto-centrado
{
	text-align:center
}

/* alineamiento vertical en el fondo */
.cell-bottom-left
{
	position:absolute;
	bottom:5px;
	left:5px;
	text-align:left;
	z-index:10;
	vertical-align:bottom
}

/* alineamiento vertical en el centro */
.cell-centered {
	position: absolute;
	left:50%;
	bottom: 50%
}

/* posicion relativa */
.position-relative
{
	position:relative
}

/* estilo tabla plan quirurgico observadores */
#table-intervenciones>tbody>tr>td
{
	vertical-align:middle!important;
	text-align:center
}

/* estilo etiquetas de quirofanos */
.label-quirofano-0
{
	background-color:#4D704D!important
}

.label-quirofano-1
{
	background-color:#994E36!important
}

.label-quirofano-2
{
	background-color:#4D4D94!important
}

.label-quirofano-3
{
	background-color:#5E345E!important
}

.label-quirofano-4
{
	background-color:#8A7430!important
}

.label-quirofano-5
{
	background-color:#933!important
}

#cambiar-estado-modal
{
	position:absolute;
	top:35%;
	left:20%;
	margin-top:-25px;
	margin-left:-250px;
	padding:20px
}

/* Estilo de los paneles */
.panel-title{
	font-weight: bold;
}

/* Tamano de los modal lg */
.modal-lg {
	width:1000px !important;
}

/* personalización de carousel */
.carousel-control {
	opacity: 1!important;
	color: rgba(182,79,79,0.5)
}

.carousel-control:hover {
	color: rgba(97, 34, 34, 1)
}

.carousel-control.right, .carousel-control.left {
	background-image: none!important
}

/* color campos obligatorios */
.campo-obligatorio {
	color: #E71C1C
}

/* estilo pestanas */
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#555;
	background-color:#CCCCCC;
	border:2px solid #C2BABA;
	border-bottom-color:transparent;
	cursor:default
}

