{% extends request.session.template_base %}

{% load staticfiles  %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Mis Solicitudes{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'mensaje/js/mis_mensajes.js' %}">
</script>
{% endblock scripts %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}



{% block content %}
<div class="page-header">
	<h1>Mis Mensajes</h1>
</div>
<!-- Pestañas -->
<div class="row">
	<div class="col-lg-offset-1 col-lg-9">
		<ul class="nav nav-tabs">
			<li class="active" id="li-en-espera">
				<a href="#">
					Pendientes
					<span class="glyphicon glyphicon-folder-close">
					</span>
				</a>
			</li>
			<li  id="li-aprobadas">
				<a href="#">
					Leídos
					<span class="glyphicon glyphicon-folder-open">
					</span>
				</a>
			</li>
		</ul>
	</div>
</div><!-- Pestañas -->

<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<!-- Tab panes -->
		<div class="tab-content">
			<div  id="contenido-pendientes">
				{% include "mensaje/lista_mis_mensajes.html" with lista_mensajes=mensajes_pendientes tipo="por leer" %}
			</div><!-- Lista de Solicitudes Pendientes -->
			<div class="hidden" id="contenido-aprobadas">
				{% include "mensaje/lista_mis_mensajes.html" with lista_mensajes=mensajes_leidos tipo="leídos" %}
			</div><!-- Lista de Solicitudes Rechazadas -->
		</div><!-- Tab panes -->
	</div>
</div>

<!-- Paginacion de Solicitudes -->
<div class="row">
	<div class="col-lg-6 col-lg-offset-1">
		<div class="hidden" id="paginacion-pendientes"></div>
		<div class="hidden" id="paginacion-aprobadas"></div>
	</div>
</div>
<script type="text/javascript">
{% if 0 == 0 %}
if ($('#paginacion-pendientes').hasClass("active")) {
inicializarPaginacion({{ mensajes_pendientes.number }}, {{ mensajes_pendientes.paginator.num_pages }}, 'pendientes' );
}
// } else if ($('#paginacion-aprobadas').hasClass("active")) {
// $('#li-en-espera').addClass('active');
// $('#li-aprobadas').removeClass('active');
// $('#li-rechazadas').removeClass('active');
// {% elif estado_solicitud == 'aprobadas' %}
// inicializarPaginacion({{ mensajes_leidos.number }}, {{ mensajes_leidos.paginator.num_pages }}, 'aprobadas' );
// };
// $('#li-aprobadas').addClass('active');
// $('#li-en-espera').removeClass('active');
// $('#li-rechazadas').removeClass('active');
// {% elif estado_solicitud == 'rechazadas' %}
// inicializarPaginacion({{ reservaciones_rechazadas.number }}, {{ reservaciones_rechazadas.paginator.num_pages }}, 'rechazadas' );
// $('#li-rechazadas').addClass('active');
// $('#li-en-espera').removeClass('active');
// $('#li-aprobadas').removeClass('active');
{% endif %}
</script>
{% endblock content %}
