{% load staticfiles %}
{% load widget_tweaks %}

{% block scripts %}
<script type="text/javascript" src="{% static 'coordinador/js/lista_solicitudes_quirofanos.js' %}">
</script>
<script type="text/javascript" src="{% static 'plan_quirurgico/js/modal_detalle_intervencion.js' %}">
</script>
{% endblock scripts %}

{% if reservaciones|length > 0 %}
<ul class="list-group">
    {% for reservacion in reservaciones %}
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#modal-reservacion-{{ reservacion.objeto.pk }}">
        <span class="label label-default">{{ LABEL_MEDICO_SOLICITANTE }} {{ reservacion.objeto.medico }}</span>
        <span class="label label-info">{{ LABEL_FECHA_INTERVENCION }} {{ reservacion.objeto.intervencion_quirurgica.fecha_intervencion }}</span>
        <span class="pull-right">
            <small>
                <strong>
                    {{ LABEL_FECHA_SOLICITUD }} {{ reservacion.objeto.fecha_reservacion }}
                </strong>
            </small>
        </span>
    </a>

    {% include "plan_quirurgico/modal_detalle_intervencion.html" with reservacion=reservacion vista_plan_dia=False es_coordinador=True tipo_solicitud=tipo %}

    {% endfor %}
</ul>
{% else %}
<ul class="list-group-item">
    <strong>No existen solicitudes de quirófano {{ tipo }}s.</strong>
</ul>
{% endif %}
