{% extends request.session.template_base %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Cambiar Contraseña {% endblock title %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block nombre-usuario %}
{{ request.session.nombre_usuario }}
{% endblock nombre-usuario %}

{% block numero-mensajes %}
3
{% endblock numero-mensajes %}

{% block content %}
<div class="page-header">
    <h1>
        Cambiar Contraseña
    </h1>
</div>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <h1 class="panel-title">
                        Amo demasiado a mi piojo
                    </h1>
                </div>
            </div>
            <form class="form-horizontal" role="form" action="{% url 'cambiar_contrasena' %}" method='POST'>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="contrasena-actual">Contraseña Actual:</label>
                        <div class="col-lg-8">
                            {% render_field formulario_cambio_contrasena.contrasena_actual class="form-control" id="contrasena-actual"%}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="contrasena-nueva">Nueva Contraseña:</label>
                        <div class="col-lg-8">
                            {% render_field formulario_cambio_contrasena.contrasena_nueva class="form-control" id="contrasena-nueva"%}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="contrasena-confirmacion">Repita Nueva Contraseña:</label>
                        <div class="col-lg-8">
                            {% render_field formulario_cambio_contrasena.contrasena_confirmacion class="form-control" id="contrasena-confirmacion"%}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <!-- Submit -->
                    <div class="col-lg-offset-10">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Amar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
