{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Inicio{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'autenticacion/js/inicio.js' %}">
</script>
{% endblock scripts %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block navbar-nav-extra %}
<!-- Formulario de Inicio de Sesion -->
<form class="navbar-form navbar-right" action="{% url 'iniciar_sesion' %}" method="post">{% csrf_token %}
  <div class="form-group">
    {% render_field formulario_inicio_sesion.nombre_usuario class="form-control" placeholder="Nombre de usuario" %}
    {% render_field formulario_inicio_sesion.contrasena class="form-control" placeholder="Contraseña" %}
    {{ formulario_inicio_sesion.nombre_usuario.errors }}
    <button type="submit" class="btn btn-primary btn-loading" data-loading-text="{{ INICIANDO_SESION }}">
      {{ INICIAR_SESION }}
    </button>
    <span class="help-block">
      <a href="{% url 'recuperar_contrasena' %}">
        <small>
          {{ OLVIDO_CONTRASENA }}
        </small>
      </a>
    </span>
  </div>
</form><!-- Formulario de Inicio de Sesion -->
{% endblock navbar-nav-extra %}

{% block content %}
<div class="page-header">
  <h1>
    Registro de Usuario
  </h1>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <h1 class="panel-title" id="titulo-solicitar-cuenta">
            Solicitar Cuenta
          </h1>
        </div>
      </div>

      <!-- Solicitar Cuenta -->
      <div class="panel-body" id="body-solicitar-cuenta">
        <div class="row">
          <div class="col-lg-offset-4">
            <div class="pull-left">
              <a href="javascript:void(0);" id="solicitar-cuenta-medico">
                <img src="{% static 'img/doctor.png' %}" alt="Médico" class="img-responsive img-circle">
              </a>
            </div>
            <div class="pull-left">
              <a href="javascript:void(0);" id="solicitar-cuenta-departamento">
                <img src="{% static 'img/departamento.png' %}" alt="Departamento" class="img-responsive img-circle">
              </a>
            </div>
          </div>
        </div>
      </div><!-- Solicitar Cuenta -->

      <!-- Busqueda de Medico por Cedula -->
      <form class="form-horizontal hidden" role="form" id="formulario-busqueda-medico" action="{% url 'busqueda_medico' %}" method="POST">
        {% csrf_token %}
        {% if formulario_busqueda_medico.errors %}
        <script type="text/javascript">
        $(function() {
          mostrarBusquedaCedulaMedico();
        });
        </script>
        {% endif %}
        <div class="panel-body">
          <div class="form-group" id="busqueda-cedula-medico-form-group">
            <label class="col-lg-offset-3 col-lg-3 control-label" for="busqueda-cedula-medico">
              {{ LABEL_BUSCAR_CEDULA }}
            </label>
            <div class="col-lg-3">
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default dropdown-toggle" id="busqueda-cedula-medico-nacionalidad" type="button" data-toggle="dropdown">
                    <span id="busqueda-cedula-medico-nacionalidad-texto"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a id="busqueda-cedula-medico-nacionalidad-cambiar" href="javascript:void(0);">E-</a></li>
                  </ul>
                </div>
                {% render_field formulario_busqueda_medico.nacionalidad_medico id="busqueda-cedula-medico-nacionalidad-input" %}
                {% render_field formulario_busqueda_medico.cedula_medico class="form-control" id="busqueda-cedula-medico" %}
                <script type="text/javascript">
                $(function() {
                  inicializarNacionalidadCedulaMedico();
                });
                </script>
              </div>
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="busqueda-cedula-medico-error-feedback-icon"></span>
              <span class="help-block hidden" id="busqueda-cedula-medico-error-help">{{ formulario_busqueda_medico.cedula_medico.errors }}</span>
              <span class="help-block hidden" id="busqueda-cedula-medico-nacionalidad-error-help">{{ formulario_busqueda_medico.nacionalidad_medico.errors }}</span>
            </div>
            {% if formulario_busqueda_medico.nacionalidad_medico.errors %}
            <script type="text/javascript">
            $(function(){
              mostrarErroresNacionalidadCedulaMedico();
            });
            </script>
            {% endif %}
            {% if formulario_busqueda_medico.cedula_medico.errors %}
            <script type="text/javascript">
            $(function(){
              mostrarErroresCedulaMedico();
            });
            </script>
            {% endif %}
          </div>
        </div>
        <div class="panel-footer">
          <div class="form-group">
            <div class="col-lg-6">
              <a href="javascript:void(0);" class="btn btn-default btn-lg volver-solicitar-cuenta">
                {{ VOLVER }}
              </a>
            </div>

            <!-- Submit -->
            <div class="col-lg-offset-10">
              <button type="submit" class="btn btn-primary btn-lg btn-loading" data-loading-text="{{ BUSCANDO }}">
                {{ BUSCAR }}
              </button>
            </div>
          </div><!-- Submit -->
        </div>
      </form><!-- Busqueda de Medico por Cedula -->

      <!-- Busqueda de Departamento por Nombre -->
      <form class="form-horizontal hidden" role="form" id="formulario-busqueda-departamento" action="{% url 'busqueda_departamento' %}" method="POST">
        {% csrf_token %}
        {% if formulario_busqueda_departamento.errors %}
        <script type="text/javascript">
        $(function() {
          mostrarBusquedaNombreDepartamento();
        });
        </script>
        {% endif %}
        <div class="panel-body">
          <div class="form-group" id="busqueda-nombre-departamento-form-group">
            {%if formulario_busqueda_departamento.nombre_departamento == None%}
            <div class="col-lg-12">
              <label class="col-lg-offset-3 col-lg-6 control-label" for="busqueda-nombre-departamento">
                Todos los departamentos poseen cuenta.
              </label>
            </div>
            {% else %}
            <label class="col-lg-offset-3 col-lg-3 control-label" for="busqueda-nombre-departamento">
              {{ LABEL_BUSCAR_DEPARTAMENTO }}
            </label>
            <div class="col-lg-3">
              {% render_field formulario_busqueda_departamento.nombre_departamento class="form-control" id="busqueda-nombre-departamento" %}
              <span class="help-block hidden" id="busqueda-nombre-departamento-error-help">{{ formulario_busqueda_departamento.nombre_departamento.errors }}</span>
            </div>
            {% endif %}
            {% if formulario_busqueda_departamento.nombre_departamento.errors %}
            <script type="text/javascript">
            $(function(){
              mostrarErroresNombreDepartamento();
            });
            </script>
            {% endif %}
          </div>
        </div>
        <div class="panel-footer">
          <div class="form-group">
            <div class="col-lg-6">
              <a href="javascript:void(0);" class="btn btn-default btn-lg volver-solicitar-cuenta">
                {{ VOLVER }}
              </a>
            </div>

            <!-- Submit -->
            <div class="col-lg-offset-10">
              <button type="submit" class="btn btn-primary btn-lg btn-loading" data-loading-text="{{ BUSCANDO }}">
                {{ BUSCAR }}
              </button>
            </div>
          </div><!-- Submit -->
        </div>
      </form><!-- Busqueda de Departamento por nombre -->

      <!-- Formulario de Solicitud de Registro Medico -->
      <form class="form-horizontal hidden" role="form" id="formulario-solicitud-medico" action="{% url 'registro_medico' %}" method="POST">
        {% csrf_token %}
        {% if formulario_registro_medico %}
        <script type="text/javascript">
        $(function() {
          mostrarFormularioSolicitudMedico();
        });
        </script>
        {% endif %}
        <div class="panel-body">

          <!-- Nombre y Apellido -->
          <div class="form-group" id="nombre-apellido-medico-form-group">
            <label class="col-lg-2 control-label" for="nombre-medico">
              {{ LABEL_NOMBRE }}
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="nombre-medico" type="text" value="{{ medico.nombre }}" disabled>
            </div>
            <label class="col-lg-2 control-label" for="apellido-medico">
              {{ LABEL_APELLIDO }}
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="apellido-medico" type="text" value="{{ medico.apellido }}" disabled>
            </div>
          </div><!-- Nombre y Apellido -->

          <!-- Cedula y Genero -->
          <div class="form-group" id="cedula-genero-medico-form-group">
            <label class="col-lg-2 control-label" for="cedula-medico">
              {{ LABEL_CEDULA }}
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="cedula-medico" type="text" value="{{ medico.cedula }}" disabled>
              {% render_field formulario_registro_medico.cedula_medico id="cedula-medico-input" %}
            </div>
            <label class="col-lg-2 control-label" for="genero-medico">
              {{ LABEL_GENERO }}
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="genero-medico" type="text" value="{{ medico.genero }}" disabled>
            </div>
          </div><!-- Cedula y Genero -->

          <!-- Especializacion y Telefono -->
          <div class="form-group" id="especializacion-telefono-medico-form-group">
            <label class="col-lg-2 control-label" for="especializacion-medico">
              <abbr title="{{ LABEL_ESPECIALIZACION }}">
                {{ LABEL_ESPECIALIZACION_ABREVIADO }}
              </abbr>
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="especializacion-medico" type="text" value="{{ medico.especializacion }}" disabled>
            </div>
            <label class="col-lg-2 control-label" for="telefono-medico">
              {{ LABEL_TELEFONO }}
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="telefono-medico" type="text" value="{% if medico.telefono %}{{ medico.telefono }}{% else %}{{ NO_POSEE }}{% endif %}" disabled>
            </div>
          </div><!-- Especializacion y Telefono -->

          <!-- Email y Nombre de Usuario -->
          <div class="form-group" id="email-nombre-usuario-medico-form-group">
            <label class="col-lg-2 control-label" for="email-medico">
              {{ LABEL_EMAIL }}
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="email-medico" type="text" value="{% if medico.email %}{{ medico.email }}{% else %}{{ NO_POSEE }}{% endif %}" disabled>
            </div>
            <label class="col-lg-2 control-label" for="nombre-usuario-medico">
              {{ LABEL_NOMBRE_USUARIO }}
            </label>
            <div class="col-lg-4">
              {% render_field formulario_registro_medico.nombre_usuario_medico class="form-control" id="nombre-usuario-medico" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-usuario-medico-error-feedback-icon"></span>
              <span class="help-block hidden" id="nombre-usuario-medico-error-help">{{ formulario_registro_medico.nombre_usuario_medico.errors }}</span>
            </div>
            {% if formulario_registro_medico.nombre_usuario_medico.errors %}
            <script type="text/javascript">
            $(function(){
              mostrarErroresUsuarioMedico();
            });
            </script>
            {% endif %}
          </div><!-- Email y Nombre de Usuario -->
        </div>
        <div class="panel-footer">
          <div class="form-group">
            <div class="col-lg-6">
              <a href="javascript:void(0);" class="btn btn-default btn-lg volver-solicitar-cuenta">
                {{ VOLVER }}
              </a>
            </div>

            <!-- Submit -->
            <div class="col-lg-offset-10">
              <button type="submit" class="btn btn-primary btn-lg btn-loading" data-loading-text="{{ ENVIANDO }}">
                {{ ENVIAR }}
              </button>
            </div>
          </div><!-- Submit -->
        </div>
      </form><!-- Formulario de Solicitud de Registro Medico -->

      <!-- Formulario de Solicitud de Registro Departamento -->
      <form class="form-horizontal hidden" role="form" id="formulario-solicitud-departamento" action="{% url 'registro_departamento' %}" method='POST'>
        {% csrf_token %}
        {% if formulario_registro_departamento %}
        <script type="text/javascript">
        $(function(){
          mostrarFormularioSolicitudDepartamento();
        });
        </script>
        {% endif %}
        <div class="panel-body">

          <!-- Nombre y Telefono -->
          <div class="form-group" id="nombre-telefono-departamento-form-group">
            <label class="col-lg-2 control-label" for="nombre-departamento">
              <abbr title="{{ LABEL_DEPARTAMENTO }}">
                {{ LABEL_DEPARTAMENTO_ABREVIADO }}
              </abbr>
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="nombre-departamento" type="text" value="{{ departamento.nombre }}" disabled>
              {% render_field formulario_registro_departamento.nombre_departamento id="nombre-departamento-input" %}
            </div>
            <label class="col-lg-2 control-label" for="telefono-departamento">
              {{ LABEL_TELEFONO }}
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="telefono-departamento" type="text" value="{% if departamento.telefono %}{{ departamento.telefono }}{% else %}{{ NO_POSEE }}{% endif %}" disabled>
            </div>
          </div><!-- Nombre y Telefono -->

          <!-- Email y Nombre de Usuario -->
          <div class="form-group" id="email-nombre-usuario-departamento-form-group">
            <label class="col-lg-2 control-label" for="email-departamento">
              {{ LABEL_EMAIL }}
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="email-departamento" type="text" value="{% if departamento.email %}{{ departamento.email }}{% else %}{{ NO_POSEE }}{% endif %}" disabled>
            </div>
            <label class="col-lg-2 control-label" for="nombre-usuario-departamento">
              {{ LABEL_NOMBRE_USUARIO }}
            </label>
            <div class="col-lg-4">
              {% render_field formulario_registro_departamento.nombre_usuario_departamento class="form-control" id="nombre-usuario-departamento" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-usuario-departamento-error-feedback-icon"></span>
              <span class="help-block hidden" id="nombre-usuario-departamento-error-help">{{ formulario_registro_departamento.nombre_usuario_departamento.errors }}</span>
            </div>
            {% if formulario_registro_departamento.nombre_usuario_departamento.errors %}
            <script type="text/javascript">
            $(function(){
              mostrarErroresUsuarioDepartamento();
            });
            </script>
            {% endif %}
          </div><!-- Email y Nombre de Usuario -->
        </div>
        <div class="panel-footer">
          <div class="form-group">
            <div class="col-lg-2">
              <a href="javascript:void(0);" class="btn btn-default btn-lg volver-solicitar-cuenta">
                {{ VOLVER }}
              </a>
            </div>

            <!-- Submit -->
            <div class="col-lg-offset-10">
              <button type="submit" class="btn btn-primary btn-lg btn-loading" data-loading-text="{{ ENVIANDO }}">
                {{ ENVIAR }}
              </button>
            </div>
          </div><!-- Submit -->
        </div>
      </form><!-- Formulario Solicitud de Registro Departamento -->

    </div>
  </div>
</div>
{% endblock content %}
