{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Inicio{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'autenticacion/js/inicio.js' %}">
</script>
{% endblock scripts %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block navbar-nav-extra %}
<!-- Formulario de Inicio de Sesion -->
<form class="navbar-form navbar-right" action="{% url 'iniciar_sesion' %}" method="post">{% csrf_token %}
  <div class="form-group">
    {% render_field formulario_inicio_sesion.nombre_usuario class="form-control" placeholder="Nombre de usuario" %}
    {% render_field formulario_inicio_sesion.contrasena class="form-control" placeholder="Contraseña" %}
    {{ formulario_inicio_sesion.nombre_usuario.errors }}
    <button type="submit" class="btn btn-primary">
      Iniciar Sesión
    </button>
    <span class="help-block">
      <a href="{% url 'recuperar_contrasena' %}">
        <small>
          Olvidó su usuario y/o contraseña?
        </small>
      </a>
    </span>
  </div>
</form><!-- Formulario de Inicio de Sesion -->
{% endblock navbar-nav-extra %}

{% block content %}
<div class="page-header">
  <h1>
    Registro de Usuario
  </h1>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <h1 class="panel-title" id="titulo-solicitar-cuenta">
            Solicitar Cuenta
          </h1>
        </div>
      </div>
      <div class="panel-body" id="body-solicitar-cuenta">
        <div class="row">
          <div class="col-lg-offset-4">
            <div class="pull-left">
              <a href="javascript:void(0);" id="solicitar-cuenta-medico">
                <img src="{% static 'img/doctor.png' %}" alt="Médico" class="img-responsive img-circle">
              </a>
            </div>
            <div class="pull-left">
              <a href="javascript:void(0);" id="solicitar-cuenta-departamento">
                <img src="{% static 'img/departamento.png' %}" alt="Departamento" class="img-responsive img-circle">
              </a>
            </div>
          </div>
        </div>
      </div><!-- Solicitar Cuenta -->

      <!-- Formulario de Solicitud de Registro Departamento -->
      <form class="form-horizontal hidden" role="form" id="formulario-solicitud-departamento" action="{% url 'registro_departamento' %}" method='POST'>
        {% csrf_token %}
        {% if formulario_registro_departamento.errors %}
        <script type="text/javascript">
        $(function(){
          mostrarFormularioSolicitudDepartamento();
        });
        </script>
        {% endif %}
        <div class="panel-body">

          <!-- Nombre y Telefono -->
          <div class="form-group" id="nombre-telefono-departamento-form-group">
            <label class="col-lg-2 control-label" for="nombre-departamento">
              Nombre
              <abbr title="Departamento">
                Dpto.
              </abbr>:
            </label>
            <div class="col-lg-4">
              {% render_field formulario_registro_departamento.nombre_departamento class="form-control" id="nombre-departamento"%}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-departamento-error-feedback-icon"></span>
              <span class="help-block hidden" id="nombre-departamento-error-help">{{ formulario_registro_departamento.nombre_departamento.errors }}</span>
            </div>
            <label class="col-lg-2 control-label" for="telefono-departamento">
              Teléfono:
            </label>
            <div class="col-lg-2">
              {% render_field formulario_registro_departamento.codigo_telefono class="form-control" id="codigo-telefono-departamento" placeholder="Código" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="codigo-telefono-departamento-error-feedback-icon"></span>
              <span class="help-block hidden" id="codigo-telefono-departamento-error-help">{{ formulario_registro_departamento.codigo_telefono.errors }}</span>
            </div>
            <div class="col-lg-2">
              {% render_field formulario_registro_departamento.telefono_departamento class="form-control" id="telefono-departamento" placeholder="Número" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="telefono-departamento-error-feedback-icon"></span>
              <span class="help-block hidden" id="telefono-departamento-error-help">{{ formulario_registro_departamento.telefono_departamento.errors }}</span>
            </div>
            {% if formulario_registro_departamento.nombre_departamento.errors %}
            <script type="text/javascript">
            $(function(){
              $("#nombre-departamento").parent("div").addClass("has-error");
              $("#nombre-telefono-departamento-form-group").addClass("has-feedback");
              $("#nombre-departamento-error-feedback-icon").removeClass("hidden");
              $("#nombre-departamento-error-help").removeClass("hidden");
            });
            </script>
            {% endif %}
            {% if formulario_registro_departamento.codigo_telefono.errors %}
            <script type="text/javascript">
            $(function(){
              $("#codigo-telefono-departamento").parent("div").addClass("has-error");
              $("#nombre-telefono-departamento-form-group").addClass("has-feedback");
              $("#codigo-telefono-departamento-error-feedback-icon").removeClass("hidden");
              $("#codigo-telefono-departamento-error-help").removeClass("hidden");
            });
            </script>
            {% endif %}
            {% if formulario_registro_departamento.telefono_departamento.errors %}
            <script type="text/javascript">
            $(function(){
              $("#telefono-departamento").parent("div").addClass("has-error");
              $("#nombre-telefono-departamento-form-group").addClass("has-feedback");
              $("#telefono-departamento-error-feedback-icon").removeClass("hidden");
              $("#telefono-departamento-error-help").removeClass("hidden");
            });
            </script>
            {% endif %}
          </div><!-- Nombre y Telefono -->

          <!-- Email y Nombre de Usuario -->
          <div class="form-group" id="email-nombre-usuario-departamento-form-group">
            <label class="col-lg-2 control-label" for="email-departamento">
              Email:
            </label>
            <div class="col-lg-4">
              {% render_field formulario_registro_departamento.email_departamento class="form-control" id="email-departamento" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="email-departamento-error-feedback-icon"></span>
              <span class="help-block hidden" id="email-departamento-error-help">{{ formulario_registro_departamento.email_departamento.errors }}</span>
            </div>
            <label class="col-lg-2 control-label" for="nombre-usuario-departamento">
              Nombre de Usuario:
            </label>
            <div class="col-lg-4">
              {% render_field formulario_registro_departamento.nombre_usuario_departamento class="form-control" id="nombre-usuario-departamento" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-usuario-departamento-error-feedback-icon"></span>
              <span class="help-block hidden" id="nombre-usuario-departamento-error-help">{{ formulario_registro_departamento.nombre_usuario_departamento.errors }}</span>
            </div>
            {% if formulario_registro_departamento.email_departamento.errors %}
            <script type="text/javascript">
            $(function(){
              $("#email-departamento").parent("div").addClass("has-error");
              $("#email-nombre-usuario-departamento-form-group").addClass("has-feedback");
              $("#email-departamento-error-feedback-icon").removeClass("hidden");
              $("#email-departamento-error-help").removeClass("hidden");
            });
            </script>
            {% endif %}
            {% if formulario_registro_departamento.nombre_usuario_departamento.errors %}
            <script type="text/javascript">
            $(function(){
              $("#nombre-usuario-departamento").parent("div").addClass("has-error");
              $("#email-nombre-usuario-departamento-form-group").addClass("has-feedback");
              $("#nombre-usuario-departamento-error-feedback-icon").removeClass("hidden");
              $("#nombre-usuario-departamento-error-help").removeClass("hidden");
            });
            </script>
            {% endif %}
          </div><!-- Email y Nombre de Usuario -->

          <!-- Contrasena -->
          <div class="form-group" id="contrasena-departamento-form-group">
            <label class="col-lg-2 control-label" for="contrasena-departamento">
              Contraseña:
            </label>
            <div class="col-lg-4">
              {% render_field formulario_registro_departamento.contrasena_departamento class="form-control" id="contrasena-departamento" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="contrasena-departamento-error-feedback-icon"></span>
              <span class="help-block hidden" id="contrasena-departamento-error-help">{{ formulario_registro_departamento.contrasena_departamento.errors }}</span>
              <span class="help-block hidden" id="contrasenas-departamento-no-coinciden-error-help">{{ formulario_registro_departamento.non_field_errors }}</span>
            </div>
            <label class="col-lg-2 control-label" for="contrasena-departamento-confirmacion">
              Repita Contraseña:
            </label>
            <div class="col-lg-4">
              {% render_field formulario_registro_departamento.contrasena_confirmacion class="form-control" id="contrasena-departamento-confirmacion" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="contrasena-departamento-confirmacion-error-feedback-icon"></span>
              <span class="help-block hidden" id="contrasena-departamento-confirmacion-error-help">{{ formulario_registro_departamento.contrasena_confirmacion.errors }}</span>
            </div>
            {% if formulario_registro_departamento.contrasena_departamento.errors %}
            <script type="text/javascript">
            $(function(){
              $("#contrasena-departamento").parent("div").addClass("has-error");
              $("#contrasena-departamento-form-group").addClass("has-feedback");
              $("#contrasena-departamento-error-feedback-icon").removeClass("hidden");
              $("#contrasena-departamento-error-help").removeClass("hidden");
            });
            </script>
            {% endif %}
            {% if formulario_registro_departamento.contrasena_confirmacion.errors %}
            <script type="text/javascript">
            $(function(){
              $("#contrasena-departamento-confirmacion").parent("div").addClass("has-error");
              $("#contrasena-departamento-form-group").addClass("has-feedback");
              $("#contrasena-departamento-confirmacion-error-feedback-icon").removeClass("hidden");
              $("#contrasena-departamento-confirmacion-error-help").removeClass("hidden");
            });
            </script>
            {% endif %}
            {% if formulario_registro_departamento.non_field_errors  %}
            <script type="text/javascript">
            $(function(){
              $("#contrasena-departamento-form-group").addClass("has-error has-feedback");
              $("#contrasena-departamento-error-feedback-icon").removeClass("hidden");
              $("#contrasena-departamento-confirmacion-error-feedback-icon").removeClass("hidden");
              $("#contrasenas-departamento-no-coinciden-error-help").removeClass("hidden");
            });
            </script>
            {% endif %}
          </div><!-- Contrasena -->
        </div>
        <div class="panel-footer">
          <div class="form-group">
            <div class="col-lg-2">
              <a href="javascript:void(0);" class="btn btn-default btn-lg volver-solicitar-cuenta">
                Volver
              </a>
            </div>

            <!-- Submit -->
            <div class="col-lg-offset-10">
              <button type="submit" class="btn btn-primary btn-lg">
                Enviar
              </button>
            </div>
          </div><!-- Submit -->
        </div>
      </form><!-- Formulario Solicitud de Registro Departamento -->

      <!-- Busqueda de Medico por Cedula -->
      <form class="form-horizontal hidden" role="form" id="formulario-busqueda-medico" action="{% url 'busqueda_medico' %}" method="POST">
        {% csrf_token %}
        {% if formulario_busqueda_medico.errors %}
        <script type="text/javascript">
        $(function() {
          mostrarBusquedaCedulaMedico();
        });
        </script>
        {% endif %}
        <div class="panel-body">
          <div class="form-group" id="busqueda-cedula-medico-form-group">
            <label class="col-lg-offset-3 col-lg-3 control-label" for="busqueda-cedula-medico">
              Ingrese su número de cédula:
            </label>
            <div class="col-lg-3">
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default dropdown-toggle" id="busqueda-cedula-medico-nacionalidad" type="button" data-toggle="dropdown">
                    <span id="busqueda-cedula-medico-nacionalidad-texto"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a id="busqueda-cedula-medico-nacionalidad-cambiar" href="javascript:void(0);">E-</a></li>
                  </ul>
                </div>
                {% render_field formulario_busqueda_medico.nacionalidad_medico id="busqueda-cedula-medico-nacionalidad-input" %}
                {% render_field formulario_busqueda_medico.cedula_medico class="form-control" id="busqueda-cedula-medico" %}
                <script type="text/javascript">
                $(function() {
                  inicializarNacionalidadCedulaMedico();
                });
                </script>
              </div>
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="busqueda-cedula-medico-error-feedback-icon"></span>
              <span class="help-block hidden" id="busqueda-cedula-medico-error-help">{{ formulario_busqueda_medico.cedula_medico.errors }}</span>
              <span class="help-block hidden" id="busqueda-cedula-medico-nacionalidad-error-help">{{ formulario_busqueda_medico.nacionalidad_medico.errors }}</span>
            </div>
            {% if formulario_busqueda_medico.nacionalidad_medico.errors %}
            <script type="text/javascript">
            $(function(){
              mostrarErroresNacionalidadCedulaMedico();
            });
            </script>
            {% endif %}
            {% if formulario_busqueda_medico.cedula_medico.errors %}
            <script type="text/javascript">
            $(function(){
              mostrarErroresCedulaMedico();
            });
            </script>
            {% endif %}
          </div>
        </div>
        <div class="panel-footer">
          <div class="form-group">
            <div class="col-lg-6">
              <a href="javascript:void(0);" class="btn btn-default btn-lg volver-solicitar-cuenta">
                Volver
              </a>
            </div>

            <!-- Submit -->
            <div class="col-lg-offset-10">
              <button type="submit" class="btn btn-primary btn-lg">
                Buscar
              </button>
            </div>
          </div><!-- Submit -->
        </div>
      </form><!-- Busqueda de Medico por Cedula -->

      <!-- Formulario de Solicitud de Registro Medico -->
      <form class="form-horizontal hidden" role="form" id="formulario-solicitud-medico" action="{% url 'registro_medico' %}" method="POST">
        {% csrf_token %}
        {% if formulario_registro_medico %}
        <script type="text/javascript">
        $(function() {
          mostrarFormularioSolicitudMedico();
        });
        </script>
        {% endif %}
        <div class="panel-body">

          <!-- Nombre y Apellido -->
          <div class="form-group" id="nombre-apellido-medico-form-group">
            <label class="col-lg-2 control-label" for="nombre-medico">
              Nombre:
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="nombre-medico" type="text" value="{{ medico.nombre }}" disabled>
            </div>
            <label class="col-lg-2 control-label" for="apellido-medico">
              Apellido:
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="apellido-medico" type="text" value="{{ medico.apellido }}" disabled>
            </div>
          </div><!-- Nombre y Apellido -->

          <!-- Cedula y Genero -->
          <div class="form-group" id="cedula-genero-medico-form-group">
            <label class="col-lg-2 control-label" for="cedula-medico">
              Cédula:
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="cedula-medico" type="text" value="{{ medico.cedula }}" disabled>
              {% render_field formulario_registro_medico.cedula_medico id="cedula-medico-input" %}
            </div>
            <label class="col-lg-2 control-label" for="genero-medico">
              Género:
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="genero-medico" type="text" value="{{ medico.genero }}" disabled>
            </div>
          </div><!-- Cedula y Genero -->

          <!-- Especializacion y Telefono -->
          <div class="form-group" id="especializacion-telefono-medico-form-group">
            <label class="col-lg-2 control-label" for="especializacion-medico">
              <abbr title="Especialización">
                Esp.
              </abbr>:
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="especializacion-medico" type="text" value="{{ medico.especializacion }}" disabled>
            </div>
            <label class="col-lg-2 control-label" for="telefono-medico">
              Teléfono:
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="telefono-medico" type="text" value="{{ medico.telefono }}" disabled>
            </div>
          </div><!-- Especializacion y Telefono -->

          <!-- Email y Nombre de Usuario -->
          <div class="form-group" id="email-nombre-usuario-medico-form-group">
            <label class="col-lg-2 control-label" for="email-medico">
              Email:
            </label>
            <div class="col-lg-4">
              <input class="form-control" id="email-medico" type="text" value="{{ medico.email }}" disabled>
            </div>
            <label class="col-lg-2 control-label" for="nombre-usuario-medico">
              Nombre de Usuario:
            </label>
            <div class="col-lg-4">
              {% render_field formulario_registro_medico.nombre_usuario_medico class="form-control" id="nombre-usuario-medico" %}
              <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-usuario-medico-error-feedback-icon"></span>
              <span class="help-block hidden" id="nombre-usuario-medico-error-help">{{ formulario_registro_medico.nombre_usuario_medico.errors }}</span>
            </div>
            {% if formulario_registro_medico.nombre_usuario_medico.errors %}
            <script type="text/javascript">
            $(function(){
              mostrarErroresUsuarioMedico();
            });
            </script>
            {% endif %}
          </div><!-- Email y Nombre de Usuario -->
        </div>
        <div class="panel-footer">
          <div class="form-group">
            <div class="col-lg-6">
              <a href="javascript:void(0);" class="btn btn-default btn-lg volver-solicitar-cuenta">
                Volver
              </a>
            </div>

            <!-- Submit -->
            <div class="col-lg-offset-10">
              <button type="submit" class="btn btn-primary btn-lg">
                Enviar
              </button>
            </div>
          </div><!-- Submit -->
        </div>
      </form><!-- Formulario de Solicitud de Registro Medico -->
    </div>
  </div>
</div>
{% endblock content %}
