{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Recuperar Contraseña {% endblock title %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block content %}
<div class="page-header">
    <h1>
        Recuperar Contraseña
    </h1>
</div>
<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <div class="panel panel-default">
            <form class="form-horizontal" role="form" action="{% url 'recuperar_contrasena' %}" method='POST'>
                {% csrf_token %}
                <div class="panel-body">
                    <div class="form-group" id="nombre-usuario-form-group">
                        <label class="col-lg-4 control-label" for="nombre-usuario"><span class="campo-obligatorio">* </span>{{ LABEL_NOMBRE_USUARIO }}</label>
                        <div class="col-lg-6">
                            {% render_field formulario_recuperar_contrasena.nombre_usuario class="form-control" id="nombre-usuario" %}
                            <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="nombre-usuario-error-feedback-icon"></span>
                            <span class="help-block hidden" id="nombre-usuario-error-help">{{ formulario_recuperar_contrasena.nombre_usuario.errors }}</span>
                        </div>
                        {% if formulario_recuperar_contrasena.nombre_usuario.errors %}
                        <script type="text/javascript">
                        $(function() {
                            $("#nombre-usuario").parent("div").addClass("has-error")
                            $("#nombre-usuario-form-group").addClass("has-feedback");
                            $("#nombre-usuario-error-feedback-icon").removeClass("hidden");
                            $("#nombre-usuario-error-help").removeClass("hidden");
                        });
                        </script>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer">
                    <!-- Submit -->
                    <div class="col-lg-offset-10">
                        <button type="submit" class="btn btn-primary btn-lg btn-loading" data-loading-text="{{ RECUPERANDO }}">
                            {{ RECUPERAR }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
