{% extends request.session.template_base %}

{% load staticfiles %}

{% block title %}{{ block.super }} | Calendario{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'plan_quirurgico/js/calendario.js' %}">
</script>
{% endblock scripts %}

{% block nombre-usuario %}
	{{ request.session.nombre_usuario }}
{% endblock nombre-usuario %}

{% block numero-mensajes %}
3
{% endblock numero-mensajes %}

{% block content %}
<div class="page-header">
	<h1>Calendario</h1>
</div>
<!--<div class="row">
	<div class="col-lg-offset-1 col-lg-2">
		<a href="#">
			<span class="glyphicon glyphicon-chevron-left">
			</span>
		</a>
		<span class="lead">
			Marzo 2014
		</span>
		<a href="#">
			<span class="glyphicon glyphicon-chevron-right">
			</span>
		</a>
	</div>
	<div class="pull-left">
		<ul class="nav nav-pills">
			<li class="active">
				<a href="#">
					Área 1
				</a>
			</li>
			<li>
				<a href="#">
					Área 2
				</a>
			</li>
			<li>
				<a href="#">
					Área 3
				</a>
			</li>
			<li>
				<a href="#">
					Área 4
				</a>
			</li>
		</ul>
	</div>
</div> Mes y Areas -->

<!--<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<table class="table table-bordered table-responsive table-hover">
			<thead>
				<tr>
					<th class="col-lg-1">Domingo</th>
					<th class="col-lg-1">Lunes</th>
					<th class="col-lg-1">Martes</th>
					<th class="col-lg-1">Miércoles</th>
					<th class="col-lg-1">Jueves</th>
					<th class="col-lg-1">Viernes</th>
					<th class="col-lg-1">Sábado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="available">
						<span class="badge pull-right">1</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">2</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">3</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">4</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">5</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">6</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">7</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
				</tr>
				<tr>
					<td class="unavailable">
						<span class="badge pull-right">8</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">9</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">10</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">11</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">12</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">13</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">14</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
				</tr>
				<tr>
					<td class="available">
						<span class="badge pull-right">15</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">16</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">17</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">18</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">19</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">20</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">21</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
				</tr>
				<tr>
					<td class="unavailable">
						<span class="badge pull-right">22</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">23</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">24</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">25</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">26</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">27</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">28</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
				</tr>
				<tr>
					<td class="available">
						<span class="badge pull-right">29</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="available">
						<span class="badge pull-right">30</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable">
						<span class="badge pull-right">31</span>
						<br>
						<p class="label label-default">
							<abbr title="Intervenciones">Int.</abbr>
							Quirúrgicas: XX
						</p>
					</td>
					<td class="unavailable"></td>
					<td class="unavailable"></td>
					<td class="unavailable"></td>
					<td class="unavailable"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-1">
		<table class="table table-help">
			<thead>
				<th>
				</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<p class="label label-available">Disponible</p>
						<p class="label label-unavailable">No disponible</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>-->
{% endblock content %}
