{% extends request.session.template_base %}

{% load staticfiles %}

{% block title %}{{ block.super }} | Calendario{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'plan_quirurgico/js/calendario.js' %}">
</script>
{% endblock scripts %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}

{% block numero-mensajes %}
3
{% endblock numero-mensajes %}

{% block content %}
<div class="page-header">
	<h1>Calendario</h1>
</div>
<div class="row">
	<div class="col-lg-offset-1 col-lg-2">
		<a href="#">
			<span class="glyphicon glyphicon-chevron-left">
			</span>
		</a>
		<span class="lead">
			{{ mes_nombre }} {{ ano }}
		</span>
		<a href="#">
			<span class="glyphicon glyphicon-chevron-right">
			</span>
		</a>
	</div>
	<div class="pull-left">
		<ul class="nav nav-pills">
			{% for area in areas %}
			<li {% if area.valor == area_actual %}class="active"{% endif %}>
				<a href="{% url 'calendario' area.valor ano mes %}">
					{{ area.nombre }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<table class="table table-bordered table-responsive table-hover">
			<thead>
				<tr>
					<th class="col-lg-1">Lunes</th>
					<th class="col-lg-1">Martes</th>
					<th class="col-lg-1">Miércoles</th>
					<th class="col-lg-1">Jueves</th>
					<th class="col-lg-1">Viernes</th>
					<th class="col-lg-1">Sábado</th>
					<th class="col-lg-1">Domingo</th>
				</tr>
			</thead>
			<tbody>
				{% for semana in semanas %}
				<tr>
					{% for dia in semana %}
					{% if dia.dia_mes == 0 %}
					<td>
					</td>
					{% else %}
					{% if dia.disponibilidad %}
					<td class="available calendario-dia-disponible" href="{% url 'plan_dia' area_actual ano mes dia.dia_mes %}">
						<span class="pull-right">
							<strong>{{ dia.dia_mes }}</strong>
						</span>
						<br>
						<p class="label label-default">
							<abbr title="{{ LABEL_INTERVENCION_PLURAL }}">{{ LABEL_INTERVENCION_ABREVIADO }}</abbr>
							{{ LABEL_QUIRURGICA_PLURAL }} {{ dia.numero_intervenciones }}
						</p>
					</td>
					{% else %}
					<td class="unavailable">
						<span class="pull-right">{{ dia.dia_mes }}</span>
						<br>
						<p class="label label-default">
							<abbr title="{{ LABEL_INTERVENCION_PLURAL }}">{{ LABEL_INTERVENCION_ABREVIADO }}</abbr>
							{{ LABEL_QUIRURGICA_PLURAL }} {{ dia.numero_intervenciones }}
						</p>
					</td>
					{% endif %}
					{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-lg-1">
		<table class="table table-help">
			<thead>
				<th>
				</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<p class="label label-available">{{ DISPONIBLE }}</p>
						<p class="label label-unavailable">{{ NO_DISPONIBLE }}</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}
