{% extends request.session.template_base %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Calendario{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'plan_quirurgico/js/calendario.js' %}">
</script>
{% endblock scripts %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
{% if message.extra_tags != 'modal' %}
	<div class="alert alert-{{ message.tags }} fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<strong>{{ message }}</strong>
	</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}



{% block content %}
<div class="page-header">
	<h1>Calendario</h1>
</div>
<div class="row">
	<div class="col-lg-offset-1 col-lg-2">
		{% if not ano_anterior %}
		<a href="{% url 'calendario' area_actual ano mes_anterior %}">
			<span class="glyphicon glyphicon-chevron-left">
			</span>
		</a>
		{% else %}
		<a href="{% url 'calendario' area_actual ano_anterior mes_anterior %}">
			<span class="glyphicon glyphicon-chevron-left">
			</span>
		</a>
		{% endif %}
		<span class="lead">
			{{ mes_nombre }} {{ ano }}
		</span>
		{% if not ano_proximo %}
		<a href="{% url 'calendario' area_actual ano mes_proximo %}">
			<span class="glyphicon glyphicon-chevron-right">
			</span>
		</a>
		{% else %}
		<a href="{% url 'calendario' area_actual ano_proximo mes_proximo %}">
			<span class="glyphicon glyphicon-chevron-right">
			</span>
		</a>
		{% endif %}
	</div>
	<div class="pull-left">
		<ul class="nav nav-pills">
			{% for area in areas %}
			<li {% if area.valor == area_actual %}class="active"{% endif %}>
				<a href="{% url 'calendario' area.valor ano mes %}">
					{{ area.nombre }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<table class="table table-bordered table-responsive table-hover">
			<thead>
				<tr>
					<th class="col-lg-1">Lunes</th>
					<th class="col-lg-1">Martes</th>
					<th class="col-lg-1">Miércoles</th>
					<th class="col-lg-1">Jueves</th>
					<th class="col-lg-1">Viernes</th>
					<th class="col-lg-1">Sábado</th>
					<th class="col-lg-1">Domingo</th>
				</tr>
			</thead>
			<tbody>
				{% for semana in semanas %}
				<tr>
					{% for dia in semana %}
					{% if dia.dia_mes == 0 %}
					<td>
					</td>
					{% else %}
					{% if dia.dia_permitido and dia.disponibilidad %}
					{% if dia.dia_mes == dia_actual and mes == mes_actual and ano == ano_actual %}
					<td class="available actual calendario-dia" href="{% url 'plan_dia' area_actual ano mes dia.dia_mes %}">
						<span class="pull-right">
							<strong>{{ dia.dia_mes }}</strong>
						</span>
						<br>
						<p class="label label-default">
							<abbr title="{{ LABEL_INTERVENCION_PLURAL }}">{{ LABEL_INTERVENCION_ABREVIADO }}</abbr>
							{{ LABEL_QUIRURGICA_PLURAL }} {{ dia.numero_intervenciones }}
						</p>
					</td>
					{% else %}
					<td class="available calendario-dia" href="{% url 'plan_dia' area_actual ano mes dia.dia_mes %}">
						<span class="pull-right">
							<strong>{{ dia.dia_mes }}</strong>
						</span>
						<br>
						<p class="label label-default">
							<abbr title="{{ LABEL_INTERVENCION_PLURAL }}">{{ LABEL_INTERVENCION_ABREVIADO }}</abbr>
							{{ LABEL_QUIRURGICA_PLURAL }} {{ dia.numero_intervenciones }}
						</p>
					</td>
					{% endif %}
					{% else %}
					<td class="unavailable calendario-dia" href="{% url 'plan_dia_obs' area_actual ano mes dia.dia_mes %}">
						<span class="pull-right">{{ dia.dia_mes }}</span>
						<br>
						<p class="label label-default">
							<abbr title="{{ LABEL_INTERVENCION_PLURAL }}">{{ LABEL_INTERVENCION_ABREVIADO }}</abbr>
							{{ LABEL_QUIRURGICA_PLURAL }} {{ dia.numero_intervenciones }}
						</p>
					</td>
					{% endif %}
					{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-lg-1">
		<table class="table table-help">
			<thead>
				<th>
				</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<p class="label label-available">{{ DISPONIBLE }}</p>
						<p class="label label-unavailable">{{ NO_DISPONIBLE }}</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% if es_primer_ingreso %}
<script type="text/javascript">
$(function() {
		    // Mostrar la opcion de actualizacion de clave de acceso en caso de
		    // ser el primer ingreso del usuario
		    $('#actualizacion-contrasena-modal').modal('show');
		});
</script>
{% endif %}

<div class="modal fade" id="actualizacion-contrasena-modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header d">
				<h4 class="modal-title"><strong>Actualizar Clave de Acceso</strong></h4>
			</div>
			<form class="form-horizontal" role="form" action="{% url 'calendario' %}" method='POST'>
				{% csrf_token %}
				<div class="modal-body">
					{% if messages %}
					{% for message in messages %}
					{% if message.extra_tags == 'modal' %}
						<div class="alert alert-danger fade in">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<strong>{{ message }}</strong>
						</div>
					{% endif %}
					{% endfor %}
					{% endif %}
					<div class="form-group" id="contrasena-actual-form-group">
						<label class="col-lg-4 control-label" for="contrasena-actual">{{ LABEL_CONTRASENA_ACTUAL }}</label>
						<div class="col-lg-8">
                            {% render_field formulario_cambio_contrasena.contrasena_actual class="form-control" id="contrasena-actual"%}
							<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="contrasena-actual-error-feedback-icon"></span>
							<span class="help-block hidden" id="contrasena-actual-error-help">{{ formulario_cambio_contrasena.contrasena_actual.errors }}</span>
						</div>
						{% if formulario_cambio_contrasena.contrasena_actual.errors %}
						<script type="text/javascript">
						$(function() {
							$("#contrasena-actual").parent("div").addClass("has-error")
							$("#contrasena-actual-form-group").addClass("has-feedback");
							$("#contrasena-actual-error-feedback-icon").removeClass("hidden");
							$("#contrasena-actual-error-help").removeClass("hidden");
						});
						</script>
						{% endif %}
					</div>
					<div class="form-group" id="contrasena-nueva-form-group">
						<label class="col-lg-4 control-label" for="contrasena-nueva">{{ LABEL_CONTRASENA_NUEVA }}</label>
						<div class="col-lg-8">
							{% render_field formulario_cambio_contrasena.contrasena_nueva class="form-control" id="contrasena-nueva"%}
							<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="contrasena-nueva-error-feedback-icon"></span>
							<span class="help-block hidden" id="contrasena-nueva-error-help">{{ formulario_cambio_contrasena.contrasena_nueva.errors }}{{ formulario_cambio_contrasena.non_field_errors }}</span>
						</div>
						{% if formulario_cambio_contrasena.contrasena_nueva.errors %}
						<script type="text/javascript">
						$(function() {
							$("#contrasena-nueva").parent("div").addClass("has-error")
							$("#contrasena-nueva-form-group").addClass("has-feedback");
							$("#contrasena-nueva-error-feedback-icon").removeClass("hidden");
							$("#contrasena-nueva-error-help").removeClass("hidden");
						});
						</script>
						{% endif %}
					</div>
					<div class="form-group" id="contrasena-nueva-confirmacion-form-group">
						<label class="col-lg-4 control-label" for="contrasena-confirmacion">{{ LABEL_CONTRASENA_NUEVA_REPETIDA }}</label>
						<div class="col-lg-8">
							{% render_field formulario_cambio_contrasena.contrasena_confirmacion class="form-control" id="contrasena-nueva-confirmacion"%}
							<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="contrasena-nueva-confirmacion-error-feedback-icon"></span>
							<span class="help-block hidden" id="contrasena-nueva-confirmacion-error-help">{{ formulario_cambio_contrasena.contrasena_confirmacion.errors }}{{ formulario_cambio_contrasena.non_field_errors }}</span>
						</div>
						{% if formulario_cambio_contrasena.contrasena_confirmacion.errors %}
						<script type="text/javascript">
						$(function() {
							$("#contrasena-nueva-confirmacion").parent("div").addClass("has-error")
							$("#contrasena-nueva-confirmacion-form-group").addClass("has-feedback");
							$("#contrasena-nueva-confirmacion-error-feedback-icon").removeClass("hidden");
							$("#contrasena-nueva-confirmacion-error-help").removeClass("hidden");
						});
						</script>
						{% endif %}
						{% if formulario_cambio_contrasena.non_field_errors %}
						<script type="text/javascript">
						$(function() {
							$("#contrasena-nueva-confirmacion").parent("div").addClass("has-error")
							$("#contrasena-nueva-confirmacion-form-group").addClass("has-feedback");
							$("#contrasena-nueva-confirmacion-error-feedback-icon").removeClass("hidden");
							$("#contrasena-nueva-confirmacion-error-help").removeClass("hidden");
							$("#contrasena-nueva").parent("div").addClass("has-error")
							$("#contrasena-nueva-form-group").addClass("has-feedback");
							$("#contrasena-nueva-error-feedback-icon").removeClass("hidden");
							$("#contrasena-nueva-error-help").removeClass("hidden");
						});
						</script>
						{% endif %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary btn-loading" data-loading-text="{{ ACTUALIZANDO }}">{{ ACTUALIZAR }}</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% if  not es_primer_ingreso and not posee_email %}
<script type="text/javascript">
	$(function() {
	    // Mostrar la opcion de actualizacion de email en caso de
		// no poseer uno asociado
		$('#actualizacion-email-modal').modal('show');
	});
</script>
{% endif %}

<div class="modal fade" id="actualizacion-email-modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><strong>Actualizar Correo Electrónico</strong></h4>
			</div>
			<form class="form-horizontal" role="form" action="{% url 'calendario' %}" method='POST'>
				{% csrf_token %}
				<div class="modal-body">
					{% if messages %}
					{% for message in messages %}
					{% if message.extra_tags == 'modal' %}
					<div class="alert alert-success fade in">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<strong>{{ message }}</strong>
					</div>
					{% endif %}
					{% endfor %}
					{% endif %}
					<div class="form-group" id="correo-electronico-form-group">
						<label class="col-lg-4 control-label" for="correo-electronico">{{ LABEL_EMAIL }}</label>
						<div class="col-lg-8">
                            {% render_field formulario_actualizacion_email.correo_electronico class="form-control" id="correo-electronico" %}
							<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="correo-electronico-error-feedback-icon"></span>
							<span class="help-block hidden" id="correo-electronico-error-help">{{ formulario_actualizacion_email.correo_electronico.errors }}</span>
						</div>
						{% if formulario_actualizacion_email.correo_electronico.errors %}
						<script type="text/javascript">
						$(function() {
							$("#correo-electronico").parent("div").addClass("has-error")
							$("#correo-electronico-form-group").addClass("has-feedback");
							$("#correo-electronico-error-feedback-icon").removeClass("hidden");
							$("#correo-electronico-error-help").removeClass("hidden");
						});
						</script>
						{% endif %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary btn-loading" data-loading-text="{{ ACTUALIZANDO }}">{{ ACTUALIZAR }}</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endblock content %}
