{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />
	<title>
		Plan Quirúrgico
	</title>
	<style>
    @page {
        size: letter portrait;
        @frame content_frame {
            left: 50pt;
            width: 512pt;
            top: 50pt;
            height: 692pt;
            -pdf-frame-border: 1;    /* for debugging the layout */
        }
    }
</style>
</head>
<body>
	<div class="page-header">
		<img src="{{ img_path }}" style="zoom: 80%;" />
		<h1>Centro Médico de Caracas</h1>
		<h2>
			<center>
				<p>Plan Quirúrgico</p>
				<p>{{ area_nombre }} - {{ dia }}/{{ mes }}/{{ ano }}</p>
			</center>
		</h2>
	</div><br>

	<div>
		{% if intervenciones %}
		<table class="table table-bordered table-responsive table-hover">
			<tr>
				<th>Quirófano</th>
				<th>Hora</th>
				<th>Paciente</th>
				<th>Procedimientos Quirúrgicos</th>
				<th>Médico</th>
				<th>Anestesiólogo</th>
				<th>Observaciones</th>
			</tr>
		</table>
		<table>
			<hr width=50% align="center">
			{% for intervencion in intervenciones %}
			<tr>
				<th>
					<h3>
						{% if intervencion.objeto.quirofano.numero == 0 %}
						<abbr title='Sala de Recuperación'>SR</abbr>
						{% else %}
						{{ intervencion.objeto.quirofano.numero }}
						{% endif %}
					</h3>
				</th>
				<th>
					<h4>{{ intervencion.hora_inicio }} - {{ intervencion.hora_fin }}</h4>
				</th>
				<th>
					<h4>{{ intervencion.objeto.paciente.nombre }} {{ intervencion.objeto.paciente.apellido }}</h4>
				</th>
				<th>
					{% for proc in intervencion.procedimientos %}
					<h3>
						{{ proc.tipo_procedimiento_quirurgico.nombre }} -
						{{ proc.organo_corporal.nombre }}
					</h3>
					{% endfor %}
				</th>
				<th>
					<h4>{{ intervencion.objeto.reservacion.medico }}</h4>
				</th>
				<th>
					<h4>{{ intervencion.anestesiologo }}</h4>
				</th>
				<th>
					{% if intervencion.objeto.observaciones %}
					<h4>{{ intervencion.objeto.observaciones}}</h4>
					{% else %}
					<h4>Sin observaciones</h4>
					{% endif %}
				</th>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<strong>No existen Intervenciones Quirúrgicas programadas para este día.</strong>
		{% endif %}
	</div>


	<div id="footerContent">
		{%block page_foot%}
		Página <pdf:pagenumber>
		{%endblock%}
	</div>
</body>
</html>
