{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/pdf_style.css' %}" />
	<title>
		Plan Quirúrgico
	</title>
</head>
<body>
	<div>
		<img src="{% static 'img/logo_centro_medico.jpeg' %}" height="24" width="24"/>
		<h1>C.A. Centro Médico de Caracas RIF J-00006326-5</h1>
		<h2>
			<center>
				<p>Plan Quirúrgico</p>
				<p>{{ area_nombre }} - {{ dia }}/{{ mes }}/{{ ano }}</p>
			</center>
		</h2>
	</div>

	<br/>
	{% for intervencion in intervenciones %}
	<div>
		<strong>Quirófano:
			{% if intervencion.objeto.quirofano.numero == 0 %}
			SR
			{% else %}
			{{ intervencion.objeto.quirofano.numero }}
			{% endif %}
		</strong>
		<hr>
		<p>Desde: {{ intervencion.hora_inicio }}</p>
		<p>Hasta: {{ intervencion.hora_fin }}</p>
		<p>Paciente: {{ intervencion.objeto.paciente }}.</p>
		<p>Cirujano Dr(a): {{ intervencion.objeto.reservacion.medico }}.</p>
		<p>Anestesiólogo: {{ intervencion.anestesiologo }}.</p>
		<p>Tipo de Anestesia: {{ intervencion.objeto.get_preferencia_anestesica_display }}.</p>
		<p>Procedimientos Quirúrgicos: {% for proc in intervencion.procedimientos %}{{ proc.nombre_procedimiento }}{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
		<p>Observaciones: {% if intervencion.objeto.observaciones %}{{ intervencion.objeto.observaciones }}{% else %}Sin observaciones.{% endif %}</p>
		<p>Días de Hospitalización: {{ intervencion.objeto.reservacion.dias_hospitalizacion }}</p>
	</div>
	<br/><br/>
	{% empty %}
	<strong>No existen intervenciones quirúrgicas programadas para este día.</strong>
	{% endfor %}
</body>
</html>
