{% extends request.session.template_base %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Plan Diario {% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'plan_quirurgico/js/plan_dia_obs.js' %}">
</script>
{% endblock scripts %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}


{% block content %}
<div class="page-header">
	<h1 class="row">
		<a class="col-lg-3" href="{% url 'calendario' area_actual ano mes %}">
			<span class="glyphicon glyphicon-chevron-left">
			</span>
			Plan Quirúrgico
		</a>
		<small class="col-lg-3">{{ area_nombre }} - {{ dia }}/{{ mes }}/{{ ano }}</small>
		<small class="col-lg-6">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					Ver <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% if dia_permitido %}
					{% if request.user.cuenta.privilegio == "4" or request.user.cuenta.privilegio == "1" or request.user.cuenta.privilegio == "0"%}
					<li><a href="{% url 'plan_dia' area_actual ano mes dia %}">
					Horarios Disponibles</a></li>
					{% endif %}
					{% endif %}
					<li><a href="{% url 'plan_dia_presentacion' area_actual ano mes dia %}">Presentación</a></li>
					<li><a href="{% url 'plan_dia_pdf' area_actual ano mes dia %}">Generar PDF</a></li>
				</ul>
			</div>
		</small>
	</h1>
</div><br>



<!-- Plan Quirurgico por dia -->
<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		{% if intervenciones %}
		<table class="table table-bordered table-responsive table-hover" id='table-intervenciones'>
			<thead>
				<tr>
					<th class="col-lg-1">Quirófano</th>
					<th class="col-lg-1">Hora</th>
					<th class="col-lg-1">Paciente</th>
					<th class="col-lg-1">Procedimientos Quirúrgicos</th>
					<th class="col-lg-1">Médico</th>
					<th class="col-lg-1">Anestesiólogo</th>
					<th class="col-lg-1">Observaciones</th>
					<th class="col-lg-1">Estatus</th>
				</tr>
			</thead>
			<tbody>
				{% for intervencion in intervenciones %}
				<tr>
					<td>
						<h3><span class="label label-info label-quirofano-{{ intervencion.objeto.quirofano.numero }}">
							{% if intervencion.objeto.quirofano.numero == 0 %}
							<abbr title='Sala de Recuperación'>SR</abbr>
							{% else %}
							{{ intervencion.objeto.quirofano.numero }}
							{% endif %}
						</span></h3>
					</td>
					<td>
						<h4>{{ intervencion.hora_inicio }}</h4>
						<h4>a</h4>
						<h4>{{ intervencion.hora_fin }}</h4>
					</td>
					<td>
						<h4>{{ intervencion.objeto.paciente.nombre }} {{ intervencion.objeto.paciente.apellido }}</h4>
					</td>
					<td>
						{% for proc in intervencion.procedimientos %}
						<h3><span class="label label-info">
							{{ proc.nombre_procedimiento }}
						</h3>
						{% endfor %}
					</td>
					<td>
						<h4>{{ intervencion.objeto.reservacion.medico }}</h4>
					</td>
					<td>
						<h4>{{ intervencion.anestesiologo }}</h4>
					</td>
					<td>
						{% if intervencion.objeto.observaciones %}
						<h4>{{ intervencion.objeto.observaciones }}</h4>
						{% else %}
						<h4>Sin observaciones</h4>
						{% endif %}
						<h5>Días de Hospitalización: {{ intervencion.objeto.reservacion.dias_hospitalizacion }}</h5>
					</td>
					<td>
						{% if intervencion.objeto.estado == '0' %}
						<h3>
							<span class="label label-danger">En Espera</span>
						</h3>
						{% if request.user.cuenta.privilegio == "3" %}
						<button class="btn btn-default btn-cambio-estado" data-toggle="modal" data-target="#cambiar-estado-modal" value='{{ intervencion.objeto.id }}'>
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						{% endif %}
						{% elif intervencion.objeto.estado == '1' %}
						<h3>
							<span class="label label-success">En Curso</span>
						</h3>
						{% if request.user.cuenta.privilegio == "3" %}
						<button class="btn btn-default btn-cambio-estado" data-toggle="modal" data-target="#cambiar-estado-modal" value='{{ intervencion.objeto.id }}'>
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						{% endif %}
						{% elif intervencion.objeto.estado == '2' %}
						<h3>
							<span class="label label-warning">En Recuperación</span>
						</h3>
						{% if request.user.cuenta.privilegio == "3" %}
						<button class="btn btn-default btn-cambio-estado" data-toggle="modal" data-target="#cambiar-estado-modal" value='{{ intervencion.objeto.id }}'>
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						{% endif %}
						{% elif intervencion.objeto.estado == '3' %}
						<h3>
							<span class="label label-primary">En Habitación</span>
						</h3>
						{% if request.user.cuenta.privilegio == "3" %}
						<button class="btn btn-default btn-cambio-estado" data-toggle="modal" data-target="#cambiar-estado-modal" value='{{ intervencion.objeto.id }}'>
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						{% endif %}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<strong>No existen Intervenciones Quirúrgicas programadas para este día.</strong>
		{% endif %}
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="cambiar-estado-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><strong>Cambiar Estado de Intervención Quirúrgica</strong></h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-offset-1">
					<form class="form-horizontal" id="formulario-cambio-estado-intervencion" role="form" action="{% url 'cambiar_estado' area_actual ano mes dia %}" method="POST" novalidate>
						{% csrf_token %}
						<button type="button" class="btn btn-danger btn-estado" value="0">En Espera</button>
						<button type="button" class="btn btn-success btn-estado" value="1">En Curso</button>
						<button type="button" class="btn btn-warning btn-estado" value="2">En Recuperación</button>
						<button type="button" class="btn btn-info btn-estado" value="3">En Habitación</button>
						{% render_field formulario_cambio_estado_intervencion.id_intervencion class="form-control" id="id-intervencion" %}
						{% render_field formulario_cambio_estado_intervencion.estado_intervencion class="form-control" id="estado-intervencion" %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
