<!-- DEPENDIENDO DEL TIPO DE USUARIO SE EXTENDERA UN CONTEXTO DISTINTO -->
{% extends "medico/contexto.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }} | Plan Diario {% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'plan_quirurgico/js/plan_dia.js' %}">
</script>
<script type="text/javascript" src="{% static 'plan_quirurgico/js/drag-on.js' %}">
</script>
<script type="text/javascript" src="{% static 'medico/js/detalles_operacion.js' %}">
</script>
{% endblock scripts %}

{% block nombre-usuario %}
{% request.session.nombre %}
{% endblock nombre-usuario %}

{% block numero-mensajes %}
3
{% endblock numero-mensajes %}

{% block content %}

<div class="page-header">
	<h1>
		Plan Quirúrgico
		<small>
			- Área 1 - dd/mm/aaaa
		</small> 
		<small class="pull-right">
			<button class="btn btn-primary" id="btn-solicitar-quirofano" data-toggle="modal" data-target="#solicitar-quirofano">
				Solicitar Quirófano
			</button>
		</small>
	</h1>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1 hidden" id="duracion-operacion">
		<p class="text-muted">
			Duración de la Intervención: XX:XX
		</p>
		<p class="bg-warning">
			Por Favor seleccione el turno de su preferencia.
		</p>
	</div>
</div><br>

<!-- Modal de la duracion de la operacion-->
<div class="modal fade" id="solicitar-quirofano" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Duración de la Intervención Quirúrgica
				</h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal col-lg-offset-1">	
					<div class="form-group">
						<label class="col-lg-2 control-label" for="duracion-horas">
							<span class="glyphicon glyphicon-time">
							</span>
							Hrs:
						</label>
						<div class="col-lg-3">	    	
							<input type="number" class="form-control" name="duracion-horas" placeholder="0">
						</div>
						<label class="col-lg-2 control-label" for="duracion-minutos">
							<span class="glyphicon glyphicon-time">
							</span>
							Mins:
						</label>
						<div class="col-lg-3">  	
							<input type="number" class="form-control" name="duracion-minutos" placeholder="0">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancelar
				</button>
				<button type="button" id="aceptar-duracion" class="btn btn-primary" data-dismiss="modal">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal del detalle de la operacion-->
<div class="modal fade" id="detalle-operacion" tabindex="-1" role="dialog" aria-labelledby="titulo-detalles-operacion" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="titulo-detalles-operacion">
					Detalles de Operación - Quirófano
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="formulario-solicitud-quirofano">
					<div class="form-group">
						<label class="col-lg-2 control-label">
							Área:
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="Quirúrgica" disabled>
						</div>
						<label class="col-lg-2 control-label">
							Quirófano:
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="Quirófano 4" disabled>
						</div>
						<label class="col-lg-2 control-label">
							Fecha:
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="14/03/2014" disabled>
						</div>												
					</div>					
					<div class="form-group">
						<label class="col-lg-2 control-label">
							Hora Inicio: 
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="8:30am" disabled>
						</div>
						<label class="col-lg-2 control-label">
							Hora Fin: 
						</label>
						<div class="col-lg-2">
							<input class="form-control" type="text" value="10:30am" disabled>
						</div>											
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo-solicitud">
							Tipo:
						</label>
						<div class="col-lg-10">
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo-solicitud" value="emergencia" disabled>
									Emergencia
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo-solicitud" value="electiva" checked disabled>
									Electiva
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo-solicitud" value="paliativa" disabled>
									Paliativa
								</label>
							</div>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo-operacion">
							Operación:
						</label>
						<div class="col-lg-10">
							<select class="form-control" name="tipo-operacion" disabled>
								<option>
									Reducción Gastrica
								</option>
								<option>
									Liposucción
								</option>
								<option>
									Intervención Cardíaca
								</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo-anestesia">
							Anestesia:
						</label>
						<div class="col-lg-10">
							<select class="form-control" name="tipo-anestesia" disabled>
								<option>
									General
								</option>
								<option>
									Local
								</option>
							</select>
						</div>
					</div>
					<div class="form-group">						
						<label class="col-lg-2 control-label" for="observaciones">
							Observaciones:
						</label>
						<div class="col-lg-10">
							<textarea class="form-control" name="observaciones" rows="3" disabled></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="riesgo">
							Nivel de Riesgo:
						</label>
						<div class="col-lg-10">
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="bueno" disabled>
									Bueno
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="regular" checked disabled>
									Regular
								</label>
							</div>	
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="malo" disabled>
									Malo
								</label>
							</div>
						</div>					
					</div>
					<div class="form-group hidden" id="razon-riesgo">
						<div class="col-lg-offset-2 col-lg-10">
							<textarea class="form-control" id="razon-riesgo-input" name="razon" rows="3" placeholder="Indique razón del riesgo" disabled></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="equipo-especial-requerido">
							Equipos
							<abbr title="Especiales">
								Esp.
							</abbr>:
						</label>
						<div class="col-lg-10">
							<select multiple class="form-control" name="equipo-especial-requerido" disabled>
								<option>
									1
								</option>
								<option>
									2
								</option>
								<option>
									3
								</option>
								<option>
									4
								</option>
							</select>
						</div>
					</div>	
					<div class="form-group">
						<label class="col-lg-2 control-label" for="material-quirurgico">
							Material
							<abbr title="Quirúrgico">
								Quir.
							</abbr>:
						</label>
						<div class="col-lg-10">
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico" disabled>
								Sutura Especial
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico" disabled>
								Protack
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico" disabled>
								Malla Polipropileno
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico" disabled>
								Malla Dual Mesh
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material-quirurgico" disabled>
								Máquina de Autosutura
							</label>
						</div>
					</div>						
					<div class="form-group">
						<div class="col-lg-offset-10">							<a href="javascript:void(0);" class="btn btn-default" id="ver-info-paciente">
							Paciente
							<span class="glyphicon glyphicon-chevron-right">
							</span>
						</a>			
					</div>
				</div>
			</form><!-- Formulario Solicitud Quirofano -->

			<form class="form-horizontal hidden" role="form" id="formulario-solicitud-paciente">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-paciente">
						Nombre:
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="nombre-paciente" value="Enrique" disabled>
					</div>
					<label class="col-lg-2 control-label" for="apellido-paciente">
						Apellido:
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="apellido-paciente" value="Mata" disabled>
					</div>
				</div><!-- Nombre y Apellido -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="cedula-paciente">
						Cedula:
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="cedula-paciente" value="19803052" disabled>
					</div>
					<label class="col-lg-2 control-label" for="fecha-nacimiento-paciente">
						Fecha
						<abbr title="Nacimiento">
							Nac.
						</abbr>:
					</label>
					<div class="col-lg-4">
						<input type="date" class="form-control" name="fecha-nacimiento-paciente" disabled>
					</div>
				</div><!-- Cedula y Fecha de Nacimiento -->
				<div clas="form-group">
					<label class="col-lg-2 control-label" for="sexo-paciente">
						Sexo:
					</label>
					<div class="col-lg-10">
						<div class="radio-inline">
							<label>
								<input type="radio" name="sexo-paciente" value="M" checked disabled>
								Masculino
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="sexo-paciente" value="F" disabled>
								Femenino
							</label>
						</div>
					</div>
				</div><!-- Sexo -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="telefono-paciente">
						Teléfono:
					</label>
					<div class="col-lg-2">
						<input type="text" class="form-control" value="424" disabled>
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="telefono-paciente" value="1587765" disabled>
					</div>
				</div><!-- Telefono -->
				<div class="form-group">						
					<label class="col-lg-2 control-label" for="diagnostico-ingreso-paciente">
						Diagnóstico:
					</label>
					<div class="col-lg-10">
						<textarea class="form-control" name="diagnostico-ingreso-paciente" rows="3" disabled>Obesidad</textarea>
					</div>
				</div><!-- Diagnostico -->
				<div clas="form-group">
					<label class="col-lg-2 control-label" for="forma-pago">
						Forma de Pago:
					</label>
					<div class="col-lg-10">
						<div class="radio-inline">
							<label>
								<input type="radio" name="forma-pago" value="particular" checked disabled>
								Particular
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="forma-pago" value="seguro" disabled>
								Seguro								
							</label>
						</div>
					</div>
				</div><!-- Forma de Pago -->
				<div class="form-group hidden" id="seguros">
					<label class="col-lg-2 control-label" for="compania-aseguradora">
						Aseguradora:
					</label>
					<div class="col-lg-10">
						<select class="form-control" name="compania-aseguradora" disabled>
							<option>
								Seguros Altamira
							</option>
							<option>
								Seguros Mercantil
							</option>
						</select>
					</div>
				</div><!-- Seguros -->
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-4">
						<label class="checkbox-inline">
							<input type="checkbox" name="paciente-hospitalizado" disabled>
							Paciente Hospitalizado
						</label>
					</div>
					<div class="hidden" id="habitacion">
						<label class="col-lg-2 control-label" for="paciente-hospitalizado-habitacion">
							Habitación:
						</label>
						<div class="col-lg-4">
							<select class="form-control" name="paciente-hospitalizado-habitacion" disabled>
								<option>
									hab1
								</option>
								<option>
									hab2
								</option>	
								<option>
									hab3
								</option>
							</select>
						</div>
					</div>
				</div><!-- Paciente Hospitalizado -->
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-4">
						<label class="checkbox-inline control-label">
							<input type="checkbox" name="paciente-impres" disabled> 
							Paciente Suscrito a Impres
						</label>
					</div>
					<div class="col-lg-6 hidden" id="carnet-impres">
						<input type="text" class="form-control" name="carnet-impres" placeholder="Indique carnet impres" disabled>
					</div>
				</div><!-- Paciente Impres -->
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-4">
						<label class="checkbox-inline control-label">
							<input type="checkbox" name="paciente-medico" disabled> 
							Paciente Médico
						</label>
					</div>
					<div class="col-lg-6 hidden" id="numero-inscripcion-medico">
						<input type="text" class="form-control" name="numero-inscripcion-medico" placeholder="Indique numero de inscripcion" disabled>
					</div>
				</div><!-- Paciente Medico -->
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<label class="checkbox-inline control-label">
							<input type="checkbox" name="paciente-pariente-medico" disabled>
							Paciente Pariente de Médico
						</label>
					</div>
				</div><!-- Paciente Pariente Medico -->
				<div class="form-group hidden" id="medico-pariente">
					<label class="col-lg-offset-2 col-lg-2 control-label" for="nombre-medico-pariente">
						Indique Médico:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control input-medico-pariente" name="nombre-medico-pariente" placeholder="Nombre" disabled>
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control input-medico-pariente" name="apellido-medico-pariente" placeholder="Apellido" disabled>
					</div>
					<div class="col-lg-2">
						<input type="text" class="form-control input-medico-pariente" name="cedula-medico-pariente" placeholder="Cédula" disabled>
					</div>
				</div><!-- Paciente Pariente de Medico -->
				<div class="form-group">
					<div class="col-lg-2">
						<a href="javascript:void(0);" class="btn btn-default" id="volver-info-quirofano">
							<span class="glyphicon glyphicon-chevron-left">
							</span>
							Quirófano
						</a>
					</div>
					<div class="col-lg-offset-10">
						<a href="javascript:void(0);" class="btn btn-default" id="ver-info-honorarios">
							Honorarios
							<span class="glyphicon glyphicon-chevron-right">
							</span>
						</a>
					</div>
				</div>
			</form><!-- Formulario Solicitud Paciente -->

			<form class="form-horizontal hidden" role="form" id="formulario-solicitud-honorarios">				
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-anestesiologo">
						Anestesiólogo:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="nombre-anestesiologo" value="Juan" disabled>
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="apellido-anestesiologo" value="Requesens" disabled>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">
								Bs.
							</span>
							<input type="text" class="form-control" name="honorario-anestesiologo" value="10.000" disabled>
						</div>
					</div>
				</div><!-- Anestesiologo -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-ayudante-1">
						Primer Ayudante:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="nombre-ayudante-1" value="Juan" disabled>
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="apellido-ayudante-1" value="Pirela" disabled>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">
								Bs.
							</span>
							<input type="text" class="form-control" name="honorario-ayudante-1" value="10.000" disabled>
						</div>
					</div>
				</div><!-- Primer Ayudante -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-ayudante-2">
						Segundo Ayudante:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="nombre-ayudante-2" value="Juan" disabled>
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="apellido-ayudante-2" value="Ramos" disabled>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">
								Bs.
							</span>
							<input type="text" class="form-control" name="honorario-ayudante-2" value="10.000" disabled>
						</div>
					</div>
				</div><!-- Segundo Ayudante -->
				<div class="form-group">
					<label class="col-lg-2 control-label" for="nombre-ayudante-3">
						Tercer Ayudante:
					</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="nombre-ayudante-3" value="Armando" disabled>
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" name="apellido-ayudante-3" value="Casas" disabled>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">
								Bs.
							</span>
							<input type="text" class="form-control" name="honorario-ayudante-3" value="10.000" disabled>
						</div>
					</div>
				</div><!-- Tercer Ayudante -->						
				<div class="form-group">
					<div class="col-lg-2">
						<a href="javascript:void(0);" class="btn btn-default" id="volver-info-paciente">
							<span class="glyphicon glyphicon-chevron-left">
							</span>
							Paciente
						</a>
					</div>
				</div>
			</form><!-- Formulario Solicitud Honorarios -->
		</div>
	</div>
</div>
</div>

<!-- Plan Quirurgico por dia -->
<div class="row">
	<div class="col-lg-1 col-lg-offset-1">
		<table class="table table-bordered table-responsive table-horas">
			<thead>
				<tr>
					<th>
						<span class="glyphicon glyphicon-time">
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr><td> 7:00 am </td></tr>
				<tr><td> 7:30 am </td></tr>
				<tr><td> 8:00 am </td></tr>
				<tr><td> 8:30 am </td></tr>
				<tr><td> 9:00 am </td></tr>
				<tr><td> 9:30 am </td></tr>
				<tr><td> 10:00 am </td></tr>
				<tr><td> 10:30 am </td></tr>
				<tr><td> 11:00 am </td></tr>
				<tr><td> 11:30 am </td></tr>
				<tr><td> 12:00 pm </td></tr>
				<tr><td> 12:30 pm </td></tr>
				<tr><td> 1:00 pm </td></tr>
				<tr><td> 1:30 pm </td></tr>
				<tr><td> 2:00 pm </td></tr>
				<tr><td> 2:30 pm </td></tr>
				<tr><td> 3:00 pm </td></tr>
				<tr><td> 3:30 pm </td></tr>
				<tr><td> 4:00 pm </td></tr>
				<tr><td> 4:30 pm </td></tr>
				<tr><td> 5:00 pm </td></tr>
				<tr><td> 5:30 pm </td></tr>
				<tr><td> 6:00 pm </td></tr>
				<tr><td> 6:30 pm </td></tr>
				<tr><td> 7:00 pm </td></tr>
			</tbody>	
		</table>
	</div>

	<div class="col-lg-9 scrollable-plan dragon">
		<table class="table table-bordered table-hover table-responsive table-plan">
			<thead>
				<tr>
					<th>Quirófano 1</th>
					<th>Quirófano 2</th>
					<th>Quirófano 3</th>
					<th>Quirófano 4</th>
					<th>Quirófano 5</th>
					<th>Quirófano 6</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="available" data-toogle="tooltip" data-placement="right" title="Quirófano 1">
					</td>	
					<td class="unavailable" data-toogle="tooltip" data-placement="right" title="Quirófano 2">
						<a href="#" class="pull-right" data-toggle="modal" data-target="#detalle-operacion">
							<span class="glyphicon glyphicon-fullscreen"></span>
						</a>
						<p class="label label-info">	
							Paciente: Pérez Romero, José 
						</p><br>
						<p class="label label-default">
							<abbr title="Intervención">Int.</abbr> Quirúrgica: Colocación de Cateter
						</p><br>
						<p class="label label-default">
							Cirujano Dr(a): Lairet Hernández, Andrés E
						</p><br>
						<p class="label label-default">
							<abbr title="Anestesiólogo">Anest.</abbr>
							Dr(a): Machado Fernandez, Antonio Manuel
						</p><br>
						<p class="label label-success">
							En Habitación: 705
						</p>					
					</td>

					<td class="available" data-toogle="tooltip" data-placement="right" title="Quirófano 3">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable" rowspan="2" data-toogle="tooltip" data-placement="right" title="Quirófano 1">
						<a href="#" class="pull-right" data-toggle="modal" data-target="#detalle-operacion">
							<span class="glyphicon glyphicon-fullscreen"></span>
						</a>
						<p class="label label-info">		
							Paciente: Rizzi, Laura
						</p><br>
						<p class="label label-default">
							<abbr title="Intervención">Int.</abbr> Quirúrgica: Reemplazo total de cadera
						</p><br>
						<p class="label label-default">
							Cirujano Dr(a): Benhamu Belilty, Miguel Ángel
						</p><br>
						<p class="label label-default">
							<abbr title="Anestesiólogo">Anest.</abbr>
							Dr(a): Blanco Calderón, Gabriela A
						</p><br>
						<p class="label label-warning">
							En Curso
						</p>	
					</td>
					<td class="available" data-toogle="tooltip" data-placement="right" title="Quirófano 2">
					</td>
					<td class="unavailable" data-toogle="tooltip" data-placement="right" title="Quirófano 3">
						<a href="#" class="pull-right" data-toggle="modal" data-target="#detalle-operacion">
							<span class="glyphicon glyphicon-fullscreen"></span>
						</a>
						<p class="label label-info">		
							Paciente: Gómez, Eleazar Jesús
						</p><br>
						<p class="label label-default">
							<abbr title="Intervención">Int.</abbr> Quirúrgica: Cura Operatoria de Hernia Inguinal
						</p><br>
						<p class="label label-default">
							Cirujano Dr(a): Koury Chidiac, Pablo
						</p><br>
						<p class="label label-default">
							<abbr title="Anestesiólogo">Anest.</abbr>
							Dr(a): Guglielmelli Vera, José Nicolás
						</p><br>
						<p class="label label-success">
							En Recuperación
						</p>	
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable" data-toogle="tooltip" data-placement="right" title="Quirófano 2">
						<a href="#" class="pull-right" data-toggle="modal" data-target="#detalle-operacion">
							<span class="glyphicon glyphicon-fullscreen"></span>
						</a>
						<p class="label label-info">		
							Paciente: Angarita, Belsi
						</p><br>
						<p class="label label-default">
							<abbr title="Intervención">Int.</abbr> Quirúrgica: Gastrectomía en Manga por Laparosc.
						</p><br>
						<p class="label label-default">
							Cirujano Dr(a): Doval García, Raúl
						</p><br>
						<p class="label label-default">
							<abbr title="Anestesiólogo">Anest.</abbr>
							Dr(a): Rosillo Chirinos, Hugo César
						</p><br>
						<p class="label label-danger">
							En Espera
						</p>	
					</td>
					<td class="available" data-toogle="tooltip" data-placement="right" title="Quirófano 3">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
				</tr>
				<tr>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
				</tr>
				<tr>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
					<td class="available">
					</td>
					<td class="unavailable">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}