{% extends request.session.template_base %}

{% load staticfiles %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Plan Día {% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'plan_quirurgico/js/plan_dia.js' %}">
</script>
<script type="text/javascript" src="{% static 'plan_quirurgico/js/drag-on.js' %}">
</script>
{% endblock scripts %}

{% block flash-messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endblock flash-messages %}

{% block nombre-usuario %}
{{ request.session.nombre }}
{% endblock nombre-usuario %}


{% block content %}

<div class="page-header">
	<h1 class="row">
		<a class="col-lg-3" href="{% url 'calendario' area_actual ano mes %}">
			<span class="glyphicon glyphicon-chevron-left">
			</span>
			Plan Quirúrgico
		</a>
		<small class="col-lg-3">{{ area_nombre }} - {{ dia }}/{{ mes }}/{{ ano }}</small>
		<small class="col-lg-6">
			<button class="btn btn-primary pull-right" id="btn-solicitar-quirofano" data-toggle="modal" data-target="#solicitar-quirofano">
				{{ SOLICITAR_QUIROFANO }}
			</button>
		</small>
	</h1>
</div>

<!-- Aviso Seleccionar Turno Intervencion -->
<div class="row">
	<div class="col-lg-10 col-lg-offset-1 well well-warning hidden" id="duracion-intervencion-aviso">
		<strong>
			{{ LABEL_DURACION_INTERVENCION }} {{ horas_intervencion }} {{ HORAS }} {{ minutos_intervencion }} {{ MINUTOS }}
		</strong>
		<p class="text-muted">
			{% if not seleccionar_turno_cambio_horario %}
			<strong>{{ MENSAJE_SELECCIONAR_TURNO_INTERVENCION }}</strong>
			{% else %}
			<strong>{{ MENSAJE_SELECCIONAR_TURNO_INTERVENCION_CAMBIO_HORARIO }}</strong>
			{% endif %}
		</p>
		<a href="{% url 'plan_dia' area_actual ano mes dia %}" class="btn btn-default pull-right btn-loading" data-loading-text="{{ ESPERE }}">{{ CANCELAR }}</a>
	</div>
</div><br><!-- Aviso Seleccionar Turno Intervencion -->

<!-- Ver Presentaciones Distintas del Plan -->
<div class="row">
	<div class="col-lg-1 col-lg-offset-10 col-centered">
		<small class="pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					Ver <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{% url 'plan_dia_obs' area_actual ano mes dia %}">Listado Intervenciones</a></li>
					<li><a href="{% url 'plan_dia_presentacion' area_actual ano mes dia %}">Presentación</a></li>
				</ul>
			</div>
		</small>
	</div>
</div><br><!-- Ver Presentaciones Distintas del Plan -->

{% if seleccionar_turno %}
<script type="text/javascript">
$(function(){
	mostrarAvisoSeleccionarTurnoIntervencion();
});
</script>
{% endif %}

<!-- Modal de la Duracion de la Operacion -->
<div class="modal fade" id="solicitar-quirofano" tabindex="-1" role="dialog" aria-labelledby="solicitar-quirofano-modal-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="solicitar-quirofano-modal-title">
					<strong>Duración de la Intervención Quirúrgica</strong>
				</h4>
			</div>
			<form role="form" class="form-horizontal col-lg-offset-1" action="{% url 'plan_dia' area_actual ano mes dia %}" method="POST" novalidate>
				<div class="modal-body">
					{% csrf_token %}
					{% if formulario_duracion_intervencion_quirurgica.errors %}
					<script type="text/javascript">
					$(function(){
						mostrarModalFormularioDuracionIntervencionQuirurgica();
					});
					</script>
					{% endif %}
					{% render_field formulario_duracion_intervencion_quirurgica.id_intervencion id="id-intervencion-cambiar-horario" %}
					<div class="form-group" id="duracion-form-group">
						<label class="col-lg-2 control-label" for="duracion-horas">
							<span class="glyphicon glyphicon-time">
							</span>
							{{ LABEL_HORAS }}
						</label>
						<div class="col-lg-3">
							{% render_field formulario_duracion_intervencion_quirurgica.horas class="form-control" id="duracion-horas" %}
							<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="duracion-horas-error-feedback-icon"></span>
							<span class="help-block hidden" id="duracion-horas-error-help">{{ formulario_duracion_intervencion_quirurgica.horas.errors }}</span>
						</div>
						<label class="col-lg-2 control-label" for="duracion-minutos">
							<span class="glyphicon glyphicon-time">
							</span>
							{{ LABEL_MINUTOS }}
						</label>
						<div class="col-lg-3">
							{% render_field formulario_duracion_intervencion_quirurgica.minutos class="form-control" id="duracion-minutos" %}
							<span class="glyphicon glyphicon-remove form-control-feedback hidden" id="duracion-minutos-error-feedback-icon"></span>
							<span class="help-block hidden" id="duracion-minutos-error-help">{{ formulario_duracion_intervencion_quirurgica.minutos.errors }}</span>
						</div>
						{% if formulario_duracion_intervencion_quirurgica.horas.errors %}
						<script type="text/javascript">
						$(function(){
							mostrarErroresDuracionHoras();
						});
						</script>
						{% endif %}
						{% if formulario_duracion_intervencion_quirurgica.minutos.errors %}
						<script type="text/javascript">
						$(function(){
							mostrarErroresDuracionMinutos();
						});
						</script>
						{% endif %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{ CANCELAR }}
					</button>
					<button type="submit" id="aceptar-duracion" class="btn btn-primary btn-loading" data-loading-text="{{ ESPERE }}">
						{{ ACEPTAR }}
					</button>
				</div>
			</form>
		</div>
	</div>
</div><!-- Modal de la Duracion de la Operacion -->

{% for reservacion in reservaciones %}
{% include "plan_quirurgico/modal_detalle_intervencion.html" with reservacion=reservacion vista_plan_dia=True es_coordinador=es_coordinador %}
{% endfor %}

<!-- Plan Quirurgico por Dia -->
<div class="row">
	<div class="col-lg-1 col-lg-offset-1">
		<table class="table table-bordered table-responsive table-horas less-zoom">
			<thead>
				<tr>
					<th>
						<span class="glyphicon glyphicon-time">
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for media_hora_legible in medias_horas_legibles %}
				<tr><td> {{ media_hora_legible }} </td></tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-lg-9 scrollable-plan dragon">
		<table class="table table-bordered table-hover table-responsive table-plan less-zoom">
			<thead>
				<tr>
					{% for quirofano in quirofanos %}
					<th>{{ quirofano.nombre }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for media_hora in medias_horas %}
				<tr>
					{% for quirofano in quirofanos %}
					{% if quirofano.intervenciones %}
					{% if media_hora in quirofano.intervenciones.keys %}
					{% with quirofano.intervenciones|valor_clave:media_hora as intervencion %}
					{% with quirofano.intervenciones.values|ocurrencias:intervencion as duracion %}
					{% if intervencion.obtener_hora_inicio_horas == media_hora %}
					<td class="unavailable position-relative" data-togle="tooltip" data-placement="right" title="{{ quirofano.nombre }}" rowspan="{{ duracion }}">
						<p class="label label-info">{{ LABEL_DR }} {{ intervencion.reservacion.medico.apellido }}</p>
						<a href="#" class="cell-centered" data-toggle="modal" data-target="#modal-reservacion-{{ intervencion.reservacion.pk }}">
							<span class="glyphicon glyphicon-fullscreen"></span>
						</a>
						{% if es_coordinador %}
						<form class="cell-bottom-left" role="form" action="{% url 'eliminar_intervencion_quirurgica' area_actual ano mes dia intervencion.id %}" method="POST" novalidate>
							{% csrf_token %}
							<button type="submit" class="btn btn-danger btn-sm btn-loading" data-loading-text="{{ ELIMINANDO }}">
								<span class="glyphicon glyphicon-trash"></span>
								{{ ELIMINAR }}
							</button>
						</form>
						{% endif %}
					</td>
					{% endif %}
					{% endwith %}
					{% endwith %}
					{% else %}
					{% if seleccionar_turno %}
					{% if media_hora in quirofano.turnos_disponibles %}
					<td class="available available-select" data-toogle="tooltip" data-placement="right" title="{{ quirofano.nombre }}" rowspan="{{ cantidad_medias_horas_intervencion }}">
						{% if not seleccionar_turno_cambio_horario %}
						<a class="btn btn-primary btn-loading" href="{% url 'solicitud_quirofano' ano mes dia quirofano.clave_primaria media_hora cantidad_medias_horas_intervencion %}" data-loading-text="{{ ESPERE }}">
							{{ SELECCIONAR_TURNO }}
						</a>
						{% else %}
						<form role="form" action="{% url 'cambiar_horario_intervencion_quirurgica' id_intervencion_cambiar_horario area_actual ano mes dia quirofano.clave_primaria media_hora cantidad_medias_horas_intervencion %}" method="POST">
							{% csrf_token %}
							<button class="btn btn-primary btn-loading" type="submit" data-loading-text="{{ ESPERE }}">{{ SELECCIONAR_TURNO }}</button>
						</form>
						{% endif %}
					</td>
					{% elif media_hora in quirofano.medias_horas_disponibles_atravesadas %}
					<td class="unavailable-striped" data-toogle="tooltip" data-placement="right" title="{{ quirofano.nombre }}">
					</td>
					{% endif %}
					{% else %}
					<td class="available" data-toogle="tooltip" data-placement="right" title="{{ quirofano.nombre }}">
					</td>
					{% endif %}
					{% endif %}
					{% else %}
					{% if seleccionar_turno %}
					{% if media_hora in quirofano.turnos_disponibles %}
					<td class="available available-select" data-toogle="tooltip" data-placement="right" title="{{ quirofano.nombre }}" rowspan="{{ cantidad_medias_horas_intervencion }}">
						{% if not seleccionar_turno_cambio_horario %}
						<a class="btn btn-primary btn-loading" href="{% url 'solicitud_quirofano' ano mes dia quirofano.clave_primaria media_hora cantidad_medias_horas_intervencion %}" data-loading-text="{{ ESPERE }}">
							{{ SELECCIONAR_TURNO }}
						</a>
						{% else %}
						<form role="form" action="{% url 'cambiar_horario_intervencion_quirurgica' id_intervencion_cambiar_horario area_actual ano mes dia quirofano.clave_primaria media_hora cantidad_medias_horas_intervencion %}" method="POST">
							{% csrf_token %}
							<button class="btn btn-primary btn-loading" type="submit" data-loading-text="{{ ESPERE }}">{{ SELECCIONAR_TURNO }}</button>
						</form>
						{% endif %}
					</td>
					{% elif media_hora in quirofano.medias_horas_disponibles_atravesadas %}
					<td class="unavailable-striped" data-toogle="tooltip" data-placement="right" title="{{ quirofano.nombre }}">
					</td>
					{% endif %}
					{% else %}
					<td class="available" data-toogle="tooltip" data-placement="right" title="{{ quirofano.nombre }}">
					</td>
					{% endif %}
					{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-lg-1">
		<table class="table table-help">
			<thead>
				<th>
				</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<p class="label label-available">{{ DISPONIBLE }}</p>
						<p class="label label-unavailable">{{ NO_DISPONIBLE }}</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div><!-- Plan Quirurgico por Dia -->
{% endblock content %}
