{% extends "base.html" %}

{% load staticfiles  %}

{% block title %}{{ block.super }} | Mis Solicitudes{% endblock title %}

{% block jquery %}
<script type="text/javascript">
$(document).ready(function() {
	$("#ver-info-paciente").click(function() {
		$("#formulario-solicitud-quirofano").addClass("hidden");
		$("#formulario-solicitud-paciente").removeClass("hidden");
	});

	$("#volver-info-quirofano").click(function() {
		$("#formulario-solicitud-paciente").addClass("hidden");
		$("#formulario-solicitud-quirofano").removeClass("hidden");
	});

	$("#ver-info-honorarios").click(function() {
		$("#formulario-solicitud-paciente").addClass("hidden");
		$("#formulario-solicitud-honorarios").removeClass("hidden");
	});

	$("#volver-info-paciente").click(function() {
		$("#formulario-solicitud-honorarios").addClass("hidden");
		$("#formulario-solicitud-paciente").removeClass("hidden");
	});

	var nivel = $("input[name=riesgo]");
	nivel.change(function(){
		nivel_seleccionado = $("input[name=riesgo]:checked");
		if (nivel_seleccionado.val() == "malo")
			$("#razon-riesgo").removeClass("hidden");
		else {								
			$("#razon-riesgo-input").val("");
			$("#razon-riesgo").addClass("hidden");			
		}
	});

	var forma_pago = $("input[name=forma-pago]");
	forma_pago.change(function(){
		seguro = $("input[name=forma-pago]:checked");
		if (seguro.val() == "seguro")
			$("#seguros").removeClass("hidden");
		else {										
			$("#seguros").addClass("hidden");			
		}
	});

	var hospitalizado = $("input[name=paciente-hospitalizado]");
	hospitalizado.change(function(){
		$("#habitacion").toggleClass("hidden");
	});
});
</script>	
{% endblock jquery %}

{% block navbar-nav %}
<li><a href="#">Plan Quirúrgico</a></li>
<li class="active"><a href="#">Mis Solicitudes</a></li>
<li><a href="#">Próximas Operaciones</a></li>	
{% endblock navbar-nav %}

{% block navbar-nav-extra %}
<ul class="nav navbar-nav navbar-right">
	<p class="navbar-text">Christians González</p>
	<li>
		<a href="#">Mensajes
			<span class="badge">7</span>
		</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Ajustes</a></li>
			<li class="divider"></li>
			<li><a href="#">Cerrar Sesión</a></li>
		</ul>
	</li>
</ul>
{% endblock navbar-nav-extra %}

{% block content %}
<div class="page-header">
	<h1>Mis Solicitudes</h1>
</div>
<div class="row">
	<div class="col-lg-offset-1 col-lg-9">
		<ul class="nav nav-tabs">
			<li>
				<a href="#">Aprobadas
					<span class="glyphicon glyphicon-ok"></span>
				</a>
			</li>
			<li class="active">
				<a href="#">En espera
					<span class="glyphicon glyphicon-question-sign"></span>
				</a>
			</li>
			<li>
				<a href="#">Rechazadas
					<span class="glyphicon glyphicon-ban-circle"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-1">
		<button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
			Ver <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">Última semana</a></li>
			<li><a href="#">Último mes</a></li>
			<li><a href="#">Últimos 3 meses</a></li>
			<li class="divider"></li>
			<li><a href="#" data-toggle="modal" data-target="#seleccionar-periodo">Seleccionar período</a></li>
		</ul>
	</div>
</div><!-- Pestañas y Filtro -->

<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<ul class="list-group">
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
			<a href="#" class="list-group-item" data-toggle="modal" data-target="#detalles-solicitud">
				<span class="label label-info">Paciente: José Castillo</span>
				<span class="label label-default">
					<abbr title="Intervención">Int.</abbr>
					Quirúrgica: Reducción Gástrica
				</span>
				<span class="pull-right">
					<small>
						<strong>Fecha de Solicitud: XX-XX-XX</strong>
					</small>
				</span>
			</a>
		</ul>
	</div>
</div><!-- Lista de Solicitudes -->

<div class="modal fade" id="detalles-solicitud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Detalles de Solicitud</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="formulario-solicitud-quirofano">
					<div class="form-group">
						<label class="col-lg-2 control-label">Área:</label>
						<div class="col-lg-2">
							<p class="form-control-static">Quirúrgica</p>
						</div>
						<label class="col-lg-2 control-label">Quirófano:</label>
						<div class="col-lg-2">
							<p class="form-control-static">Quirófano 4</p>
						</div>
						<label class="col-lg-2 control-label">Fecha: </label>
						<div class="col-lg-2">
							<p class="form-control-static">14/03/2014</p>
						</div>												
					</div>					
					<div class="form-group">
						<label class="col-lg-2 control-label">Hora Inicio: </label>
						<div class="col-lg-2">
							<p class="form-control-static">8:30am</p>
						</div>
						<label class="col-lg-2 control-label">Hora Fin: </label>
						<div class="col-lg-2">
							<p class="form-control-static">10:30am</p>
						</div>											
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo_solicitud">Tipo:</label>
						<div class="col-lg-10">
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo_solicitud" value="emergencia" >
									Emergencia
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo_solicitud" value="electiva" checked>
									Electiva
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="tipo_solicitud" value="paliativa" >
									Paliativa
								</label>
							</div>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo_operacion">Operación:</label>
						<div class="col-lg-10">
							<select class="form-control" name="tipo_operacion">
								<option>Reducción Gastrica</option>
								<option>Liposucción</option>
								<option>Intervención Cardíaca</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="tipo_anestesia">Anestesia:</label>
						<div class="col-lg-10">
							<select class="form-control" name="tipo_anestesia">
								<option>General</option>
								<option>Local</option>
							</select>
						</div>
					</div>
					<div class="form-group">						
						<label class="col-lg-2 control-label" for="observaciones">Observaciones:</label>
						<div class="col-lg-10">
							<textarea class="form-control" name="observaciones" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="riesgo">Nivel de Riesgo:</label>
						<div class="col-lg-10">
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="bueno" >
									Bueno
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="regular" checked>
									Regular
								</label>
							</div>	
							<div class="radio-inline">
								<label>
									<input type="radio" name="riesgo" value="malo">
									Malo
								</label>
							</div>
						</div>					
					</div>
					<div class="form-group hidden" id="razon-riesgo">
						<div class="col-lg-offset-2 col-lg-10">
							<textarea class="form-control" id="razon-riesgo-input" name="razon" rows="3" placeholder="Indique razón del riesgo"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="equipo_especial_requerido">Equipos
							<abbr title="Especiales">Esp.</abbr>:
						</label>
						<div class="col-lg-10">
							<select multiple class="form-control" name="equipo_especial_requerido">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
						</div>
					</div>	
					<div class="form-group">
						<label class="col-lg-2 control-label" for="material_quirurgico">Material
							<abbr title="Quirúrgico">Quir.</abbr>:
						</label>
						<div class="col-lg-10">
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option1"> Sutura Especial
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option2"> Protack
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option3"> Malla Polipropileno
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option4"> Malla Dual Mesh
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option5"> Máquina de Autosutura
							</label>
						</div>
					</div>	
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-6">
							<input type="text" class="form-control" name="otro_material_quirurgico" placeholder="Especifique otro" />					
						</div>
					</div>							
					<div class="form-group">
						<div class="col-lg-offset-10">							<a href="javascript:void(0);" class="btn btn-default" id="ver-info-paciente">Paciente</a>			
						</div>
					</div>
				</form><!-- Formulario Solicitud Quirofano -->

				<form class="form-horizontal hidden" role="form" id="formulario-solicitud-paciente">
					<div class="form-group">
						<label class="col-lg-2 control-label" for="nombre">Nombre:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control" name="nombre" value="Enrique">
						</div>
						<label class="col-lg-2 control-label" for="apellido">Apellido:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control" value="Mata">
						</div>
					</div><!-- Nombre y Apellido -->
					<div class="form-group">
						<label class="col-lg-2 control-label" for="cedula">Cedula:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control" name="cedula" value="19803052">
						</div>
						<label class="col-lg-2 control-label" for="fecha-nacimiento">Fecha
							<abbr title="Nacimiento">Nac.</abbr>:
						</label>
						<div class="col-lg-4">
							<input type="date" class="form-control" name="fecha-nacimiento">
						</div>
					</div><!-- Cedula y Fecha de Nacimiento -->
					<div clas="form-group">
						<label class="col-lg-2 control-label" for="sexo">Sexo:</label>
						<div class="col-lg-10">
							<div class="radio-inline">
								<label>
									<input type="radio" name="sexo" value="M" checked> Masculino
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="sexo" value="F">
									Femenino
								</label>
							</div>
						</div>
					</div><!-- Sexo -->
					<div class="form-group">
						<label class="col-lg-2 control-label" for="telefono">Teléfono:</label>
						<div class="col-lg-2">
							<input type="text" class="form-control" value="424">
						</div>
						<div class="col-lg-3">
							<input type="text" class="form-control" name="telefono" value="1587765">
						</div>
					</div><!-- Telefono -->
					<div class="form-group">						
						<label class="col-lg-2 control-label" for="diagnostico_ingreso">Diagnóstico de Ingreso:</label>
						<div class="col-lg-10">
							<textarea class="form-control" name="diagnostico_ingreso" rows="3"></textarea>
						</div>
					</div><!-- Diagnostico -->
					<div clas="form-group">
						<label class="col-lg-2 control-label" for="forma-pago">Forma de Pago:</label>
						<div class="col-lg-10">
							<div class="radio-inline">
								<label>
									<input type="radio" name="forma-pago" value="particular" checked> Particular
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="forma-pago" value="seguro"> Seguro								
								</label>
							</div>
						</div>
					</div><!-- Forma de Pago -->
					<div class="form-group hidden" id="seguros">
						<label class="col-lg-2 control-label" for="compania_aseguradora">Compañia Aseguradora:</label>
						<div class="col-lg-10">
							<select class="form-control" name="compania_aseguradora">
								<option>Seguros Altamira</option>
								<option>Seguros Mercantil</option>
							</select>
						</div>
					</div><!-- Seguros -->
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-4">
							<label class="checkbox-inline">
								<input type="checkbox" name="paciente-hospitalizado"> Paciente Hospitalizado
							</label>
						</div>
						<div class="col-lg-6 hidden" id="habitacion">
							<select class="form-control" name="paciente-hospitalizado-habitacion">
								<option>hab1</option>
								<option>hab2</option>
								<option>hab3</option>
							</select>
						</div>
					</div><!-- Paciente Hospitalizado -->
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-4">
							<label class="checkbox-inline control-label">
								<input type="checkbox" name="paciente-impres"> Paciente Suscrito a Impres
							</label>
						</div>
					</div><!-- Paciente Impres -->
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-4">
							<label class="checkbox-inline control-label">
								<input type="checkbox" name="paciente-medico"> Paciente Médico
							</label>
						</div>
					</div>
					<div class="form-group hidden" id="medicoPariente">
						<div class="col-lg-5">
							<input type="text" class="form-control" id="medico_pariente" name="medico_pariente" placeholder="Nombre y Apellido"/>
						</div>
						<div class="col-lg-5">
							<input type="text" class="form-control" id="ci_medico_pariente" name="ci_medico_pariente" placeholder="Cedula Medico"/>
						</div>
					</div> <!-- Paciente Pariente de Medico -->
					<div class="form-group">
						<div class="col-lg-2">
							<a href="javascript:void(0);" class="btn btn-default" id="volver-info-quirofano">Volver</a>
						</div>
						<div class="col-lg-offset-10">
							<a href="javascript:void(0);" class="btn btn-default" id="ver-info-honorarios">Honorarios</a>
						</div>
					</div>
				</form><!-- Formulario Solicitud Paciente -->

				<form class="form-horizontal hidden" role="form" id="formulario-solicitud-honorarios">				
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-anestesiologo">Anestesiólogo:</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="nombre-anestesiologo" value="Juan" />
							</div>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="apellido-anestesiologo" value="Requesens" />
							</div>
						</div><!-- Anestesiologo -->
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-ayudante-1">Primer Ayudante:</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="nombre-ayudante-1" value="Juan" />
							</div>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="apellido-ayudante-1" value="Pirela" />
							</div>
						</div><!-- Primer Ayudante -->
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-ayudante-2">Segundo Ayudante:</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="nombre-ayudante-2" value="Juan" />
							</div>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="apellido-ayudante-2" value="Ramos" />
							</div>
						</div><!-- Segundo Ayudante -->
						<div class="form-group">
							<label class="col-lg-2 control-label" for="nombre-ayudante-3">Tercer Ayudante:</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="nombre-ayudante-3" value="Armando" />
							</div>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="apellido-ayudante-3" value="Casas" />
							</div>
						</div><!-- Tercer Ayudante -->						
						<div class="form-group">
							<div class="col-lg-3">
								<a href="javascript:void(0);" class="btn btn-default" id="volver-info-paciente">Volver</a>			
							</div>
						</div><!-- Submit -->
				</form><!-- Formulario Solicitud Honorarios -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary">Guardar Cambios</button>
			</div>
		</div>
	</div>
</div><!-- Modal de Detalles de Solicitud -->

<div class="modal fade" id="seleccionar-periodo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Seleccione Período</h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<div class="col-lg-3">
							<label for="desde">Desde:</label>
						</div>
						<div class="col-lg-9">
							<input type="date" class="form-control" name="desde">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-3">
							<label for="hasta">Hasta:</label>
						</div>
						<div class="col-lg-9">
							<input type="date" class="form-control" name="hasta">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary">Aceptar</button>
			</div>
		</div>
	</div>
</div><!-- Modal de Seleccion de Periodo a Mostrar -->
{% endblock content %}