{% extends "base.html" %}

{% load staticfiles %}

{% block title %} {{block.super}} | Solictud {% endblock title %} 

{% block jquery %}
<script type="text/javascript">
$(document).ready(function() {
	var nivel = $("input[name=riesgo]");
	nivel.change(function(){
		nivelSelect = $("input[name=riesgo]:checked");
		if (nivelSelect.val() == "malo")
			$("#divRazon").removeClass("hidden");
		else {								
			$("#textareaRazon").val("");
			$("#divRazon").addClass("hidden");			
		}
	});

	$("#paciente").click(function() {
		$("#formulario-solicitud-quirofano").addClass("hidden");
		$("#formulario-solicitud-paciente").removeClass("hidden");  		
	});	
	
	$("#volver").click(function() {
		$("#formulario-solicitud-paciente").addClass("hidden");  		
		$("#formulario-solicitud-quirofano").removeClass("hidden");		
	});	

	$("#honorario").click(function() {
		$("#formulario-solicitud-paciente").addClass("hidden");  		
		$("#formulario-solicitud-honorarios").removeClass("hidden");		
	});

	$("#volverPaciente").click(function() {
		$("#formulario-solicitud-paciente").removeClass("hidden");  		
		$("#formulario-solicitud-honorarios").addClass("hidden");		
	});

	var forma_pago = $("input[name=forma_pago]");
	forma_pago.change(function(){
		seguro = $("input[name=forma_pago]:checked");
		if (seguro.val() == "seguro")
			$("#seguros").removeClass("hidden");
		else {										
			$("#seguros").addClass("hidden");			
		}
	});

	var hospitalizado = $("input[name=hospitalizado]");
	hospitalizado.change(function(){
		estaHospitalizado = $("input[name=hospitalizado]:checked");
		if (estaHospitalizado.val() == "si")
			$("#habitacion").removeClass("hidden");
		else {										
			$("#habitacion").addClass("hidden");
			$("#num_habitacion").val("");			
		}
	});

	var medico = $("input[name=paciente_medico]");
	medico.change(function(){
		esMedico = $("input[name=paciente_medico]:checked");
		if (esMedico.val() == "si") {
			$("#pacienteEsMedico").removeClass("hidden");
			$("#EsMedicoInscrito").removeClass("hidden");		
		}
		else {										
			$("#pacienteEsMedico").addClass("hidden");			
			$("#paciete_esMedico").val("");			
			$("#EsMedicoInscrito").addClass("hidden");
			$("#num_carnet").val("");		
		}
	});

	var inscrito = $("input[name=inscrito]");
	inscrito.change(function(){
		estaInscrito = $("input[name=inscrito]:checked");
		if (estaInscrito.val() == "si")
			$("#pacienteInscrito").removeClass("hidden");
		else {										
			$("#pacienteInscrito").addClass("hidden");
			$("#carnet").val("");			
		}
	});

	var pariente = $("input[name=pariente]");
	pariente.change(function(){
		esPariente = $("input[name=pariente]:checked");
		if (esPariente.val() == "si") {
			$("#esPariente").removeClass("hidden");
			$("#medicoPariente").removeClass("hidden");
		}
		else {										
			$("#esPariente").addClass("hidden");
			$("#es_pariente").val("");
			$("#medicoPariente").addClass("hidden");			
			$("#medico_pariente").val("");
			$("#ci_medico_pariente").val("");
		}
	});
})
</script>
{% endblock jquery %}

{% block navbar-nav-extra %}
<span class="help-block navbar-right">
	<a href="#"><small>Medico.usuario18</small></a>
</span> <!-- Nombre de Usuario -->
{% endblock navbar-nav-extra %}

{% block content %}
<div class="page-header">
	<h1>Solicitud de Quirófano</h1>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<h1 class="panel-title" id="titulo-solicitar-quirofano">Solicitar Quirófano</h1>
				</div>				
			</div>
			<form class="form-horizontal" role="form" id="formulario-solicitud-quirofano">
				<div class="panel-body">
					<div class="form-group">
						<label class="col-lg-1 control-label">Area: </label>
						<div class="col-lg-1">
							<p class="form-control-static">Quirurgica</p>
						</div>
						<label class="col-lg-offset-1 col-lg-2 control-label">Quirófano: </label>
						<div class="col-lg-3">
							<p class="form-control-static">Quirófano 4</p>
						</div>
						<label class="col-lg-1 control-label">Fecha: </label>
						<div class="col-lg-2">
							<p class="form-control-static">14/03/2014</p>
						</div>												
					</div>					
					<div class="form-group">
						<label class="col-lg-1 control-label">Inicio: </label>
						<div class="col-lg-2">
							<p class="form-control-static">8:30am</p>
						</div>
						<label class="col-lg-1 control-label">Fin: </label>
						<div class="col-lg-2">
							<p class="form-control-static">10:30am</p>
						</div>
						<div class="col-lg">
							<label for="riesgo">Tipo:</label>
						</div>
						<div class="col-lg-2 radio">
							<label>
								<input type="radio" name="tipo_solicitud" value="emergencia" >
								Emergencia
							</label>
						</div>
						<div class="col-lg-2 radio">
							<label>
								<input type="radio" name="tipo_solicitud" value="electiva" >
								Electiva
							</label>
						</div>
						<div class="col-lg-1 radio">
							<label>
								<input type="radio" name="tipo_solicitud" value="paliativa" >
								Paliativa
							</label>
						</div>												
					</div>
					<div class="form-group">
						<div class="col-lg-3">
							<label for="tipo operacion">Operacion:</label>
						</div>
						<div class="col-lg-9">
							<select class="form-control">
								<option>Reducción Gastrica</option>
								<option>Liposucción</option>
								<option>Intervención Cardiaca</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-3">
							<label for="tipo anestecia">Anestecia:</label>
						</div>
						<div class="col-lg-6">
							<select class="form-control">
								<option>General</option>
								<option>Local</option>
							</select>
						</div>
					</div>
					<div class="form-group">						
						<div class="col-lg-3">
							<label for="observaciones">Observaciones:</label>
						</div>
						<div class="col-lg-9">
							<textarea class="form-control" name="observaciones" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group" id="nivelRiesgo">
						<div class="col-lg-3">
							<label for="riesgo">Nivel de Riesgo:</label>
						</div>
						<div class="col-lg-3 radio">
							<label>
								<input type="radio" name="riesgo" id="optionsRadios1" value="bueno" >
								Bueno
							</label>
						</div>
						<div class="col-lg-3 radio">
							<label>
								<input type="radio" name="riesgo" id="optionsRadios2" value="regular" checked>
								Regular
							</label>
						</div>	
						<div class="col-lg-3 radio">
							<label>
								<input type="radio" name="riesgo" id="optionsRadios3" value="malo">
								Malo
							</label>
						</div>					
					</div>
					<div class="form-group hidden" id="divRazon">						
						<div class="col-lg-3">
							<label for="razon">Razón de Riesgo:</label>
						</div>
						<div class="col-lg-9">
							<textarea class="form-control" id="textareaRazon" name="razon" rows="3"></textarea>
						</div>
					</div>	
					<div class="form-group">
						<div class="col-lg-3">
							<label for="equipos especiales">Equipos Especiales:</label>
						</div>
						<div class="col-lg-9">
							<select multiple class="form-control" name="equipo_especial_requerido">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>								
							</select>
						</div>
					</div>	
					<div class="form-group">
						<div class="col-lg-3">
							<label for="material quirurjico">Material Quirúrgico:</label>
						</div>
						<div class="col-lg-9">
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option1"> Sutura Especial
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option2"> Protack
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option3"> Malla Polipropileno
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option4"> Malla Dual Mesh
							</label>
						</div>
					</div>	
					<div class="form-group">
						<div class="col-lg-offset-3 col-lg-3">
							<label class="checkbox-inline">
								<input type="checkbox" name="material_quirurgico" value="option5"> Maquina de Autosutura
							</label>								
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="otro_material_quirurgico" placeholder="Otros Materiales" />					
						</div>
					</div>							
				</div>
				<div class="panel-footer">
					<div class="form-group">
						<div class="col-lg-offset-9">							
							<a href="javascript:void(0);" class="btn btn-default btn-lg" id="paciente">Paciente</a>			
						</div>
					</div><!-- Submit -->
				</div>
			</form><!-- Formulario Solicitud Quirofano -->

			<form class="form-horizontal hidden" role="form" id="formulario-solicitud-paciente">
				<div class="panel-body">
					<div class="form-group">
						<div class="col-lg-6">
							<input type="text" class="form-control" placeholder="Nombre">
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" placeholder="Apellido">
						</div>
					</div><!-- Nombre y Apellido -->
					<div class="form-group">
						<div class="col-lg-12">
							<input type="text" class="form-control" placeholder="Cédula">
						</div>
					</div><!-- Cedula -->
					<div class="form-group">
						<div class="col-lg-6">
							<label for="fecha-nacimiento">Fecha de Nacimiento</label>
						</div>
						<div class="col-lg-6">
							<input type="date" class="form-control" name="fecha-nacimiento">
						</div>
					</div><!-- Fecha de Nacimiento -->
					<div clas="form-group">
						<div class="col-lg-6">
							<label for="sexo">Sexo</label>
						</div>
						<div class="col-lg-6">
							<div class="radio-inline">
								<label>
									<input type="radio" name="sexo" value="M" checked> Masculino
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="sexo" value="F">
									Femenino
								</label>
							</div>
						</div>
					</div><!-- Sexo -->
					<div class="form-group">
						<div class="col-lg-3">
							<label for="telefono">Teléfono</label>
						</div>
						<div class="col-lg-3">
							<input type="text" class="form-control" name="telefono" placeholder="Código">
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" placeholder="Número">
						</div>
					</div><!-- Telefono -->
					<div class="form-group">						
						<div class="col-lg-3">
							<label for="diagnostico_ingreso">Diagnostico de Ingreso:</label>
						</div>
						<div class="col-lg-9">
							<textarea class="form-control" name="diagnostico_ingreso" rows="3"></textarea>
						</div>
					</div>	
					<div clas="form-group">
						<div class="col-lg-6">
							<label for="sexo">Forma de Pago:</label>
						</div>
						<div class="col-lg-6">
							<div class="radio-inline">
								<label>
									<input type="radio" name="forma_pago" value="particular"> Particular
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="forma_pago" value="seguro"> Seguro								
								</label>
							</div>
						</div>
					</div><!--  -->
					<div class="form-group hidden" id="seguros">
						<div class="col-lg-3">
							<label for="compania_aseguradora"> Compañia Aseguradora:</label>
						</div>
						<div class="col-lg-9">
							<select class="form-control" name="compania_aseguradora">
								<option selected> </option>
								<option>Altamira</option>
								<option>Mercantil</option>
							</select>
						</div>
					</div> <!-- seguros -->
					<div class="form-group ">
						<div class="col-lg-5">
							<label for="hospitalizado"> El Paciente se encuentra hospitalizado:</label>
						</div>
						<div class="col-lg-2">						
							<div class="radio-inline">
								<label>
									<input type="radio" name="hospitalizado" value="no" checked> No
								</label>
							</div>
							<div class="radio-inline ">
								<label>
									<input type="radio" name="hospitalizado" value="si"> Si									
								</label>
							</div>						
						</div>
						<div class="col-lg-5 hidden" id="habitacion">
							<input type="text" class="form-control" id="num_habitacion" name="num_habitacion" placeholder="Numero Habitación"/>
						</div>
					</div> <!-- Hozpitalizado -->
					<div class="form-group ">
						<div class="col-lg-5">
							<label for="paciente medico"> El Paciente es Medico:</label>
						</div>
						<div class="col-lg-2">						
							<div class="radio-inline">
								<label>
									<input type="radio" name="paciente_medico" value="no"> No
								</label>
							</div>
							<div class="radio-inline ">
								<label>
									<input type="radio" name="paciente_medico" value="si"> Si									
								</label>
							</div>						
						</div>
						<div class="col-lg-5 hidden" id="pacienteEsMedico">
							<input type="text" class="form-control" id="paciete_esMedico" name="num_inscripcion_medico" placeholder="Numero Inscripcion"/>
						</div>
					</div> <!-- Paciente Medico -->
					<div class="form-group hidden" id="EsMedicoInscrito">
						<div class="col-lg-5">
							<label for="paciente medico"> Inscrito en el Impres:</label>
						</div>
						<div class="col-lg-2">						
							<div class="radio-inline">
								<label>
									<input type="radio" name="inscrito" value="no"> No
								</label>
							</div>
							<div class="radio-inline ">
								<label>
									<input type="radio" name="inscrito" value="si"> Si									
								</label>
							</div>						
						</div>
						<div class="col-lg-5 hidden" id="pacienteInscrito">
							<input type="text" class="form-control" id="carnet" name="num_carnet" placeholder="Carnet"/>
						</div>
					</div> <!-- Paciente Inscrito en Impres -->
					<div class="form-group">
						<div class="col-lg-5">
							<label for="pariente"> Pariente de Medico:</label>
						</div>
						<div class="col-lg-2">						
							<div class="radio-inline">
								<label>
									<input type="radio" name="pariente" value="no"> No
								</label>
							</div>
							<div class="radio-inline ">
								<label>
									<input type="radio" name="pariente" value="si"> Si									
								</label>
							</div>						
						</div>
						<div class="col-lg-5 hidden" id="esPariente">
							<input type="text" class="form-control" id="es_pariente" name="parentezco" placeholder="Parentezco"/>
						</div>
					</div>
					<div class="form-group hidden" id="medicoPariente">
						<div class="col-lg-5">
							<input type="text" class="form-control" id="medico_pariente" name="medico_pariente" placeholder="Nombre y Apellido"/>
						</div>
						<div class="col-lg-5">
							<input type="text" class="form-control" id="ci_medico_pariente" name="ci_medico_pariente" placeholder="Cedula Medico"/>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="form-group">
						<div class="col-lg-3">
							<a href="javascript:void(0);" class="btn btn-default btn-lg" id="volver">Volver</a>			
						</div>
						<div class="col-lg-offset-9">
							<a href="javascript:void(0);" class="btn btn-default btn-lg" id="honorario">Honorarios</a>
						</div>
					</div>
				</div>
			</form><!-- Formulario Solicitud Paciente -->

			<form class="form-horizontal hidden" role="form" id="formulario-solicitud-honorarios">
				<div class="panel-body">					
					<div class="form-group">						
						<div class="col-lg-3">
							<label for="observaciones">Observaciones:</label>
						</div>
						<div class="col-lg-9">
							<textarea class="form-control" name="observaciones" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group" id="nivelRiesgo">
						<div class="col-lg-3">
							<label for="riesgo">Nivel de Riesgo:</label>
						</div>
						<div class="col-lg-3 radio">
							<label>
								<input type="radio" name="riesgo" id="optionsRadios1" value="bueno" >
								Bueno
							</label>
						</div>
						<div class="col-lg-3 radio">
							<label>
								<input type="radio" name="riesgo" id="optionsRadios2" value="regular" checked>
								Regular
							</label>
						</div>	
						<div class="col-lg-3 radio">
							<label>
								<input type="radio" name="riesgo" id="optionsRadios3" value="malo">
								Malo
							</label>
						</div>					
					</div>							
				</div>
				<div class="panel-footer">
					<div class="form-group">
						<div class="col-lg-3">
							<a href="javascript:void(0);" class="btn btn-default btn-lg" id="volverPaciente">Volver</a>			
						</div>
						<div class="col-lg-offset-9">
							<button type="submit" class="btn btn-primary btn-lg">Enviar Solicitud</button>
						</div>
					</div><!-- Submit -->
				</div>
			</form><!-- Formulario Solicitud Honorarios -->


		</div>
	</div>
</div>
{% endblock content %}